<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/bill-notif']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button
				[disabled]="editMode && loading.acc || loading.submited">
				<span class="kt-hidden-mobile">Send Notifications</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<section class="billingNotif">
			<div class="section">
				<form [formGroup]="billingNotifForm">
					<div class="row form-input mb-1">
						<!-- <div class="col-md-8 row mb-1"> -->
							<label for="crdate" class="label-custom col-sm-2">Select Type</label>
							<mat-form-field class="mat-form-field-fluid col-sm-4">
								<mat-select formControlName="type_notif" [(ngModel)]="selectedType">
									<mat-option *ngFor="let item of typeNotifOptions" [value]="item.value" (click)="changeType(item.value)">{{item.viewValue}}</mat-option>
								</mat-select>
								<mat-error>Jenis is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						<!-- </div> -->
					</div>
					<div *ngIf="selectedType == 'tagihan'" class="row form-input-date mb-1">
						<label for="" class="label-custom col-sm-2">Periode</label>
						<mat-form-field class="mat-form-field-fluid col-sm-2" period>
							<input matInput class="inpt-custom" [matDatepicker]="period" (click)="period.open()" (input)="validateLoadUnit()"
								formControlName="period" autocomplete="off" />
							<mat-datepicker-toggle class="ic-date" matSuffix [for]="period"></mat-datepicker-toggle>
							<mat-datepicker #period startView="year" (monthSelected)="chosenMonthHandler($event, period)" (dateFormat)="PERIOD" ></mat-datepicker>
							<mat-error>Periode is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="selectedType != 'tagihan'" class="row form-input-date mb-1">
						<!-- <div class="col-md-8 row mb-1"> -->
							<label for="crdate" class="label-custom col-sm-2 mr-3">Period</label>
							<div class="col-sm-4 row">
								<div class="col mr-2">
									<label for="" class="row label-custom">From</label>
									<mat-form-field class="mat-form-field-fluid row">
										<input matInput class="inpt-custom" [matDatepicker]="startPeriod" (click)="startPeriod.open()" (dateChange)="validateLoadUnit()"
											formControlName="start_period" autocomplete="off" />
										<mat-datepicker-toggle class="ic-date" matSuffix [for]="startPeriod"></mat-datepicker-toggle>
										<mat-datepicker #startPeriod ></mat-datepicker>
										<mat-error>Input Date is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
									
								</div>
								<div class="col">
									<label for="" class="row label-custom">To</label>
									<mat-form-field class="mat-form-field-fluid row">
										<input matInput class="inpt-custom" [matDatepicker]="endPeriod" (click)="endPeriod.open()"  (dateChange)="validateLoadUnit()"
											formControlName="end_period" autocomplete="off" />
										<mat-datepicker-toggle class="ic-date" matSuffix [for]="endPeriod"></mat-datepicker-toggle>
										<mat-datepicker #endPeriod></mat-datepicker>
										<mat-error>Input Date is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							
						<!-- </div> -->

					</div>
					<div class="row pl-3 mb-1">
						
						<div class="col-sm-2">

						</div>
						<div class="col-sm-10 border">
							<div class="row">
								<div class="col">
									<div class="float-left">
										<mat-form-field class="example-form-field mr-2">
											<mat-label class="text-primary fw-bold">Search Unit</mat-label>
											<input matInput type="text" (keyup)="onChange($event)">

										</mat-form-field>
									</div>

								</div>
								<div class="col">
									<div class="float-right mt-1">
										<button mat-raised-button type="button" color="primary" (click)="clearAllSelection($event)">
											<mat-icon class="mt-2">autorenew</mat-icon>
											Reset
										</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col mb-3 ml-2 mr-2 border-top border-secondary checkbox-container">
									<div class="row mt-1 mb-2 mx-0">
										<button mat-button type="button" color="danger" class="p-0 mx-0 select-all"
											(click)="masterToggle()" [disabled]="loading.loadUnit">
											<mat-icon class="mt-2">check_circle_outline</mat-icon>
											Select All
										</button>
										<span *ngIf="loading.loadUnit" class="col-sm-1"><mat-spinner diameter="20"></mat-spinner></span>
									</div>
									
									<div *ngIf="!loading.loadUnit" class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let list of unitRes; let id = index">
											<mat-checkbox class="fs-" (click)="selectUnit(list ,$event)"
												(change)="$event ? unitSelection.toggle(list._id) : null"
												[checked]="unitSelection.isSelected(list._id)">
												<small>{{ list.cdunt }}</small>
											</mat-checkbox>
										</div>
									</div>
								</div>
								<div class="col d-flex flex-column flex-wrap mb-3 ml-4 px-4 py-2 border border-bottom-0 selected-container border-secondary">
									<div class="row">
										<p class="font-italic col-12 row">Unit Selected</p>

										<mat-chip-list aria-label="Fish selection" class=" col-12 row">
											<mat-chip *ngFor="let item of selectedUnit">
												<small>{{item.cdunt}}</small>
												<mat-icon matChipRemove (click)="_deleteUntList(item)">cancel</mat-icon>
											</mat-chip>
										</mat-chip-list>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row form-input mt-4 mb-1">
						<label for="crdate" class="label-custom col-sm-2">Title</label>
						<mat-form-field class="mat-form-field-fluid col-sm-4">
							<input matInput class="inpt-custom" formControlName="title" autocomplete="off" />
							<mat-error>Title is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="row form-input mb-1">
						<label for="crdate" class="label-custom col-sm-2">Description</label>
						<mat-form-field class="mat-form-field-fluid col-sm-10 example-full-width">
							<textarea matInput class="inpt-custom-texarea" formControlName="description" autocomplete="off"></textarea>
							<mat-error>Description is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</form>
			</div>
		</section>
		
		
	</kt-portlet-body>
</kt-portlet>