<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/assetDepreciation']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="kt-margin-r-10" (click)="reset()"  mat-raised-button>
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button >
				<span class="kt-hidden-mobile">Save</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Asset Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="ad">
						<form [formGroup]="adForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="date" placeholder="Aquicition Date" formControlName="aquicitionDate" (click)="date.open()" autocomplete="off"/>
											<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
											<mat-datepicker #date></mat-datepicker>
											<mat-error>Aquicition Date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Asset Name" formControlName="assetManagement" #am (selectionChange)="getamId(am.value)">
												<mat-option *ngFor="let item of amResult" [value]="item._id">
													{{ item.assetName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Asset Code" formControlName="codeAsset" />
											<mat-error>Asset Code is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="remarks" />
											<mat-error>Description is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Price" formControlName="price" />
											<mat-error>Price
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Depreciation Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="ad">
						<form [formGroup]="adForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Dept Method " formControlName="depMethod" (selectionChange)="perhitungan()">
												<mat-option value="Non Depreciable">Non Depreciable</mat-option>
												<mat-option value="Straight Line Method">Straight Line Method</mat-option>
												<!-- <mat-option value="Sum of Year Digit Method">Sum of Year Digit Method</mat-option> -->
												<mat-option value="Double Declining Method">Double Declining Method</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Est. Life (year)" formControlName="life" type="number" (change)="perhitungan()"/>
											<mat-error>Est. Life is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Dept Rate (%)" formControlName="depRate"/>
											<mat-error>Dept Rate is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Asset Account" formControlName="assetAccount">
												<mat-option *ngFor="let item of acResult" [value]="item._id">
													{{ item.acctName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile" [hidden]="hiddendata">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Accumulated Dep Acct" formControlName="accumulatedDepAcct" >
												<mat-option *ngFor="let item of adaResult" [value]="item._id">
													{{ item.acctName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile" [hidden]="hiddendata">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Depreciation Exp Acct" formControlName="depreciationExpAcct" >
												<mat-option *ngFor="let item of deaResult" [value]="item._id">
													{{ item.acctName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div> -->
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Expenditures" formControlName="expenditures">
												<mat-option *ngFor="let item of exResult" [value]="item._id">
													{{ item.acctName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-checkbox formControlName="intangibleAsset">Intangible Asset</mat-checkbox>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-checkbox formControlName="fiscalFixedAsset">Fiscal Fixed Asset</mat-checkbox>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

