<div class="container">
  <h1 mat-dialog-title>Add Virtual Account</h1>
  <div mat-dialog-content>

    <form [formGroup]="productForm" class="d-block">
      <div class="col-lg-12">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="number" formControlName="va_ipl" placeholder="VA IPL" autocomplete="off"
            value={{dataSend.va_ipl}} maxlength="50" />
          <mat-error>va_ipl is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="number" formControlName="va_water" placeholder="VA Water" autocomplete="off"
            value={{dataSend.va_water}} maxlength="50" />
          <mat-error>va_water is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="number" formControlName="va_power" placeholder="VA Power" autocomplete="off"
            value={{dataSend.va_power}} maxlength="50" />
          <mat-error>va_power is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="number" formControlName="va_utility" placeholder="VA Utility" autocomplete="off"
            value={{dataSend.va_utility}} maxlength="50" />
          <mat-error>va_utility is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="number" formControlName="va_gas" placeholder="VA Gas" autocomplete="off"
            value={{dataSend.va_gas}} maxlength="50" />
          <mat-error>va_gas is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="number" formControlName="va_parking" placeholder="VA Parking" autocomplete="off"
            value={{dataSend.va_parking}} maxlength="50" />
          <mat-error>va_parking is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="actions__container">
    <button mat-raised-button color="warn" (click)="onNoClick()">No</button>
    <button mat-raised-button color="primary" (click)="saveButton()">Save</button>
  </div>
</div>