<div class="sty-default container">
  <h3 class="sty-default  text-center" mat-dialog-title>Confirmation</h3>
  <hr>
  <div mat-dialog-content>
    <p class="qt-fnt">Are you sure to pay ?</p>
    <div class="d-flex flex-column flex-wrap" style="height: 200px;">
      <span class="bill-pay" *ngFor="let item of dataSend.descDetail">
        - {{item?.billing_number | titlecase}}
        {{item?.tgl}}
        {{item?.ticketId | uppercase}}
        {{item?.billingNo | uppercase}}
      </span>
    </div>
  </div>
  <hr>
  <div mat-dialog-actions class="actions__container">
    <button mat-raised-button (click)="onNoClick(false)">Cancel</button>
    <button mat-raised-button color="primary" (click)="paySave()">Pay</button>
  </div>
</div>
