<div class="sty-default container">
  <div mat-dialog-content class="title-header d-flex flex-column align-items-center">
    <img src="../../../../../assets/media/pos/checked.png" alt="checked" width="100">
    <h4 class="mt-3 mb-2">Payment Success !</h4>
    <h5 class="clr-tr mb-3">Total Transaction : Rp. {{dataSend.totalPOS | currency:"idr":""}}</h5>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button class="btn-back mr-3" (click)="back()">Back</button>
    <button class="btn-invoice" (click)="btnPrintReceive()"><img src="../../../../../assets/media/pos/ic-print.png"
        alt="ic-print" width="20">
      Print Receive</button>
  </div>
</div>