<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/accountGroup']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!-- <button class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button
				[disabled]="editMode && loading.acc || loading.submited"> -->
			<button class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button>
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<section class="accGroup">
			<div class="section">
				<!-- Form Input START -->
				<form [formGroup]="accountGroupForm" class="kt-form kt-form--group-seperator-dashed">
					<div class="kt-form__section kt-form__section--first">
						<div class="form-group">
							<div class="row form-input">
								<div class="col-md-6 row">
									<label for="crdate" class="label-custom col-sm-6">Account Type</label>
									<mat-form-field class="inpt-custom mat-form-field-fluid col-sm-6">
										<mat-select class="inpt-custom" formControlName="AccType">
											<mat-option *ngFor="let type of typeResult" [value]=type._id>
												{{type.acctype | uppercase}} - {{type.acctypeno}}
											</mat-option>
										</mat-select>
										<mat-error>Account Type is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>

								<div class="col-md-6 row">
									<label for="crdate" class="label-custom col-sm-6">Account No</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" formControlName="acctNo" autocomplete="off" />
										<mat-error>Account No is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row form-input">
								<div class="col-md-6 row mb-3">
									<label for="crdate" class="label-custom col-sm-6">Account Name</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" formControlName="acctName" autocomplete="off" />
										<mat-error>Account Name is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>

								<div class="col-md-6 row">
									<label for="crdate" class="label-custom col-sm-6">Opening Balance</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" formControlName="openingBalance" autocomplete="off" />
										<mat-error>Opening Balance is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row form-input">
								<div class="col-md-6 row mb-3">
									<label for="crdate" class="label-custom col-sm-6">Balance</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" formControlName="balance" autocomplete="off" />
										<mat-error>Balance is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>

								<div class="col-md-6 row">
									<label for="crdate" class="label-custom col-sm-6">Parent Or Child</label>
									<mat-form-field class="inpt-custom mat-form-field-fluid col-sm-6">
										<mat-select (selectionChange)="onClickParentOrChild($event)" class="inpt-custom"
											[formControl]="formParentOrChild">
											<mat-option value="parent">Parent</mat-option>
											<mat-option value="child">Child</mat-option>
										</mat-select>
										<mat-error>Parent Or Child is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row form-input" *ngIf="!isParent">
								<div class="col-md-6 row mb-3">
									<label for="crdate" class="label-custom col-sm-6">Parent</label>
									<!-- Auto Complete -->
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input type="text" class="inpt-custom" matInput [matAutocomplete]="parentAuto"
											formControlName="parentName" (keyup)="searchParent($event)">
										<mat-error>Fill input by selecting the given items</mat-error>
										<div class="form-loader d-none">
											<mat-spinner [diameter]="10"></mat-spinner>
										</div>
										<mat-autocomplete #parentAuto="matAutocomplete">
											<mat-option *ngFor="let item of parentResult"
												value="{{item.acctNo}} - {{item.acctName | uppercase}}" (click)="parentOnChange(item._id)">
												{{item.acctNo}} - {{item.acctName | uppercase}}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</kt-portlet-body>
</kt-portlet>