<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/billLog']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Biling Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="billLog">
						<form *ngIf="billLogForm" [formGroup]="billLogForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Unit" type="text" formControlName="unit2"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Billed To" type="text" formControlName="billed_to"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile" formGroupName="power">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Electricity Meter" formControlName="powerMeter"/>
											</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile" formGroupName="water">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Water Meter" formControlName="waterMeter"/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-checkbox formControlName="isFreeIpl">Free IPL</mat-checkbox>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-checkbox formControlName="isFreeAbodement">Free Abodement</mat-checkbox>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Total Billing (Rp.)" formControlName="totalBilling"/>
										</mat-form-field>
									</div>
								</div>								
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Billing No." formControlName="billing_number"/>
											<mat-error>Billing No. is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field>
											<input matInput [matDatepicker]="crtdt" placeholder="Created Date" formControlName="created_date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"/>
											<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
											<mat-datepicker #crtdt></mat-datepicker>
											<mat-error>Contract date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field>
											<input matInput [matDatepicker]="billdate" placeholder="Billing Date"  formControlName="billLog_date"/>
											<mat-datepicker-toggle matSuffix [for]="billdate"></mat-datepicker-toggle>
											<mat-datepicker #billdate></mat-datepicker>
											<mat-error>Billing date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field>
											<input matInput [matDatepicker]="ddate" placeholder="Billing Due Date" formControlName="due_date"/>
											<mat-datepicker-toggle matSuffix [for]="ddate"></mat-datepicker-toggle>
											<mat-datepicker #ddate></mat-datepicker>
											<mat-error>Due date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="paiddt" placeholder="Payment Date" formControlName="paidDate" (click)="paiddt" autocomplete="off"/>
											<mat-datepicker-toggle matSuffix [for]="paiddt"></mat-datepicker-toggle>
											<mat-datepicker #paiddt></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Account No" formControlName="customerBankNo" 
												onkeydown="javascript: return event.keyCode === 8 ||
												event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
												<mat-error>Account No is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Bank Name" formControlName="customerBank" />
												<mat-error>Payment From is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Payment Type" formControlName="paymentType">
													<mat-option value="Transfer">Transfer</mat-option>
													<mat-option value="Debit BCA">Debit BCA</mat-option>
													<mat-option value="Other Debit">Other Debit</mat-option>
													<mat-option value="Debit Credit Card">Debit Credit Card</mat-option>
											</mat-select>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Paid To" formControlName="bank">
													<mat-option *ngFor="let item of bankResult" [value]="item._id" >
													{{item.acctName | uppercase}} - {{item.acctNum}}
													</mat-option>
												</mat-select>
												<mat-error>Account Bank is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="desc" />
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Electricity Consumption
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="billLog">
						<form *ngIf="billLogForm" [formGroup]="billLogForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row" formGroupName="power">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Power Rate" formControlName="powerRate"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Total Fee" formControlName="allPowerAmount"/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="power">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Start Meter (kWh)" formControlName="startPower"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="End Meter (kWh)" formControlName="endPower"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Consumption" formControlName="usePower"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Consumption Fee (Rp.)" formControlName="useAmount"/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="power">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Service Charge (%)" formControlName="sc"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Service Charge Fee (Rp.)" formControlName="scAmount" />
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="power">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="PPJU (%)" formControlName="ppju"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="PPJU Fee (Rp.)" formControlName="ppjuAmount" />
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="power">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Loss (%)" formControlName="loss" />
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Loss Fee (Rp.)" formControlName="lossAmount" />
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Water Consumption
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="billLog">
						<form *ngIf="billLogForm" [formGroup]="billLogForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row"  formGroupName="water">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Water Rate" formControlName="waterRate"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Total Consumption" formControlName="allWaterAmount"/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="water">
									<div class="col-lg-3 kt-margin-bottom-20-mobile"  >
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Start Meter (m3)" formControlName="startWater"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="End Meter (m3)" formControlName="endWater"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Consumption" formControlName="useWater"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Consumption Fee (Rp.)" formControlName="useWaterAmount"/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="water">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Administration (Rp.)" formControlName="maintenance"/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row" formGroupName="water">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Maintenance (Rp.)" formControlName="administration"/>
										</mat-form-field>
									</div>
								</div>

								<div class="form-group kt-form__group row" formGroupName="water">
									<div class="col-lg-9 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Water Management (%)" formControlName="dirtyWater" />
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Water Management Fee (Rp.)" formControlName="dirtyWaterAmount" />
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-money-bill"></i>
					IPL Detail
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="billLog">
						<form *ngIf="billLogForm" [formGroup]="billLogForm" class="kt-form kt-form--group-seperator-dashed">
								<div class="form-group kt-form__group row" formGroupName="ipl">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Unit Size" formControlName="unitSize" />
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="IPL" formControlName="ipl"/>
											<span matPrefix>Rp&nbsp;</span>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Month IPL" formControlName="monthIpl"/>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Total IPL" formControlName="allIpl"/>
											<span matPrefix>Rp&nbsp;</span>
										</mat-form-field>
									</div>
								</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
