<kt-portlet>
	<kt-portlet-header [title]="'Commercial Unit List'" [class]="'kt-portlet__head--lg'"
		[viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTools>
			<button [routerLink]="['add']" mat-raised-button color="primary">Add New</button>
		</ng-container>
		<!-- <ng-container ktPortletTools>
			<button (click)="export()" mat-raised-button color="primary"class="ml-2">Export</button>
		</ng-container> -->
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search" #searchInput placeholder="Search">
							<mat-hint align="start">
								<strong>Search</strong> in Unit Code
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				matSortActive="id" matSortDirection="asc" matSortDisableClear>

				<ng-container matColumnDef="cdunt">
					<mat-header-cell *matHeaderCellDef>Unit Code</mat-header-cell>
					<mat-cell *matCellDef="let comUnit">{{ comUnit?.cdunt | uppercase}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef>Unit Type</mat-header-cell>
					<mat-cell *matCellDef="let comUnit">{{ comUnit?.type }}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="customer">
					<mat-header-cell *matHeaderCellDef>Tenant</mat-header-cell>
					<mat-cell *matCellDef="let comUnit">{{ comUnit?.customer?.namaToko | titlecase }}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="untsqr">
					<mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
					<mat-cell *matCellDef="let comUnit">{{ comUnit?.untsqr }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let comUnit">
						<button (click)="editcomUnit(comUnit._id)" mat-icon-button color="primary" matTooltip="Edit">
							<mat-icon>exit_to_app</mat-icon>
						</button>&nbsp;
						<button (click)="viewcomUnit(comUnit._id)" mat-icon-button color="primary" matTooltip="View">
							<mat-icon>visibility</mat-icon>
						</button>&nbsp;
						<button mat-icon-button color="warn" matTooltip="Delete" type="button"
							(click)="deleteComUnit(comUnit)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50,100,500,1000,2000]"
				[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>