// ::ng-deep .hidden-electricity .mat-tab-labels>.mat-tab-label:nth-child(2) {
//   display: none;
// }
::ng-deep section.bill-styling {
  color: #3d3d3d;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

  //  Style Form Date
  .form-input-date .mat-form-field-infix {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.257);
    border-radius: 3px;
  }

  //   .form-input-date .mat-form-field-wrapper{
  //     font-family: 'Poppins', sans-serif;
  //     background-color: rgb(255, 255, 255);
  //     width: 100%;
  //     padding: 5px;
  //     border: 1.5px solid rgba(0, 0, 0, 0.257);
  //     border-radius: 3px;
  // }

  .form-input-date .ic-date {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .form-input-date .label-custom {
    font-weight: 600;
  }


  //  Style Form Input
  .form-input .label-custom {
    font-weight: 600;
  }

  .form-input .label-actual-cons {
    font-weight: 600;
    color: green;
  }

  .form-input .mat-form-field-infix {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(0, 0, 0, 0.257);
    border-radius: 3px;
    padding: 5px;
  }

  //   .form-input .mat-form-field-wrapper{
  //     font-family: 'Poppins', sans-serif;
  //     background-color: rgb(255, 255, 255);
  //     border: 1.5px solid rgba(0, 0, 0, 0.257);
  //     border-radius: 3px;
  //     padding: 5px;
  // }

  .inpt-custom {
    font-family: 'Poppins', sans-serif;
  }

  .fnt-disabled {
    color: #3d3d3d74;
  }
}


.chip {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  background-color: lightblue;
  border-radius: 25px;

  &--danger {
    color: #fff;
    background-color: #fd397a;
  }

  &--success {
    color: #fff;
    background-color: #00b93a;
  }

  &--warning {
    background-color: gold;
  }

  &--primary {
    background-color: #5d78ff;
    color: white;
  }

  &--outstanding {
    color: #E1215B;
    background-color: #E1215B26;
  }

  &--full-payment {
    color: #518BFB;
    background-color: #518BFB26;
  }

  &--parsial-kurang {
    background-color: #FBB75126;
    color: #FBB751;
  }

  &--parsial-lebih {
    background-color: #21E15726;
    color: #21E157;
  }

  &--paid {
    background-color: #302 1E126;
    color: #3021E1;
  }
}

.bill-styling {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #3d3d3d;
}

.hide-scroll {
  overflow: hidden;
}

.line-border {
  margin: 35px 0;
  width: 100%;
  height: 2px;
  background-color: #E5E5E5;
}

td {
  height: 48px;
  padding: 0;
}


// Pop Up Process Generate
.process-generate {
  h3 {
    color: #3d3d3d
  }

  .warn-alert {
    font-size: 16px;
    color: #fff;
    background-color: #C2C200
  }

  .success-alert {
    font-size: 12px;
    color: #fff;
    background-color: #C2C200
  }

  .load-process {
    font-size: 16px;
    font-weight: 500;
    color: #3d3d3d
  }
}