<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/billing']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary"
				(click)="processGenerate(modalprocessgenerate); onSubmit(false)" mat-raised-button>
				<span class="kt-hidden-mobile">Save</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<!-- ====================== Pop Up Process Generate ====================== -->
	<div class="modalprocessgenerate">
		<div>
			<ng-template #modalprocessgenerate let-c="close" let-d="dismiss">
				<div class="modal-body process-generate">
					<!-- ========================== Condition Process ========================== -->
					<div class="kt-portlet__body">
						<div class="processing">
							<div [hidden]="isGenerateBilling !== ''">
								<div class="d-flex align-items-center flex-column">
									<h3 class=" mt-5">PROCESS SAVING BILLING </h3>
									<div class="d-flex p-2 mb-5 warn-alert">
										<mat-icon>warning</mat-icon>
										<p class="m-0 p-0">don't exit the page or open a new page in the browser tab!!</p>
									</div>
									<mat-spinner></mat-spinner>
									<p class="mt-2 load-process">Please wait, until the process is
										complete...</p>
								</div>
							</div>
						</div>
					</div>
					<!-- ========================== Condition Success ========================== -->
					<div class="kt-portlet__body">
						<div class="success-generate">
							<div [hidden]="isGenerateBilling !== 'success'">
								<div class="d-flex   align-items-center flex-column">
									<h3 class="mb-3 mt-5 mb-5">Saving and payment is successful! </h3>
									<img src="../../../../../assets/media/pos/checked.png" alt="checked" width="100">
									<div class="success-alert p-2 mt-4 d-flex mb-3">
										<mat-icon>info</mat-icon>
										<p class="m-0 p-0">the generate process is successful, please check the billing that has been
											entered into the list.</p>
									</div>
									<button (click)="closePopUp()" mat-raised-button color="primary" class="ml-2">Back to billing</button>
								</div>
							</div>
						</div>
					</div>
					<!-- ========================== Condition Failed ========================== -->
					<div class="kt-portlet__body">
						<div class="failed-generate">
							<div [hidden]="isGenerateBilling !== 'failed'">
								<div class="d-flex   align-items-center flex-column">
									<h3 class="mb-3 mt-5 mb-5">
										<mat-icon>warning</mat-icon> Failed! Saving Billing
									</h3>
									<kt-alert type="warn">
										{{msgErrorGenerate ? msgErrorGenerate :
										'generate billing failed, recheck power and water consumption data.'}}
									</kt-alert>
									<p>Note : save billing failed, recheck power and water consumption data.</p>
									<button (click)="closePopUp()" mat-raised-button color="primary" class="ml-2">Back to billing</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>

	<kt-portlet-body>
		<section class="bill-styling">
			<mat-tab-group [(selectedIndex)]="selectedTab" [ngClass]="isToken ? 'hidden-electricity' : ''">
				<mat-tab label="billing-information">
					<ng-template mat-tab-label>
						<i class="mat-tab-label-icon fa fa-user"></i>
						Biling Info
					</ng-template>
					<ng-template matTabContent>
						<div *ngIf="billing">
							<form *ngIf="billingForm" [formGroup]="billingForm" class="kt-form kt-form--group-seperator-dashed">
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
									(close)="onAlertClose($event)">
									Oh snap! Change a few things up and try submitting again.
								</kt-alert>
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
									(close)="onAlertClose($event)">
									Month Power / Water is different
								</kt-alert>
								<kt-alert *ngIf="hasError" type="warn" [showCloseButton]="true" [duration]="10000"
									(close)="onAlertClose($event)">
									{{message}}
								</kt-alert>
								<div class="row">
									<div class="col">
										<div class="row form-input mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Billing number</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" style="color:black;" formControlName="billing_number" />
													<mat-error>Billing Number is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input  mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Select Unit</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input type="text" matInput class="inpt-custom" [formControl]="viewBlockResult"
														[matAutocomplete]="csmrAuto" (keyup)="_onKeyup($event)">
													<mat-error>Fill input by selecting the given items</mat-error>
													<div *ngIf="loadingData.unit" class="form-loader">
														<mat-spinner [diameter]="10"></mat-spinner>
													</div>
													<mat-autocomplete #csmrAuto="matAutocomplete">
														<mat-option *ngFor="let item of UnitResultFiltered" value="{{item.cdunt}}"
															(click)="_setBlockValue(item)">
															{{item.cdunt }}
														</mat-option>
													</mat-autocomplete>
													<mat-error>Unit is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input  mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Billed To</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput type="text" class="inpt-custom" formControlName="billed_to" />
													<mat-error>Billed To is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>

										<div class="row form-input-date mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Billing Date</label>
												<mat-form-field class="mat-form-field-fluid col-sm-7">
													<input matInput class="inpt-custom" [matDatepicker]="billdate" (click)="billdate.open()"
														(dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
														formControlName="billing_date" autocomplete="off" />
													<mat-datepicker-toggle class="ic-date" matSuffix [for]="billdate"></mat-datepicker-toggle>
													<mat-datepicker #billdate></mat-datepicker>
													<mat-error>Billing Date is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>

										<div class="row form-input-date mb-3">
											<div class="col-md-10 row">
												<label for="duedate" class="label-custom col-sm-5">Billing Due Date</label>
												<mat-form-field class="mat-form-field-fluid col-sm-7">
													<input matInput class="inpt-custom" [matDatepicker]="duedate" formControlName="due_date"
														autocomplete="off" />
													<mat-datepicker-toggle class="ic-date" matSuffix [for]="duedate"></mat-datepicker-toggle>
													<mat-datepicker #duedate></mat-datepicker>
													<mat-error>Billing Due Date is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>

										</div>
										<div class="row form-input-date mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Create Date</label>
												<mat-form-field class="mat-form-field-fluid col-sm-7">
													<input matInput class="inpt-custom" [matDatepicker]="crdate" (click)="crdate.open()"
														(dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
														formControlName="created_date" autocomplete="off" />
													<mat-datepicker-toggle class="ic-date" matSuffix [for]="crdate"></mat-datepicker-toggle>
													<mat-datepicker #crdate></mat-datepicker>
													<mat-error>Create Date is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>

										</div>
									</div>
									<div class="col">
										<div class="row form-input mb-3 py-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Unit Status</label>
												<div class="col-sm-7">
													<span [hidden]="isSewa === '' ? true : false"
														[ngClass]="_getStatusPayCond(isSewa === '' ? false : isSewa ? true: false)">
														{{isSewa === '' ? '' : isSewa ? 'Rental': 'Owner'}}
													</span>
												</div>
											</div>
										</div>
										<div *ngIf="isToken == false" class="row form-input mb-3" formGroupName="power">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Electricity Meter</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="powerMeter" />
													<mat-error>Electricity Meter is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-3" formGroupName="water">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Water Meter</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="waterMeter" />
													<mat-error>Water Meter is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-3">
											<div class="col-md-10 row">
												<label for="option" class="label-custom col-sm-5">Opsi</label>
												<div class="col-sm-7">
													<mat-checkbox class="mr-2" [(ngModel)]="isfreeIpl" (change)="changeFreeIPL()"
														formControlName="isFreeIpl">Free IPL</mat-checkbox>
													<mat-checkbox [(ngModel)]="isfreeAbodement" (change)="changeFreeAbodement()"
														formControlName="isFreeAbodement">Free Abodement</mat-checkbox>
												</div>
											</div>
										</div>
										<div class="row form-input mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Sub Total Billing</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="subTotalBilling" />
													<!-- <mat-error>Sub Total Billing is
														<strong>required</strong>
													</mat-error> -->
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-3">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Total Billing</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="totalBilling" />
													<mat-error>Total Billing is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</ng-template>
				</mat-tab>
				<mat-tab label="utility">
					<ng-template mat-tab-label>
						<i class="mat-tab-label-icon fa fa-user"></i>
						<p class="m-0">Utility</p>
					</ng-template>
					<ng-template matTabContent>
						<div *ngIf="isToken == false">
							<form *ngIf="billingForm" [formGroup]="billingForm" class="kt-form kt-form--group-seperator-dashed">
								<h5 class="mb-5">Electricity Consumption</h5>
								<div class="row" formGroupName="power">
									<div class="col">
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Power Rate</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="powerRate" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Start Meter (kWh)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="startPower" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">End Meter (kWh)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="endPower" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Consumption</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="usePower" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Service Charge (%)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="sc" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">PPJU (%)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="ppju" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Loss</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="loss" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">PPN (%)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="ppn" />
												</mat-form-field>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Consumption Fee (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="useAmount" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Service Charge Fee (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="scAmount" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">PPJU Fee (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="ppjuAmount" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Loss Fee (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="lossAmount" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Admin Fee (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="adminFeeAfterTax" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Total (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="allPowerAmount" />
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div>
							<hr>
							<form *ngIf="billingForm" [formGroup]="billingForm" class="kt-form kt-form--group-seperator-dashed">
								<h5 class="mb-5">Water Consumption</h5>
								<div class="row" formGroupName="water">
									<div class="col">
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Water Rate</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="waterRate" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Start Meter </label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="startWater" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">End Meter</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="endWater" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Consumption</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="useWater" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Water Management (%)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="dirtyWater" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Maintenance (Rp.)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="maintenance" />
												</mat-form-field>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">PPN</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="totalTax" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Admin (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="administration" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Consumption Fee (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="useWaterAmount" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Admin Bank (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="admBank" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Water Management (Rp)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="dirtyWaterAmount" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Total Consumption (Rp.)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="allWaterAmount" />
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div>
							<hr>
							<form *ngIf="billingForm" [formGroup]="billingForm" class="kt-form kt-form--group-seperator-dashed">
								<h5 class="mb-5">IPL Detail</h5>
								<div class="row" formGroupName="ipl">
									<div class="col">
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Unit Size</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="unitSize" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Month IPL </label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="monthIpl" />
												</mat-form-field>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">IPL (Rp.)</label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="ipl" />
												</mat-form-field>
											</div>
										</div>
										<div class="row form-input mb-1">
											<div class="col-md-10 row">
												<label for="crdate" class="label-custom col-sm-5">Total IPL (Rp) </label>
												<mat-form-field class="mat-form-field col-sm-7">
													<input matInput class="inpt-custom" formControlName="allIpl" />
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</ng-template>
				</mat-tab>
			</mat-tab-group>
		</section>
	</kt-portlet-body>
</kt-portlet>