<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/floor']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>

			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)"
				[disabled]="loadingSave" mat-raised-button>
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-building"></i>
					Floor Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div>
						<form [formGroup]="floorForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Project Name" formControlName="grpblk" #groupBlock
												(selectionChange)="blockgroupChange(groupBlock.value)">
												<mat-option *ngIf="loading.blockgroup">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner> Loading Content
													</div>
												</mat-option>
												<mat-option *ngIf="!loading.blockgroup && !blockGroupResult.length">Item is empty</mat-option>
												<mat-option *ngFor="let item of blockGroupResult" [value]="item._id">
													{{item.grpnm}}
												</mat-option>
											</mat-select>
											<mat-error> Project Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">

											<!-- <mat-select placeholder="Select Block Code" formControlName="blk" #block (selectionChange)="blkChange(block.value)">
												<mat-option *ngIf="loading.block">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner> Loading Content
													</div>
												</mat-option>
												<mat-option *ngIf="!loading.block && !blockResult.length">Item is empty</mat-option>
												<mat-option *ngFor="let item of blockResult" [value]="item._id" >
													{{item.cdblk | uppercase }} - {{item.nmblk | titlecase}}
												</mat-option>
											</mat-select> -->

											<!-- Material Autocomplete, only select the value from the id -->
											<input type="text" matInput placeholder="Select Block Code" [formControl]="viewBlockResult"
												[matAutocomplete]="blockAuto" (keyup)="_onKeyup($event)">
											<mat-error>Fill input by selecting the given items</mat-error>

											<div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div>

											<mat-autocomplete #blockAuto="matAutocomplete">
												<mat-option *ngFor="let item of blockResultFiltered"
													value="{{item.cdblk | uppercase }} - {{item.nmblk | titlecase}}"
													(click)="_setBlockValue(item)">
													{{item.cdblk | uppercase }} - {{item.nmblk | titlecase}}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Floor Code" formControlName="cdflr" autocomplete="off"
												maxlength="10" />
											<mat-error>Floor Code is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Floor Name" formControlName="nmflr" autocomplete="off"
												maxlength="20" />
											<mat-error>Floor Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>