<kt-portlet>
	<kt-portlet-header
		[title]="getComponentTitle()"
		[class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$"
	>
		<ng-container ktPortletTools>
			<a
				[routerLink]="['/comCustomer']"
				class="btn btn-secondary kt-margin-r-10"
				mat-raised-button
			>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button
				href="javascript:;"
				class="btn btn-primary kt-margin-r-10"
				color="primary"
				(click)="onSubmit(false)"
				[disabled]="loading"
				mat-raised-button
			>
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Commercial Customer Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="comCustomer">
						<form
							[formGroup]="comCustomerForm"
							class="kt-form kt-form--group-seperator-dashed"
						>
							<kt-alert
								*ngIf="hasFormErrors"
								type="warn"
								[showCloseButton]="true"
								[duration]="10000"
								(close)="onAlertClose($event)"
							>
								Oh snap! Change a few things up and try
								submitting again.
							</kt-alert>
							<div
								class="kt-form__section kt-form__section--first"
							>
								<div class="form-group kt-form__group row">
									<div
										class="col-lg-6 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Trade Mark"
												formControlName="nameDagang"
												autocomplete="off"
												maxlength="50"
											/>
											<mat-error
												>Trade Mark is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div
										class="col-lg-6 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Store Name"
												formControlName="namaToko"
												autocomplete="off"
												maxlength="50"
											/>
											<mat-error
												>Store Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div
										class="col-lg-6 kt-margin-bottom-20-mobile"
									>
										<label for="typeToken"
											>Electricity Type</label
										>
										<div class="d-flex">
											<div
												class="d-flex align-items-center"
											>
												<input
													type="radio"
													id="Abonemen"
													name="fav_language"
													value="Abonemen"
													checked="checked"
													disabled
													(change)="
														toggleEditableAbonemen(
															$event
														)
													"
												/>
												<label
													for="Abonemen"
													class="m-0 pl-2"
													>Abonemen</label
												><br />
											</div>
											<div
												class="mx-3 d-flex align-items-center"
											>
												<input
													type="radio"
													id="token"
													name="fav_language"
													value="token"
													disabled
													(change)="
														toggleEditable($event)
													"
												/>
												<label
													for="token"
													class="m-0 pl-2"
													>Token</label
												><br />
											</div>
										</div>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div
										class="col-lg-4 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Name"
												formControlName="name"
												autocomplete="off"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
									<div
										class="col-lg-4 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Phone No."
												formControlName="phone"
												autocomplete="off"
												(keydown)="
													inputKeydownHandler($event)
												"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
									<div
										class="col-lg-4 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Email"
												formControlName="email"
												autocomplete="off"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div
										class="col-lg-8 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Address"
												formControlName="address"
												autocomplete="off"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
									<div
										class="col-lg-4 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="NPWP"
												formControlName="npwp"
												autocomplete="off"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div
										class="col-lg-6 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Bank Account"
												formControlName="bankaccnt"
												autocomplete="off"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
									<div
										class="col-lg-6 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Bank Name"
												formControlName="bankname"
												autocomplete="off"
												maxlength="50"
											/>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div
										class="col-lg-12 kt-margin-bottom-20-mobile"
									>
										<mat-form-field
											class="mat-form-field-fluid"
										>
											<input
												matInput
												placeholder="Description"
												formControlName="description"
												autocomplete="off"
												maxlength="50"
											/>
											<mat-error
												>Description is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-money-bill"></i>
					Payment Info
				</ng-template>
				<ng-template matTabContent>
					<form
						[formGroup]="comCustomerForm"
						class="kt-form kt-form--group-seperator-dashed"
					>
						<div class="form-group kt-form__group row">
							<div class="col-lg-12 mt-3">
								<!-- <div class="col-lg-2 kt-margin-bottom-20-mobile"> -->
								<!-- <mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Virtual Account No." formControlName="virtualAccount" type="number"
											onkeydown="javascript: return event.keyCode === 8 ||
												event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
										<mat-error>Virtual Account no. is
											<strong>required</strong>
										</mat-error>
									</mat-form-field> -->
								<button
									mat-raised-button
									color="primary"
									(click)="processMenuHandler()"
								>
									Add Virtual Account
								</button>
								<!-- </div> -->
							</div>
							<div class="col-lg-3 mt-3">
								<!-- <p class="font-weight-custom-va m-0">- va_ipl : {{virtualAccountIPL}} (✓)
								</p> -->
								<input
									matInput
									formControlName="va_ipl"
									type="text"
									name="va_ipl"
									class="font-weight-custom-va"
									readonly
									[ngClass]="cekInputVaIPL ? '' : 'd-none'"
								/>
								<input
									matInput
									formControlName="va_water"
									type="text"
									name="va_water"
									class="font-weight-custom-va"
									readonly
									[ngClass]="cekInputVaWater ? '' : 'd-none'"
								/>
								<input
									matInput
									formControlName="va_power"
									type="text"
									name="va_power"
									class="font-weight-custom-va"
									readonly
									[ngClass]="cekInputVaPower ? '' : 'd-none'"
								/>
								<input
									matInput
									formControlName="va_utility"
									type="text"
									name="va_utility"
									class="font-weight-custom-va"
									readonly
									[ngClass]="
										cekInputVaUtility ? '' : 'd-none'
									"
								/>
								<input
									matInput
									formControlName="va_gas"
									type="text"
									name="va_gas"
									class="font-weight-custom-va"
									readonly
									[ngClass]="cekInputVaGas ? '' : 'd-none'"
								/>
								<input
									matInput
									formControlName="va_parking"
									type="text"
									name="va_parking"
									class="font-weight-custom-va"
									readonly
									[ngClass]="
										cekInputVaParking ? '' : 'd-none'
									"
								/>
								<!-- <p class="font-weight-custom-va m-0">- va_ipl : 234567342 (✓)</p> -->
							</div>
						</div>
					</form>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
