<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/publicticket']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!-- Status (Open) -->
			<button class="btnDanger" (click)="processMenuHandler(ticket?._id)"
				[hidden]="ticket?.status !== 'open' ? true: false">Reject</button>
			<button class="btnPrimary ml-3" (click)="onSubmit(false)" [hidden]="buttonSave">
				{{ticket?.status === "open" ? "Process" : "Save"}}
			</button>
			<!-- Status (Waiting For Schedule Survey) -->
			<button class="btnPrimary ml-3" (click)="onSubmit(false)"
				[hidden]="ticket?.status === 'wait-sched-surv' ||
			 ticket?.status === 'wait-confirm-surv' || ticket?.status === 'tick-cust-approve' || ticket?.status === 'wait-sched-wo'
			 ||ticket?.status === 'wait-confirm-wo' ||ticket?.status === 'wait-confirm-wo'|| ticket?.status === 'wait-confirm-wo' ? false : true">
				{{ticket?.status === 'wait-sched-surv' ? 'Schedule Survey' : ticket?.status === 'wait-sched-wo' ?
				'Schedule Fixing' : ticket?.status === 'wait-confirm-wo' ? 'Approve' : 'Confirmation'}}
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]=" selectedTab"
			[ngClass]="ticket?.attachmentSurvey.length === 0 ? 'hide-img-surv' : ''">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					<p class="sty-default m-0 p-0">Ticket Info</p>
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div class="hide-scroll" *ngIf="ticket">
						<form [formGroup]="ticketForm" class="sty-default kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<!-- New Style Ticketing START -->
							<div class="form-group kt-form__group row paid-toggle ml-3"
								[hidden]="ticket?.paymentSelection === 'cashier' ? false : true">
								<!-- Paid -->
								<div>
									<p class="m-0 font-weight-bold">Payment Status : </p>
									<div class="d-flex mt-2">
										<input type="checkbox" id="switch" (change)="toggleIsPaid($event)" /><label
											for="switch">Toggle</label><span class="ml-2">{{paidToggleValue ? 'Paid' : 'Unpaid'}}</span>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<h6 class="mb-4 mt-4 font-weight-bold">Ticket Status</h6>
									<span class="chip" [ngClass]="ticket?.handledBy === 'tro' ? 'chip--tro': ticket?.handledBy === 'spv' ?
									'chip--spv' : ticket?.handledBy === 'mgr' ? 'chip--mgr' : 'chip--mob' ">
										{{ moduleTicketing.changeStatus(ticket?.status) }}
									</span>
								</div>
							</div>
							<hr>
							<!-- Condition wait for schedule Start -->
							<div [hidden]="ticket?.status !== 'wait-sched-surv' ? true : false">
								<h6 class="mb-4 mt-4 font-weight-bold">Engineer Visit Information</h6>
								<div class="form-group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="sty-default" matInput [matDatepicker]="survdate" [min]="minDate"
												placeholder="Visit Survey Date" (click)="survdate.open()" formControlName="visitDateSurv"
												autocomplete="off" />
											<mat-datepicker-toggle matSuffix [for]="survdate"></mat-datepicker-toggle>
											<mat-datepicker #survdate></mat-datepicker>
											<mat-error>Visit Survey date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3"></div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="sty-default" type="text" matInput placeholder="Engineer Survey"
												[formControl]="viewEnResult" [matAutocomplete]="survAuto" (keyup)="_onKeyup($event)">
											<mat-error>Fill input by selecting the given items</mat-error>
											<div *ngIf="loadingData.engineer" class="form-loader">
												<mat-spinner [diameter]="10"></mat-spinner>
											</div>
											<mat-autocomplete #survAuto="matAutocomplete">
												<mat-option *ngFor="let item of FilterEnResult" value="{{item.name | titlecase}}"
													(click)="_setEngValue(item, 'survey')">
													{{item.name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<hr>
							</div>
							<!-- Condition wait for schedule End -->
							<!-- Add cost condition status (Survey Done) Start -->
							
							<div [hidden]="ticket?.surveyDesc ? false : true">
								<h6 class="mb-4 mt-4 font-weight-bold">Survey Information</h6>
								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Description Survey</h6>
										<p>{{ticket?.surveyDesc | titlecase}}</p>
									</div>
								</div>
								<hr>
							</div>
							<div [hidden]="ticket?.fixingDesc ? false : true">
								<h6 class="mb-4 mt-4 font-weight-bold">Fixing Information</h6>
								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Description Fixing</h6>
										<p>{{ticket?.fixingDesc | titlecase}}</p>
									</div>
								</div>
								<hr>
							</div>
							<!-- Add cost condition status (Survey Done) End -->

							<!-- Add cost condition status (Schedule WO) Start -->
							<div [hidden]="ticket?.status !== 'wait-sched-wo' ? true : false">
								<!-- Visit Fixing and select enginer Fixing START -->
								<h6 class="mb-4 mt-4 font-weight-bold">Schedule Fixing</h6>
								<div class="form-group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="sty-default" matInput [matDatepicker]="fixdate" [min]="minDate"
												placeholder="Visit Fixing Date" (click)="fixdate.open()" formControlName="visitDateFixing"
												autocomplete="off" />
											<mat-datepicker-toggle matSuffix [for]="fixdate"></mat-datepicker-toggle>
											<mat-datepicker #fixdate></mat-datepicker>
											<mat-error>Visit Fixing date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3"></div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="sty-default" type="text" matInput placeholder="Engineer Fixing"
												[formControl]="viewEnResult" [matAutocomplete]="fixingAuto" (keyup)="_onKeyup($event)">
											<mat-error>Fill input by selecting the given items</mat-error>
											<div *ngIf="loadingData.engineer" class="form-loader">
												<mat-spinner [diameter]="10"></mat-spinner>
											</div>
											<mat-autocomplete #fixingAuto="matAutocomplete">
												<mat-option *ngFor="let item of FilterEnResult" value="{{item.name | titlecase}}"
													(click)="_setEngValue(item, 'fixing')">
													{{item.name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<hr>
								<!-- Visit Fixing and select enginer Fixing END -->
							</div>
							<div [hidden]="ticket?.status !== 'wait-sched-wo' ? true : false">
								<h6 class="mb-4 mt-4 font-weight-bold">Survey Information</h6>
								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Description Survey</h6>
										<p>{{ticket?.surveyDesc | titlecase}}</p>
									</div>
								</div>
								<hr>
							</div>
							<!-- Add cost condition status (Schedule WO) End -->
							<!-- Add cost condition status (Wait Approve Manager) Start -->
							<!-- <div [hidden]="ticket?.status !== 'wait-confirm-wo' ? true : false">
								<h6 class="mb-4 mt-4 font-weight-bold">Approve Engineer</h6>
								<div class="form-group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="sty-default" type="text" matInput placeholder="Change Engineer"
												[formControl]="viewEnResult" [matAutocomplete]="changeAuto" (keyup)="_onKeyup($event)">
											<mat-error>Fill input by selecting the given items</mat-error>
											<div *ngIf="loadingData.engineer" class="form-loader">
												<mat-spinner [diameter]="10"></mat-spinner>
											</div>
											<mat-autocomplete #changeAuto="matAutocomplete">
												<mat-option *ngFor="let item of FilterEnResult" value="{{item.name | titlecase}}"
													(click)="_setEngValue(item, 'change')">
													{{item.name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
									<div class="col-lg-3"></div>
									<div class="col-lg-5" [hidden]="checkChangeEngineer">
										<mat-form-field class="mat-form-field-fluid">
											<input class="sty-default" matInput placeholder="Change Engineer Description"
												formControlName="engFixingDesc" />
											<mat-error>Engginer Desc is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<hr>
							</div> -->
							
							<div [hidden]="ticket?.status !== 'wait-confirm-wo' ? true : false">
								<h6 class="mb-4 mt-4 font-weight-bold">Survey Information</h6>
								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Description Survey</h6>
										<p>{{ticket?.surveyDesc | titlecase}}</p>
									</div>
								</div>
								<hr>
							</div>
							<!-- Add cost condition status (Wait Approve Manager) End -->
							<!-- Show Engineer Start -->
							<!-- (survey) #start -->
							<div [hidden]="ticket?.engSurvey || ticket?.engFixing ? false : true">
								<h6 class="mb-4 mt-4 font-weight-bold">Engineer Information</h6>
								<div class="form-group row" [hidden]="ticket?.engSurvey ? false : true">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Visit Date Survey
										</h6>
										<p>{{ticket?.rescheduleDateSurvey ? (ticket?.rescheduleDateSurvey | date:"dd/MM/yy") :
											ticket?.visitDateSurv ? (ticket?.visitDateSurv | date:"dd/MM/y") : ""}}</p>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Engineer Survey</h6>
										<p>{{ticket?.engSurvey ? (ticket?.engSurvey.name | titlecase) : ""}}</p>
									</div>
								</div>
								<div class="form-group row" [hidden]="ticket?.engFixing ? false : true">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Visit Date Fixing
										</h6>
										<p>{{ticket?.rescheduleDateFixing? (ticket?.rescheduleDateFixing| date:"dd/MM/yy") :
											ticket?.visitDateFixing ? (ticket?.visitDateFixing | date:"dd/MM/y") : ""}}</p>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Engineer Fixing</h6>
										<p>{{ticket?.engFixing ? (ticket?.engFixing.name | titlecase): ""}}</p>
									</div>
								</div>
								<div class="form-group row" [hidden]="ticket?.rescheduleDescSurvey ? false : true">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Reschedule Survey Description</h6>
										<p>{{ticket?.rescheduleDescSurvey ? (ticket?.rescheduleDescSurvey | titlecase): ""}}</p>
									</div>
								</div>
								<div class="form-group row" [hidden]="ticket?.rescheduleDescFixing ? false : true">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Reschedule Fixing Description</h6>
										<p>{{ticket?.rescheduleDescFixing ? (ticket?.rescheduleDescFixing | titlecase): ""}}</p>
									</div>
								</div>
								<div class="form-group row" [hidden]="ticket?.engFixingDesc ? false : true">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Change Engineer Description</h6>
										<p>{{ticket?.engFixingDesc ? (ticket?.engFixingDesc | titlecase): ""}}</p>
									</div>
								</div>
								<hr>
							</div>
							<!-- (survey) #end -->
							<!-- (payment info) #start -->
							<div [hidden]="ticket?.paymentSelection ? false: true">
								<h6 class="mb-4 mt-4 font-weight-bold">Payment Information</h6>
								<div class="form-group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<h6>Payment Selection
										</h6>
										<span class="chip chip--high">
											{{ticket?.paymentSelection ? ticket?.paymentSelection : " - "}}
										</span>
									</div>
								</div>
								<hr>
							</div>
							<!-- (payment info) #end -->
							<!-- Show Engineer End -->

							<h6 class="mb-4 mt-4 font-weight-bold">Ticket Information</h6>
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<h6>Inspection ID</h6>
									<p>{{ticket?.ticketId | uppercase}}</p>
								</div>
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<h6>Ticket Date</h6>
									<p>{{ticket?.createdDate | date:"dd/MM/y"}}</p>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<h6>Reporter</h6>
									<p>{{ cdUnit }}</p>
								</div>
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Tenant Name" formControlName="contract2" />
									</mat-form-field>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Tenant Phone" formControlName="tenant_phone" />
									</mat-form-field>
								</div>
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Tenant Email " formControlName="tenant_email" />
									</mat-form-field>
								</div>
							</div>
							<!-- Update add index start -->
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<mat-select class="sty-default" placeholder="Status Creator" formControlName="statusCreator">
											<mat-option value="tro">TRO</mat-option>
											<mat-option value="cs">CS</mat-option>
											<mat-option value="admin engineer">Admin Engineer</mat-option>
											<mat-option value="tenant">Tenant</mat-option>
										</mat-select>
										<mat-error>Status Creator is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-lg-6 kt-margin-bottom-20-mobile" [hidden]="ticket?.statusCreator === 'tenant'">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Name Creator" formControlName="nameInput" />
										<mat-error>Name is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-5 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Phone Creator" formControlName="phoneNumber" />
										<mat-error>Phone is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Subject Ticket" formControlName="subject" />
										<mat-error>Subject is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-lg-5">
									<mat-form-field class="mat-form-field-fluid">
										<input class="sty-default" matInput placeholder="Description" formControlName="description" />
										<mat-error>Description is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<!-- Update add index end -->
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<mat-select class="sty-default" placeholder="Status Tenant" formControlName="statusTenant">
											<mat-option value="pemilik">Pemilik</mat-option>
											<mat-option value="penyewa">Penyewa</mat-option>
											<mat-option value="keluarga">Keluarga</mat-option>
										</mat-select>
										<!-- <mat-error>Status Creator is
											<strong>required</strong>
										</mat-error> -->
									</mat-form-field>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<mat-select class="sty-default" placeholder="Priority" formControlName="priority">
											<mat-option value="Low">Low</mat-option>
											<mat-option value="Medium">Medium</mat-option>
											<mat-option value="High">High</mat-option>
										</mat-select>
										<!-- <mat-error>Status Creator is
											<strong>required</strong>
										</mat-error> -->
									</mat-form-field>
								</div>
							</div>
							
							<!-- New Style Ticketing END -->
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-ruler"></i>
					<p class="sty-default m-0 p-0">Image</p>
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div>
						<div class="kt-form__section kt-form__section--first row">
							<div class="form-group kt-form__group col-md-4 img-stylern1">
								<h3>
									TICKET
								</h3>
								<div class="form-image-container">
									<a *ngFor='let image of images' href="http://{{ image }}" target="_blank">
										<img crossorigin="anonymous" src="http://{{ image }}"
											style="height: 250px; width: 250px; margin-left: 20px; margin-top: 20px;">
									</a>
									<div class="no-image" *ngIf="images.length < 1">
										<span>No attached image</span>
									</div>
								</div>
							</div>
							<div class="form-group kt-form__group col-md-4 img-stylern2">
								<h3>
									SURVEY</h3>
								<div class="form-image-container">
									<a *ngFor='let image of imagesSurvey' href="http://{{ image }}" target="_blank">
										<img crossorigin="anonymous" src="http://{{ image }}"
											style="height: 250px; width: 250px; margin-left: 20px; margin-top: 20px;">
									</a>
									<div class="no-image" *ngIf="imagesSurvey.length < 1">
										<span>No attached image</span>
									</div>
								</div>
							</div>
							<div class="form-group kt-form__group col-md-4 img-stylern2">
								<h3>
									FIXING</h3>
								<div class="form-image-container">
									<a *ngFor='let image of imagesFixing' href="http://{{ image }}" target="_blank">
										<img crossorigin="anonymous" src="http://{{ image }}"
											style="height: 250px; width: 250px; margin-left: 20px; margin-top: 20px;">
									</a>
									<div class="no-image" *ngIf="imagesFixing.length < 1">
										<span>No attached image</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>