:root {
  --black: #3d3d3d;
  --light: #ffffff;
  --graylight: #F7F7F7;
}

// body {
//   background-color: var(--light);
// }

.container.pos.login {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  width: 100vh;
  height: 100vh;
  background-color: transparent;
}

.container.pos.login .box {
  background-color: var(--light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.150);
  width: 70%;
  border-radius: 12px;
  padding: 35px;
}

.container.pos.login .box .image {
  width: 100%;
}

.container.pos.login .box .form-input label {
  font-weight: 500;
}

.container.pos.login .box .form-input input {
  background-color: var(--light);
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.23);
  outline: none;
  padding: 8px;
}

.container.pos.login .box .send {
  margin: 38px 0 25px 0;
}

.container.pos.login .box .send-btn button {
  background-color: #C1E5FE;
  color: #193A85;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  transition: .2s;
}

.container.pos.login .box .send-btn button:hover {
  background-color: #92d1ff;
}