<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/am']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Asset Management Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<ng-template [ngIf]="!loadingForm" [ngIfElse]="onLoadingForm">
					<div *ngIf="am">
						<form [formGroup]="amForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Asset Code" formControlName="assetCode"/>
											<mat-error>Asset Code is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Asset Type" formControlName="assetType">
												<mat-option *ngFor="let item of rentalResult" [value]="item._id">
													{{ item.fixedAssetTypeName }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Asset Name" formControlName="assetName" />
											<mat-error>Asset Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="description" />
											<mat-error>Description is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Quantity" formControlName="qty"
											onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
											<mat-error>Quantity is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Location" formControlName="location" />
											<mat-error>location is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
													<mat-select placeholder="Status" formControlName="status">
														<mat-option value="Active">Active</mat-option>
														<mat-option value="Inactive">Inactive</mat-option>
													</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Uom" formControlName="uom">
												<mat-option *ngFor="let item of uomResult" [value]="item._id">
													{{ item.uom }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-8 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Purchase Price" formControlName="purchasePrice" 
											onkeydown="return event.keyCode !== 69" type="number"/>
											<span matPrefix>Rp&nbsp;</span>
											<mat-error>Purchase Price is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>

				<ng-template #onLoadingForm>
					<div class="text-center pt-4 pb-4">
						<div class="d-inline-block mx-auto">
							<mat-spinner [diameter]="20"></mat-spinner>
						</div>
						<div>
							<span>Loading Form</span>
						</div>
					</div>
				</ng-template>
			</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

