.container {
  padding: 2em
}

mat-form-field {
  margin-bottom: 1em;
}

.actions__container {
  display: flex;
  justify-content: flex-end;
}

.sty-default {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
}

.sty-default {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
}

.inpField {
  width: 100%;
}