<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/tabulation']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Tabulation Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="tabulation">
						<form [formGroup]="tabulationForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Tabulation No" formControlName="tabulation_no" autocomplete="off" maxlength="50"/>
												<mat-error>Tabulation Code is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="date" placeholder="Date" formControlName="date" (dateChange)="receivedHandler($event)"/>
												<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
												<mat-datepicker #date></mat-datepicker>
												<mat-error>Date is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Purchase Request No" formControlName="select_pr_no" #pr (selectionChange)="prnoChange(pr.value)">
													<mat-option *ngFor="let item of prResult" [value]="item._id" >
														{{item.purchase_request_no}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Tax" formControlName="tax" #tax  (selectionChange)="taxchange(tax.value)">
													<mat-option *ngFor="let item of TaxResult" [value]="item._id" >
														{{item.nominal}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Vendor" formControlName="vendor_name" #vendor  (selectionChange)="vendorchange(vendor.value)">
													<mat-option *ngFor="let item of VendorResult" [value]="item._id" >
														{{item.vendor_name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="total" formControlName="total" autocomplete="off" maxlength="50"/>
												<mat-error>Total is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Discount Type" formControlName="type_discount" (change)="changeTotal()">
													<mat-option value="pr">Persen Rate</mat-option>
													<mat-option value="fr">Fixed Rate</mat-option>
												</mat-select>
											  </mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Discount" formControlName="discount" autocomplete="off" maxlength="50" (change)="changeTotal()"/>
												<mat-error>Discount is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Grand Total" formControlName="grand_total" autocomplete="off" maxlength="50"/>
												<mat-error>Grand Total is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-9 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Remark" formControlName="description" autocomplete="off" maxlength="50"/>
												<mat-error>Remark is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-checkbox [(ngModel)]="isApproved" formControlName="isApproved">Approve</mat-checkbox>
										</div>
									</div>
								</div>
								<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
									<!-- <div class="col-lg-12 kt-margin-bottom-20-mobile"> -->
										<div class="mat-table__wrapper">
											<mat-table class="lmat-elevation-z8"
													   #table
													   *ngIf="!loading.product || dataSource.value.length > 0"
													   [dataSource]="dataSource">

													<ng-container matColumnDef="product_code" >
														<mat-header-cell *matHeaderCellDef>Product Code</mat-header-cell>
														<mat-cell *matCellDef="let product">{{ product?.product_code}}</mat-cell>
													</ng-container>
													<ng-container matColumnDef="product_name" >
														<mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
														<mat-cell *matCellDef="let product">{{	product?.product_name | titlecase 	}}</mat-cell>
													</ng-container>
													<ng-container matColumnDef="qty" >
														<mat-header-cell *matHeaderCellDef>Tabulation Qty</mat-header-cell>
														<mat-cell *matCellDef="let product">
															<span class="ml-2 text-bold">
																{{	product?.qty }}
															</span>
															<!-- <div class="ml-2">
															<button mat-icon-button color="warn" [disabled]="tabulation._id" style="margin-right: -10px;" matTooltip="Remove" type="button" (click)="(decStock(product._id))"
														>
															<mat-icon>remove</mat-icon>
														</button>
															<button mat-icon-button color="accent" [disabled]="tabulation._id" matTooltip="Add" type="button" (click)="(intStock(product._id))"
														>
															<mat-icon>add</mat-icon>
														</button>
													</div> -->
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="available_qty" >
														<mat-header-cell *matHeaderCellDef>Available Qty</mat-header-cell>
														<mat-cell *matCellDef="let product">
															<span class="ml-2 text-bold">
																{{	product?.available_qty }}
															</span>
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="price" >
														<mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
														<mat-cell *matCellDef="let product">
															<span class="ml-2 text-bold">
																{{	product?.buy_price }}
															</span>
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="after_discount" >
														<mat-header-cell *matHeaderCellDef>Total after discount</mat-header-cell>
														<mat-cell *matCellDef="let product">
															<span class="ml-2 text-bold">
																{{	product?.after_discount }}
															</span>
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="description" >
														<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
														<mat-cell *matCellDef="let product">
															<span class="ml-2 text-bold">
																{{	product?.description }}
															</span>
														</mat-cell>
													</ng-container>
												<!-- <ng-container matColumnDef="actions">
													<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
													<mat-cell *matCellDef="let product">
														<button (click)="editProduct(product._id)" [disabled]="tabulation._id" mat-icon-button color="primary" matTooltip="Edit">
															<mat-icon>create</mat-icon>
														</button>&nbsp;
														<button (click)="viewProduct(product._id)" [disabled]="tabulation._id" mat-icon-button color="primary" matTooltip="View">
															<mat-icon>visibility</mat-icon>
														</button>&nbsp;
														<button mat-icon-button color="warn" [disabled]="tabulation._id" matTooltip="Delete" type="button" (click)="deleteProduct(product._id)"
														>
															<mat-icon>delete</mat-icon>
														</button>
													</mat-cell>
												</ng-container> -->

												<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

												<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
											</mat-table>
											<div class="mat-table__message" *ngIf="dataSource.value.length === 0">No records found</div>
											<div class="mat-table__message" *ngIf="loading.product">Please wait....</div>
										</div>
									<!-- </div> -->
									</div>
								</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

