<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/requestStockOut']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading" mat-raised-button >
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Product Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="requestStockOut">
						<form [formGroup]="requestStockOutForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Request Stock Out No." formControlName="rsoNo" autocomplete="off" maxlength="50"/>
												<mat-error>Request Stock Out is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="crtdt" placeholder="Request Date" formControlName="created_date"/>
												<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
												<mat-datepicker #crtdt></mat-datepicker>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Product" formControlName="product" #product (selectionChange)="getProduct(product.value)">
													<mat-option *ngFor="let item of productResult" [value]="item._id" >
														{{item.product_name | titlecase }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input
												matInput
												placeholder="Request Qty"
												formControlName="qtyRequest"
												autocomplete="off"
												(keydown)="inputKeydownHandler($event)"
												maxlength="50"
												/>
												<mat-error>Request Qty is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="UOM" formControlName="uom" autocomplete="off"/>
											</mat-form-field>
										</div>
									</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-8 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="description" autocomplete="off" maxlength="50"/>
											<mat-error>Description is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile" [hidden]="role !== 'administrator'">
										<mat-checkbox [(ngModel)]="checker" formControlName="approve">Approve</mat-checkbox>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

