<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/lsebilling']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Lease Billing Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<ng-template [ngIf]="!loadingForm" [ngIfElse]="onLoadingForm">
					<div *ngIf="lsebilling">
						<form [formGroup]="lsebillingForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Unit" formControlName="lease" #unt (selectionChange)="getUnitId(unt.value)">
												<mat-option *ngFor="let item of unitResult" [value]="item._id" >
												{{item.unit.cdunt}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Tenant Name" formControlName="tenantName" />
											<mat-error>Tenant Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Price" formControlName="price"
											onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
											<span matPrefix>Rp&nbsp;</span>
											<mat-error>Price is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description " formControlName="notes" />
											<mat-error>Description is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="paiddt" placeholder="Payment Date" formControlName="paidDate" (click)="paiddt" autocomplete="off"/>
											<mat-datepicker-toggle matSuffix [for]="paiddt"></mat-datepicker-toggle>
											<mat-datepicker #paiddt></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Account No" formControlName="customerBankNo" 
												onkeydown="javascript: return event.keyCode === 8 ||
												event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
												<mat-error>Account No is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Bank Name" formControlName="customerBank" />
												<mat-error>Payment From is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Payment Type" formControlName="paymentType">
													<mat-option value="Transfer">Transfer</mat-option>
													<mat-option value="Debit BCA">Debit BCA</mat-option>
													<mat-option value="Other Debit">Other Debit</mat-option>
													<mat-option value="Debit Credit Card">Debit Credit Card</mat-option>
											</mat-select>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Paid To" formControlName="bank">
													<mat-option *ngFor="let item of bankResult" [value]="item._id" >
													{{item.acctName | uppercase}} - {{item.acctNum}}
													</mat-option>
												</mat-select>
												<mat-error>Account Bank is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="desc" />
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					</ng-template>
					
					<!--end::Form-->


					<ng-template #onLoadingForm>
						<div class="text-center pt-4 pb-4">
							<div class="d-inline-block mx-auto">
								<mat-spinner [diameter]="20"></mat-spinner>
							</div>
							<div>
								<span>Loading Form</span>
							</div>
						</div>
					</ng-template>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-money-bill"></i>
					Billing Info
				</ng-template>
				<ng-template matTabContent>
					<ng-template [ngIf]="!loadingForm" [ngIfElse]="onLoadingForm">
					<div *ngIf="lsebilling">
						<form *ngIf="lsebillingForm" [formGroup]="lsebillingForm" class="kt-form kt-form--group-seperator-dashed">
							<div class="form-group kt-form__group row">
								<div class="col-lg-4 kt-margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Billing No." formControlName="billingNo"/>
										<mat-error>Billing No. is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-lg-4 kt-margin-bottom-20-mobile">
									<mat-form-field>
										<input matInput [matDatepicker]="crtdt" placeholder="Created Date" formControlName="createdDate"/>
										<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
										<mat-datepicker #crtdt></mat-datepicker>
										<mat-error>Created Date is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-lg-4 kt-margin-bottom-20-mobile">
									<mat-form-field>
										<input matInput [matDatepicker]="billdate" placeholder="Billing Date"  formControlName="billingDate"/>
										<mat-datepicker-toggle matSuffix [for]="billdate"></mat-datepicker-toggle>
										<mat-datepicker #billdate></mat-datepicker>
										<mat-error>Billing date is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="form-group kt-form__group row">
								<div class="col-lg-4 kt-margin-bottom-20-mobile">
									<mat-form-field>
										<input matInput [matDatepicker]="ddate" placeholder="Billing Due Date" formControlName="dueDate"/>
										<mat-datepicker-toggle matSuffix [for]="ddate"></mat-datepicker-toggle>
										<mat-datepicker #ddate></mat-datepicker>
										<mat-error>Due date is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</form>
					</div>
					</ng-template>



					<ng-template #onLoadingForm>
						<div class="text-center pt-4 pb-4">
							<div class="d-inline-block mx-auto">
								<mat-spinner [diameter]="20"></mat-spinner>
							</div>
							<div>
								<span>Loading Form</span>
							</div>
						</div>
					</ng-template>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

