// .mat-cell:nth-child(1),
// .mat-header-cell:nth-child(1) {
// 	flex: 0 0 8%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }
// .mat-cell:nth-child(2),
// .mat-header-cell:nth-child(2) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

// .mat-cell:nth-child(3),
// .mat-header-cell:nth-child(3) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

// .mat-cell:nth-child(4),
// .mat-header-cell:nth-child(4) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }
// .mat-cell:nth-child(5),
// .mat-header-cell:nth-child(5) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

// .mat-cell:nth-child(6),
// .mat-header-cell:nth-child(6) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

// .mat-cell:nth-child(7),
// .mat-header-cell:nth-child(7) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

// .mat-cell:nth-child(8),
// .mat-header-cell:nth-child(8) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

// .mat-cell:nth-child(9),
// .mat-header-cell:nth-child(9) {
// 	flex: 0 0 15%;
// 	word-wrap: break-word !important;
// 	white-space: unset !important;
// 	overflow-wrap: break-word;
// 	word-wrap: break-word;

// 	word-break: break-word;

// 	-ms-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-webkit-hyphens: auto;
// 	hyphens: auto;
// }

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.isDue {
    color: #fd397a;
}

.image_container {
    
    padding: 10px;
}

.image_container .image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.mat-column-remark {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

.mat-column-remark .flex-column {
    display: flex;
    flex-direction: column;
}
.mat-column-remark .align-start {
    align-self: flex-start;
    align-items: flex-start;
}

.mat-column-user {
    flex: 0 0 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.mat-column-time {
    flex: 0 0 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.mat-column-date {
    flex: 0 0 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.mat-column-checkpoint {
    flex: 0 0 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.mat-column-action {
    flex: 0 0 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

  