<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/comWater']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Water Meter Commercial
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="comWater">
						<form [formGroup]="comWaterForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Select Unit" [formControl]="viewUnitResult" [matAutocomplete]="unitAuto" (keyup)="_onKeyup($event)" 
												>
												<mat-error>Fill input by selecting the given items</mat-error>
												<div *ngIf="loading.block" class="form-loader">
													<mat-spinner [diameter]="20"></mat-spinner> 
												</div>
												<mat-autocomplete #unitAuto="matAutocomplete">
													<mat-option *ngFor="let item of UnitResultFiltered" value="{{item.cdunt | uppercase}}" (click)="_setUnitValue(item)" >
														{{item.cdunt | uppercase }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Water Rate" formControlName="rte">
													<mat-option *ngFor="let item of waterRateResult" [value]="item._id" >
														{{item.nmrtewtr | uppercase }} - Rp. {{ item.rte }}
													</mat-option>
												</mat-select>
												<mat-error>Water Rate Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input 
												matInput placeholder="Water Meter No." 
												formControlName="nmmtr" 
												autocomplete="off" 
												maxlength="50"
												matInput
												(keydown)="inputKeydownHandler($event)"
												/>
												<mat-error>Water Meter No. is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>

									<div class="form-group kt-form__group row">
										<div class="col-lg-12 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="remark" formControlName="remark" autocomplete="off" maxlength="50"/>
											</mat-form-field>
										</div>
									</div>
								</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

