<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/openingBalance']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loadingData" mat-raised-button >
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Opening Balance Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="openingBalance">
						<form [formGroup]="openingBalanceForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Account Type" formControlName="typeAccount" #block (selectionChange)="blkChange(block.value)">
												<mat-option *ngIf="loading.accType">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner> Loading Content
													</div>
												</mat-option>
												<mat-option *ngFor="let item of typeResult" [value]="item._id">
													{{ item.acctype | titlecase }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Account" formControlName="coa">
												<!-- <mat-option *ngIf="loading.accType">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner> Loading Content
													</div>
												</mat-option> -->
												<mat-option *ngFor="let item of accountResult" [value]="item._id">
													{{ item.acctName | titlecase }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input
											matInput
											placeholder="Opening Balance"
											formControlName="opening_balance"
											autocomplete="off"
											(keydown)="inputKeydownHandler($event)"
											maxlength="30"/>
											<span matPrefix>Rp&nbsp;</span>
											<mat-error>Nominal is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Remark" formControlName="remark" autocomplete="off" maxlength="10"/>
											<mat-error>Remark is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

