::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.cmr-4 {
    margin-right: 4em;
}
.divider {
    margin-left: 1em;
    margin-right: 1em;
}

.chip {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;
    background-color: #21E15726;
    color: #21E157;
    border-radius: 25px;

    &--danger {
        color: #5C5C5C;
        background-color: #D3D3D3;
    }

    &--success {
        color: #518BFB;
        background-color: #518BFB26;
    }

    &--warning {
        background-color: #FBB75126;
        color: #FBB751;
    }

    &--paid {
        background-color: #3021E126;
        color: #3021E1;
    }

    &--saldo {
        background-color: #A64B2A26;
        color: #A64B2A;
    }

    &--primary {
        background-color: #5d78ff;
        color: white;
    }

    &--parsial-kurang-so {
        background-color: #B8BC0526;
        color: #B8BC05;
    }

    &--parsial-lebih-so {
        background-color: #005AAC26;
        color: #005AAC;
    }

    &--full-payment-so {
        background-color: #007E9A26;
        color: #007E9A;
    }

    // wo
    &--parsial-kurang-wo {
        background-color: #B84D0026;
        color: #B84D00;
    }

    &--parsial-lebih-wo {
        background-color: #5D00A626;
        color: #5D00A6;
    }

    &--full-payment-wo {
        background-color: #00B4B426;
        color: #00B4B4;
    }
}