<kt-portlet>
	<kt-portlet-header [title]="title" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/debitnote']" class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button>
				<!-- <i class="la la-arrow-left"></i> -->
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="modaldebitnote">
			<div>
				<ng-template #modaldebitnote let-c="close" let-d="dismiss">
					<div class="modal-body">
						<div class="d-flex justify-content-center align-items-center loading mb-3" id="loading">
							<span class="mr-3">Loading Form...</span>
							<mat-spinner [diameter]="40"></mat-spinner>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
		<div *ngIf="dataTable">
			
				<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
					(close)="onAlertClose($event)">
					Oh snap! Change a few things up and try
					submitting again.
				</kt-alert>
				<div class="kt-form__section kt-form__section--first">
					<table class="table" style="font-size: 13px;">
						<thead>
							<tr>
								<th scope="col">Debit Note</th>
								<th scope="col">GL Account</th>
								<th scope="col" class="text-right mr-3">Debit (Rp)</th>
								<th scope="col" class="text-right mr-3">Credit (Rp)</th>
							</tr>
						</thead>
						<tbody *ngFor="let item of dataTable">
							<tr *ngFor="let data of item.data; index as i">
								<th *ngIf="data.amount != 0" scope="row">
									{{item['glAcc' + (i+1)]}}</th>
								<td *ngIf="data.amount != 0">

									{{data.memo}}

								</td>
								<td *ngIf="data.amount != 0">

									<p class="float-right">Rp. {{ data.isDebit == true ? serviceFormat.rupiahFormatImprovement(data.amount) : serviceFormat.rupiahFormatImprovement(0)}}</p>

								</td>
								<td *ngIf="data.amount != 0">

									<p class="float-right">Rp. {{ data.isDebit == false ? serviceFormat.rupiahFormatImprovement(data.amount) : serviceFormat.rupiahFormatImprovement(0)}}</p>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</kt-portlet-body>
</kt-portlet>