::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.sty-default {
    font-family: 'Poppins', sans-serif !important;
}

// Pop Up Process Generate
.process-generate {
    h3 {
        color: #3d3d3d
    }

    .warn-alert {
        font-size: 16px;
        color: #fff;
        background-color: #C2C200
    }

    .success-alert {
        font-size: 12px;
        color: #fff;
        background-color: #C2C200
    }

    .load-process {
        font-size: 16px;
        font-weight: 500;
        color: #3d3d3d
    }
}