<kt-portlet>
  
  <!-- Portlet Header -->
  <kt-portlet-header title="Ticketing Calendar" class="kt-portlet__head--lg">
  </kt-portlet-header>
  
	<kt-portlet-body>
    <div class="portlet-header mb-2">
      <div class="mark col-md-4 mt-xs-2">
        <div class="mark__title">
          <span>Mark color priority info</span>
        </div>

        <div class="mark__list">
          <div class="mark__item">
            <span class="mark__item-color mark__item-color--high"></span>
            <span class="mark__item-description">High</span>
          </div>
          
          <div class="mark__item">
            <span class="mark__item-color mark__item-color--medium"></span>
            <span class="mark__item-description">Medium</span>
          </div>

          <div class="mark__item">
            <span class="mark__item-color mark__item-color--low"></span>
            <span class="mark__item-description">Low</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="calendar calendar-container">
      <div class="calendar-loading" *ngIf="loading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </kt-portlet-body>
</kt-portlet>
