<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/surveyTemplate']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading" mat-raised-button >
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Survey Template Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="surveyTemplate">
						<form [formGroup]="surveyTemplateForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Survey Template Name" formControlName="name" autocomplete="off" maxlength="50"/>
												<mat-error>Survey Template Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Checkpoint" [formControl]="viewCheckpointForm" [matAutocomplete]="checkpointAuto" (keyup)="_filterAuto($event, 'checkpoint')"/>
												<mat-autocomplete #checkpointAuto="matAutocomplete">
													<mat-option *ngFor="let item of CheckpointResultFiltered" value="{{item.name | uppercase }}" (click)="setItem(item, 'checkpoint')">
														{{item.name | uppercase }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
											<mat-chip-list aria-label="Fish selection">
												<mat-chip *ngFor="let item of surveyTemplateForm.controls.checkpoint.value">
													<small>{{item.name}}</small>
													<mat-icon matChipRemove (click)="_deleteCPList(item)">cancel</mat-icon>
												</mat-chip>
											</mat-chip-list>
										</div>
									</div>
									<div class="mat-table__wrapper">
										<ng-container formArrayName="listQuestion">
											<mat-table class="lmat-elevation-z8" mat-table #myTable [dataSource]="listQuestion">
												<ng-container matColumnDef="question">
													<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
														<div class="column">
															<mat-form-field class="mat-form-field-fluid">
																<mat-label>Question {{id + 1}}</mat-label>
																<input matInput placeholder="Question" formControlName="question"/>
															</mat-form-field>
														</div>
													</mat-cell>
												</ng-container>
												<ng-container matColumnDef="actions">
													<mat-cell *matCellDef="let element; let id = index">
														<button mat-icon-button color="primary" matTooltip="Add Field" type="button" (click)="addQuestionToList(id)">
															<mat-icon>add</mat-icon>
														</button>
														<button mat-icon-button color="warn" matTooltip="Delete Field" type="button"
															[disabled]="id === 0" (click)="removeQuestionFromList(id)">
															<mat-icon>delete</mat-icon>
														</button>
													</mat-cell>
												</ng-container>

												<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
											</mat-table>
										</ng-container>
									</div>
								</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

