<div class="container">
  <h1 mat-dialog-title>Edit Product Order</h1>
  <div mat-dialog-content>
  <form [formGroup]="productForm" class="d-block">
    <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
      Oh snap! Change a few things up and try submitting again.
    </kt-alert>
    <div class="col-lg-12">
      <mat-form-field class="mat-form-field-fluid">
        <input matInput placeholder="product code" formControlName="product_code" autocomplete="off" maxlength="50"/>
        <mat-error>product_code is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-12">
      <mat-form-field class="mat-form-field-fluid">
        <input matInput placeholder="product_name" formControlName="product_name" autocomplete="off" maxlength="50"/>
        <mat-error>product_name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- <div class="col-lg-12">
      <mat-form-field class="mat-form-field-fluid">
        <mat-select placeholder="Select Product Category" formControlName="product_category" 
        #productCategory (selectionChange)="categoryChange(productCategory.value)"
        >
        
          <mat-option *ngIf="loading.category">
            <div class="opt-loader">
                <mat-spinner [diameter]="15"></mat-spinner>
            </div>
          </mat-option>
          <mat-option *ngIf="!loading.category && !productCategoryResult.length">Item is empty</mat-option>
          <mat-option *ngFor="let item of productCategoryResult" [value]="item._id" >
              {{item.category_name | titlecase}}
          </mat-option>
        </mat-select>
        <mat-error>Product Category is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-12">
      <mat-form-field class="mat-form-field-fluid">
        <mat-select placeholder="Select Product Brand" formControlName="product_brand">
          <mat-option *ngIf="loading.brand">
            <div class="opt-loader">
                <mat-spinner [diameter]="15"></mat-spinner>
            </div>
          </mat-option>
          <mat-option *ngIf="!loading.brand && !productBrandResult.length">Item is empty</mat-option>
          <mat-option *ngFor="let item of productBrandResult" [value]="item._id" >
              {{item.brand_name | titlecase}}
          </mat-option>
        </mat-select>
        <mat-error>Product Category is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div> -->
    <div class="col-lg-12 row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput placeholder="qty" formControlName="qty" autocomplete="off" maxlength="50" (change)="changeDiscount()" />
          <mat-error>qty is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="mat-form-field-fluid">
          <mat-select placeholder="Select UOM" formControlName="uom">
            <mat-option *ngIf="loading.uom">
              <div class="opt-loader">
                  <mat-spinner [diameter]="15"></mat-spinner>
              </div>
            </mat-option>
            <mat-option *ngIf="!loading.uom && !UOMResult.length">Item is empty</mat-option>
            <mat-option *ngFor="let item of UOMResult" [value]="item._id" >
                {{item.uom | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>UOM is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput placeholder="price" formControlName="buy_price" autocomplete="off" maxlength="50" (change)="changeDiscount()" />
          <mat-error>price is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-12 row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput placeholder="subtotal" formControlName="subtotal" autocomplete="off" maxlength="50"/>
          <mat-error>subtotal is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-12 row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field class="mat-form-field-fluid">
          <mat-select placeholder="Select Discount Type" formControlName="typediscount" (selectionChange)="changeDiscount()">
              <mat-option value="pr">Persen Rate</mat-option>
              <mat-option value="fr">Fixed Rate</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="mat-form-field-fluid">
          <input matInput placeholder="discount" formControlName="discount" autocomplete="off" maxlength="50" (change)="changeDiscount()"/>
          <mat-error>discount is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    <div class="col-lg-4">
      <mat-form-field class="mat-form-field-fluid">
        <input matInput placeholder="after_discount" formControlName="after_discount" autocomplete="off" maxlength="50"/>
        <mat-error>after_discount is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
   <div class="col-lg-12">
      <mat-form-field class="mat-form-field-fluid">
        <input matInput placeholder="description" formControlName="description" autocomplete="off" maxlength="100"/>
        <mat-error>description is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  </div>
  <div mat-dialog-actions class="actions__container">
    <button mat-raised-button color="warn" (click)="onNoClick()" [disabled]="loading.dialog">No</button>
    <button mat-raised-button color="primary" (click)="AddProduct()" [disabled]="loading.dialog">Yes</button>
  </div>
</div>