<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/accountHistory']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon>info</mat-icon>
					General
				</ng-template>

				<div class="d-flex border-bottom">
					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Source No.</span>
						<div>
							{{ optionalChecking(accountHistory.source?.voucherno) }}
						</div>
					</div>

					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Source Menu</span>
						<div>
							{{ optionalChecking(accountHistory.menu) }}
						</div>
					</div>

					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Account Type</span>
						<div>
							{{ optionalChecking(accountHistory.account?.AccType?.acctype) }}
						</div>
					</div>
				</div>

				<div class="d-flex">
					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Account No.</span>
						<div>
							{{ optionalChecking(accountHistory.account?.acctNo) }}
						</div>
					</div>

					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Account Name</span>
						<div>
							{{ optionalChecking(accountHistory.account?.acctName) }}
						</div>
					</div>

					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Total</span>
						<div>
							{{ optionalChecking(isNumberNegatif(accountHistory.total)) }}
						</div>
					</div>
				</div>
			</mat-tab>

			<!-- <mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">history</mat-icon>
					Changes
				</ng-template>

				<div class="d-flex {{accountHistory.updatedDate ? 'border-bottom' : ''}}">
					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Created At</span>
						<div>
							{{ accountHistory.createdDate | date: 'd MMM y' }}
						</div>
					</div>

					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Created By</span>
						<div>
							{{ accountHistory.createdBy.first_name }} {{ accountHistory.createdBy.last_name }}
						</div>
					</div>
				</div>

				<div class="d-flex" *ngIf="accountHistory.updatedDate">
					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Updated At</span>
						<div>
							{{ accountHistory.updatedDate | date: 'd MMM y' }}
						</div>
					</div>

					<div class="col-4 p-2">
						<span class="d-block font-weight-bold mb-1">Updated By</span>
						<div>
							{{ accountHistory.updatedBy.first_name }} {{ accountHistory.updatedBy.last_name }}
						</div>
					</div>
				</div>
			</mat-tab> -->
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

