<kt-portlet>

  <!-- Portlet Header -->
  <kt-portlet-header title="Profit Loss" class="kt-portlet__head--lg">
  </kt-portlet-header>

  <kt-portlet-body>
    <div class="kt-form">
      <mat-form-field>
        <mat-label>Month/Year</mat-label>
        <input matInput [matDatepicker]="monthPicker" [formControl]="monthDate" placeholder="Month">
        <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
        <mat-datepicker #monthPicker startView="multi-year" (monthSelected)="setMonthAndYear($event, monthPicker)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      <!-- <div class="d-flex flex-column flex-wrap mb-3 p-4 border border-secondary">
        <p class="font-italic">Choose Column</p>
        <div class="d-flex flex-wrap">
          <mat-checkbox class="w-25 p-2 font-weight-bold" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
            All
          </mat-checkbox>
          <mat-checkbox class="w-25 p-2" *ngFor="let list of columnsList; let id = index"
            (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(list) : null"
            [checked]="selection.isSelected(list)">
            {{ list }}
          </mat-checkbox>
        </div>
      </div> -->

      <div class="row">
        <div class="col-lg-6">
          <div class="alert alert-warning" role="alert">
            Peringatan! jika ada data yang belum masuk ke-report silahkan generate/posting terlebih dahulu dimenu
            transactions.
          </div>
        </div>
      </div>

      <div class="form__btn-group">
        <div class="form__btn-group__confirm">
          <button mat-flat-button class="mr-3" (click)="getPreviewSource()" color="primary"
            [disabled]="!valid || loading.status">
            Export PDF
          </button>
          <!-- <button mat-flat-button color="primary" (click)="export()" [disabled]="!valid || loading.status">Export
            Excel</button> -->

          <div *ngIf="loading.status" class="form__btn-group__confirm-loader">
            <mat-spinner [diameter]="20"></mat-spinner>
            <span>Preparing document preview</span>
          </div>
        </div>

        <div *ngIf="preview.status">
          <button mat-flat-button color="primary" [matMenuTriggerFor]="download" [disabled]="loading.status">
            <span class="icon">
              <i class="flaticon2-download"></i>
            </span>
            <span>download</span>
          </button>
          <mat-menu #download>
            <button mat-menu-item (click)="downloadFile('pdf')">
              <img class="menu-icon" src="assets/media/icons/pdf-file.png" alt="spreadsheet">
              PDF
            </button>
            <!-- <button mat-menu-item (click)="downloadFile('spreadsheet')">
              <img class="menu-icon" src="assets/media/icons/spreadsheet.png" alt="spreadsheet">
              Excel
            </button> -->
          </mat-menu>
        </div>
      </div>
    </div>

    <iframe *ngIf="pdfSrc !== ''" class="kt-embed" [src]="pdfSrc"></iframe>

  </kt-portlet-body>

</kt-portlet>