<kt-portlet>
	<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<button (click)="goBack()" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</button>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)"
				[disabled]="loading" mat-raised-button>
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div>
			<mat-tab-group [(selectedIndex)]="selectedTab">
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="mat-tab-label-icon fa fa-user"></i>
						Account Category Info
					</ng-template>
					<ng-template matTabContent>
						<!--begin::Form-->
						<div>
							<form class="kt-form kt-form--group-seperator-dashed">
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
									(close)="onAlertClose($event)">
									Oh snap! Change a few things up and try submitting again.
								</kt-alert>

								<!-- <mat-form-field class="example-full-width" appearance="fill">
										<mat-label>Account Category Name</mat-label>
										<input matInput placeholder="Account Category Name">
									  </mat-form-field> -->

								<div class="kt-form">
									<div class="mat-table__wrapper">
										<div class="d-flex justify-content-between">
											<div class="col-md-3 kt-margin-bottom-10-mobile">
												<button (click)="addAccount()" mat-raised-button
													matTooltop="Add Account" color="primary" type="button"
													[disabled]="dataLoading">Add Account <span class="ml-2"><i
															class="fa fa-plus-circle"></i></span></button>
											</div>
											<div class="col-md-3 kt-margin-bottom-10-mobile shadow p-3 mb-5 bg-white"
												*ngIf="accountCategory">
												<h5>{{ accountCategory && accountCategory.name }}</h5>
											</div>
											<div class="col-md-3 kt-margin-bottom-10-mobile shadow p-3 mb-5 bg-white"
												*ngIf="!accountCategory">
												<h5>...</h5>
											</div>
										</div>

										<mat-table class="lmat-elevation-z8" mat-table #myTable
											[dataSource]="selectedAccount" matSort #sort1="matSort"
											matSortDirection="asc" matSortDisabledClear>

											<ng-container matColumnDef="acctNo">
												<mat-header-cell *matHeaderCellDef>Account No.</mat-header-cell>
												<mat-cell *matCellDef="let account">
													<span [ngStyle]="{
														'margin-left': (10 * account.depth).toLocaleString().concat('px'),
														'font-weight': !account.isChild && '900' 
													}">
														{{ account.acctNo | titlecase }}
													</span>
												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="acctName">
												<mat-header-cell *matHeaderCellDef>Account Name</mat-header-cell>
												<mat-cell *matCellDef="let account">
													<span [ngStyle]="{
														'margin-left': (10 * account.depth).toLocaleString().concat('px'),
														'font-weight': !account.isChild && '900' 
													}">
														{{ account.acctName | titlecase }}
													</span>
												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="accType">
												<mat-header-cell *matHeaderCellDef>Account Type</mat-header-cell>
												<mat-cell *matCellDef="let account">{{ account.AccType?.acctype |
													titlecase }}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="balance">
												<mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
												<mat-cell *matCellDef="let account">{{ account.balance ?
													(account.balance | currency: 'IDR':'') : '0' }}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="action">
												<mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
												<mat-cell *matCellDef="let detail; let id = index">

													<button mat-icon-button color="warn" matTooltip="Delete detail row"
														type="button" (click)="deleteItem(id);"
														*ngIf="detail.depth === 0">
														<mat-icon>delete</mat-icon>
													</button>
												</mat-cell>
											</ng-container>

											<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

											<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
										</mat-table>

										<!-- Message for empty data -->
										<div class="mat-table__message" *ngIf="!selectedAccount.length && !dataLoading">
											No records found</div>
										<div class="list_loader" *ngIf="dataLoading">
											<mat-spinner [diameter]="20"></mat-spinner>
											<span>Please wait....</span>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!--end::Form-->
					</ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
	</kt-portlet-body>
</kt-portlet>