<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/transaksi-topup']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button
				[disabled]="loading.submit">
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<!-- section one -->
	<kt-portlet-body>
		<div class="row">
			<div class="col-sm-3">
				<p class="font-weight-custom">ID Transaksi</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom">: {{topup.cdTransaksi}}</p>
			</div>
			<div class="col-sm-3">
				<p class="font-weight-custom">Tanggal Transaksi</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom">: {{topup.tglTransaksi}}</p>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>

<!-- section two -->
<kt-portlet>
	<kt-portlet-body>
		<div class="row">
			<div class="col-sm-3">
				<p class="font-weight-custom">No Unit</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom">: {{topup.nameUnit}}</p>
			</div>
			<div class="col-sm-3">
				<p class="font-weight-custom">Orderan</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom">: {{topup.namePrabayar}}</p>
			</div>
			<div class="col-sm-3">
				<p class="font-weight-custom">Harga</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom">: {{topup.rate}}</p>
			</div>
			<div class="col-sm-3">
				<p class="font-weight-custom">Biaya Admin</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom">: {{topup.adminRate}}</p>
			</div>
			<div class="col-sm-3">
				<p class="font-weight-custom">Total Biaya</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-bold">: {{topup.totalBiaya}}</p>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
<!-- section three -->
<kt-portlet>
	<kt-portlet-body>
		<div class="row">
			<div class="col-sm-3">
				<p class="font-weight-custom">Metode Pembayaran</p>
			</div>
			<div class="col-sm-9">
				<p class="font-weight-custom text-uppercase">: {{topup.mtdPembayaran}}</p>
			</div>
		</div>
		<div class="d-flex tf-style">
			<div class="from-tf row">
				<div class="col-sm-6">
					<p class="font-weight-custom">Dari Bank Transfer</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">: {{topup.bank_tf}}</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">Account No</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">: {{topup.account_no}}</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">Account Name</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">: {{topup.account_name}}</p>
				</div>
			</div>
			<div class="to-tf row">
				<div class="col-sm-6">
					<p class="font-weight-custom">Ke Bank Transfer</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">: {{topup.companyBank}}</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">Account No</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">: {{topup.accountNumberCompany}}</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom">Account Name</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-custom text-uppercase">: {{topup.nameCompany}}</p>
				</div>
			</div>
		</div>
		<!-- cash and edc -->
		<div class="input-detail row">
			<div class="col-lg-3" [ngClass]="checkDetailMtdPembayaran ? '' : 'd-none'">
				<div class="preview__container">
					<div class="preview__container-images">
						<div *ngFor="let image of images" class="preview__frame">
							<img [src]="image.url" draggable="false">

							<button class="preview__frame-stack" (click)="removeSelectedFile(image)">
								<span>Remove Image</span>
							</button>
						</div>
					</div>

					<div class="preview__container-text">
						<span *ngIf="images.length || myFiles.length"><span class="text-bold">{{ myFiles.length }}</span> images
							selected.</span>
						<span *ngIf="images.length === 0 || myFiles.length === 0">Upload bukti transfer.</span>
					</div>
				</div>

				<div class="form-file form-file__container">
					<label [ngClass]="{'btn btn-primary': true, 'btn-disabled': images.length >= 1 || myFiles.length >= 1}">
						<i class="fa fa-upload"></i> Upload Image
						<input class="form-file__input" type="file" #fileInput (change)="selectFile($event)" accept="image/*"
							multiple [disabled]="images.length === 1 || myFiles.length === 1">
					</label>
				</div>
			</div>
			<div class="col-lg-2 d-flex p-0 paid">
				<label for="paid" class="m-0 font-weight-bold">PAID</label>
				<input type="checkbox" name="paid" id="paid">
			</div>
			<div class="col-lg-3 kt-margin-bottom-20-mobile p-0">
				<mat-form-field class="mat-form-field-fluid">
					<input matInput placeholder="Input No Token" formControlName="noToken" [disabled]="checkNoTokenAndEngineer" />
					<mat-error>No Token is
						<strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-lg-1 d-flex justify-content-center">
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" id="customSwitches" (change)="getCheckedSwitch($event)">
					<label class="custom-control-label" for="customSwitches"></label>
				</div>
			</div>
			<div class="col-lg-3 kt-margin-bottom-20-mobile">
				<mat-form-field class="mat-form-field-fluid">
					<mat-select placeholder="Select Engineer" formControlName="engineer" [disabled]="!checkNoTokenAndEngineer">
						<mat-option value="salim">Salim</mat-option>
						<mat-option value="ucup">Ucup</mat-option>
					</mat-select>
					<mat-error>Engineer is
						<strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>

		</div>
	</kt-portlet-body>
</kt-portlet>