<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/stockProduct']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading" mat-raised-button >
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Product Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="stockProduct">
						<form [formGroup]="stockProductForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Product Category" formControlName="product_category"
												#productCategory (selectionChange)="productCategoryChange(productCategory.value)"
												>

													<mat-option *ngIf="loadingData.productCategory">
														<div class="opt-loader">
																<mat-spinner [diameter]="15"></mat-spinner>
														</div>
													</mat-option>
													<mat-option *ngIf="!loadingData.productCategory && !productCategoryResult.length">Item is empty</mat-option>
													<mat-option *ngFor="let item of productCategoryResult" [value]="item._id" >
															{{item.category_name | titlecase}}
													</mat-option>
												</mat-select>
												<mat-error>Product Category is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Product Brand" formControlName="product_brand">
													<mat-option *ngIf="loadingData.productBrand">
														<div class="opt-loader">
																<mat-spinner [diameter]="15"></mat-spinner>
														</div>
													</mat-option>
													<mat-option *ngIf="!loadingData.productBrand && !productBrandResult.length">Item is empty</mat-option>
													<mat-option *ngFor="let item of productBrandResult" [value]="item._id" >
															{{item.brand_name | titlecase}}
													</mat-option>
												</mat-select>
												<mat-error>Product Category is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input
												matInput
												placeholder="Product Code"
												formControlName="product_code"
												autocomplete="off"
												maxlength="50"
												>
												<mat-error>Product Code is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Product Name" formControlName="product_name" autocomplete="off" maxlength="50"/>
												<mat-error>Product Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Stock Qty" formControlName="stock_qty" autocomplete="off" maxlength="50"/>
												<mat-error>Stock Qty is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div> -->
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select UOM" formControlName="uom">
													<mat-option *ngIf="loadingData.UOM">
														<div class="opt-loader">
																<mat-spinner [diameter]="15"></mat-spinner>
														</div>
													</mat-option>
													<mat-option *ngIf="!loadingData.UOM && !UOMResult.length">Item is empty</mat-option>
													<mat-option *ngFor="let item of UOMResult" [value]="item._id" >
															{{item.uom | titlecase}}
													</mat-option>
												</mat-select>
												<mat-error>UOM is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Buy Price" formControlName="buy_price" autocomplete="off" maxlength="50"/>
												<mat-error>Buy Price is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div> -->
										<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Discount" formControlName="discount" autocomplete="off" maxlength="50"/>
												<mat-error>Discount Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div> -->
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-12 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Description" formControlName="description" autocomplete="off" maxlength="50"/>
												<mat-error>Description is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
								</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

