<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/writeOff']" class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button>
				<!-- <i class="la la-arrow-left"></i> -->
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div *ngIf="writeOff">
			<form [formGroup]="writeOffForm" class="kt-form kt-form--group-seperator-dashed">
				<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
					(close)="onAlertClose($event)">
					Oh snap! Change a few things up and try
					submitting again.
				</kt-alert>
				<div class="kt-form__section kt-form__section--first">
					<div class="row">
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="crtdt" placeholder="Date" formControlName="date" (click)="crtdt.open()"
									autocomplete="off" />
								<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
								<mat-datepicker #crtdt></mat-datepicker>
								<mat-error>Date is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input type="text" matInput placeholder="Deposit To" [formControl]="viewWriteOffResult"
									[matAutocomplete]="arAuto" (keyup)="_onKeyup($event)" />
								<mat-error>Fill input by selecting the
									given items</mat-error>
								<mat-autocomplete #arAuto="matAutocomplete">
									<mat-option *ngIf="loading.deposit">
										<div class="opt-loader">
											<mat-spinner [diameter]="15"></mat-spinner>
										</div>
									</mat-option>
									<mat-option *ngIf="
											!loading.deposit &&
											!writeOffListResultFiltered.length
										">Item is empty</mat-option>
									<mat-option *ngFor="
											let item of writeOffListResultFiltered
										" value="{{
											item.acctNo | titlecase
										}} - {{
											item.acctName
												| titlecase
										}}" (click)="_setWriteOffValue(item)">
										{{
										item.acctNo | titlecase
										}}
										-
										{{
										item.acctName
										| titlecase
										}}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</div> -->
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Select Voucher Bill" formControlName="voucherAR" />
								<mat-error>Voucher AR is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Saldo Voucher" formControlName="saldoVoucher" />
								<mat-error>Saldo Voucher No is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div> -->
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Description Title" formControlName="payFrom" />
							</mat-form-field>
						</div>
					</div>
					<div class="form-group kt-form__group row mt-3">

						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Currency" formControlName="rate" />
							</mat-form-field>
						</div>
						<!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Voucher No" formControlName="voucherno" />
								<mat-error>Voucher No is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div> -->
						<div class="trans-setoff col-lg-7 kt-margin-bottom-20-mobile mat-table__message" [hidden]="isTransWriteOff">
							<!-- <p class="title font-weight-bold" [ngClass]="isOpenPayCond ? 'cek' : ''">Transaction Write Off</p> -->
							<div class="box-trans row">
								<div class="paid pl-4 col-md-2 d-flex align-items-center">
									<div class=" kt-margin-bottom-20-mobile">
										<mat-checkbox disabled [checked]="isStatus" [(ngModel)]="isStatus" (change)="changeStatus()"
											formControlName="status">Paid
										</mat-checkbox>
									</div>
								</div>
								<div class="payment col-md-5" [hidden]="isOpenPayCond">
									<mat-form-field class="mat-form-field-fluid">
										<!-- <mat-select placeholder="Filter By Status" [formControl]="date.filter.control"> -->
										<mat-select disabled placeholder="Select Payment" [formControl]="checked.control">
											<!-- <mat-option *ngFor="let list of payCondList" [value]="clearAllFilter" -->
											<mat-option *ngFor="let list of payCondList" [value]="list.value"
												(click)="valuePayCond(list.value)">{{
												list.payment }}</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="pay-date col-md-5" [hidden]="isOpenDatePayCond">
									<mat-form-field class="mat-form-field-fluid">
										<input disabled readonly matInput [matDatepicker]="crtdt2" placeholder="Payment Date"
											[formControl]="checked.date.control" (dateChange)="voucherDateHandler($event)" />
										<mat-datepicker-toggle matSuffix [for]="crtdt2"></mat-datepicker-toggle>
										<mat-datepicker #crtdt2></mat-datepicker>
										<mat-error>Payment Date is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>

					<!-- Multi GL Account START-->
					<div class="kt-form" formGroupName="multiGLAccount">
						<div class="mat-table__wrapper">

							<mat-table class="lmat-elevation-z8" mat-table #myTable [dataSource]="ccList" matSort #sort1="matSort"
								matSortDirection="asc" matSortDisabledClear>

								<ng-container matColumnDef="no">
									<mat-cell *matCellDef="let cc; let id = index">{{id + 1}}</mat-cell>
								</ng-container>

								<ng-container matColumnDef="gl">
									<mat-cell *matCellDef="let cc; let id = index">
										<div class="col-md-12 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="GL Account" name="{{id + 1}}"
													formControlName="{{'glAcc' + (id + 1)}}" [matAutocomplete]="GlAuto"
													(keyup)="_onKeyupGL($event)" />
												<mat-error>Fill input by selecting the
													given items</mat-error>
												<mat-autocomplete #GlAuto="matAutocomplete">
													<mat-option *ngIf="loading.glaccount">
														<div class="opt-loader">
															<mat-spinner [diameter]="15"></mat-spinner>
														</div>
													</mat-option>
													<mat-option *ngIf="
													!loading.glaccount &&
													!gLListResultFiltered.length
												">Item is empty
													</mat-option>
													<mat-option *ngFor="
													let item of gLListResultFiltered
												" value="{{
													item.acctNo | titlecase
												}} - {{
													item.acctName
														| titlecase
												}}" (click)="
													_setGLAccount(item, ('target' + (id + 1)))
												">
														{{
														item.acctNo | titlecase
														}}
														-
														{{
														item.acctName
														| titlecase
														}}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>

									</mat-cell>
								</ng-container>

								<ng-container matColumnDef="amount">
									<mat-cell *matCellDef="let cc; let id = index">
										<div class="col-md-12 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput 
													placeholder="Amount" 
													name="{{id + 1}}" 
													autocomplete="off"
													formControlName="{{'amount' + (id + 1)}}" 
													(keydown)="inputKeydownHandler($event)" 
													maxlength="30" 
												/>
												<span matPrefix>Rp &nbsp;</span>
												<mat-error>Amount is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

									</mat-cell>
								</ng-container>


								<ng-container matColumnDef="desc">
									<mat-cell *matCellDef="let cc; let id = index">
										<div class="col-md-12 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<!-- <input matInput placeholder="Description" (change)="valueAmount($event)" name="{{id + 1}}" formControlName="memo" /> -->
												<!-- <input matInput placeholder="Description" (change)="valueDescription($event)" -->
												<input matInput 
													placeholder="Description" 
													formControlName="{{'memo' + (id + 1)}}"
													name="{{id + 1}}" 
												/>
												<mat-error>Description is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

									</mat-cell>
								</ng-container>

								<ng-container matColumnDef="isdebit">
									<mat-cell *matCellDef="let cc; let id = index">
										<div class="col-md-12 d-flex flex-row align-items-center kt-margin-bottom-20-mobile">
											<div class="d-flex">
												<div class="d-flex align-items-center">
													<input type="radio" 
														id="{{'Debit' + (id + 1)}}" 
														name="{{(id + 1)}}" 
														value="true" 
														disabled
														[checked]="valueChecked(('deb' + (id + 1)))" 
														(change)="valueIsDebit($event)"
														(click)="clickToggle($event)" />
													<label for="{{'Debit' + (id + 1)}}" class="m-0 pl-2">Debit</label><br />
												</div>
												<div class="mx-3 d-flex align-items-center">
													<input type="radio" 
														id="{{'Credit' + (id + 1) }}" 
														name="{{(id + 1)}}" value="false" 
														disabled
														[checked]="valueChecked(('cred' + (id + 1)))" 
														(change)="valueIsDebit($event)"
														(click)="clickToggle($event)" 
													/>
													<label for="{{'Credit' + (id + 1) }}" class="m-0 pl-2">Credit</label><br />
												</div>
											</div>
										</div>

									</mat-cell>
								</ng-container>

								<!-- <ng-container matColumnDef="action">
									<mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
									<mat-cell *matCellDef="let cc; let id = index">
										<button mat-icon-button color="primary" matTooltip="Add Field" type="button"
											(click)="addCC()">
											<mat-icon>add</mat-icon>
										</button>
										<button mat-icon-button color="warn" matTooltip="Delete Field" type="button"
											(click)="removeCC(id)">
											<mat-icon>delete</mat-icon>
										</button>
									</mat-cell>
								</ng-container> -->

								<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
							</mat-table>

							<!-- Message for empty data -->
							<!-- <div class="mat-table__message" *ngIf="!ccList.length">
								<button mat-icon-button color="primary" matTooltip="Add GL" type="button" (click)="addCC(ccList)">
									<mat-icon>add</mat-icon>
									Add GL Account
								</button>
							</div> -->
						</div>
					</div>


					<!-- Multi GL Account END -->

					<!-- <div class="form-group kt-form__group row"> -->
					<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
							<mat-checkbox [(ngModel)]="isStatus" (change)="changeStatus()" formControlName="status">Paid
							</mat-checkbox>
						</div> -->
					<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Description" formControlName="memo" />
								<mat-error>Description is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div> -->
					<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Print Size" formControlName="printSize">
									<mat-option *ngFor="let list of printOptions" [value]="list.value">{{ list.name }}</mat-option>
								</mat-select>
								<mat-error>
									Print Size is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div> -->
					<!-- </div> -->
				</div>
			</form>
		</div>
		<!--end::Form-->
	</kt-portlet-body>
</kt-portlet>