<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/internalUser']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!-- <button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading">
				<span class="kt-hidden-mobile">Save</span>
			</button> -->
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					User Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="internalUser">
						<form [formGroup]="internalUserForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Name" formControlName="name" autocomplete="off" maxlength="50"/>
											<mat-error>Name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Email" formControlName="email" autocomplete="off"/>
											<mat-error>Email is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="birth_date" placeholder="Birth Date" formControlName="birth_date"/>
											<mat-datepicker-toggle matSuffix [for]="birth_date"></mat-datepicker-toggle>
											<mat-datepicker #birth_date></mat-datepicker>
											<mat-error>Birth Date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="join_date" placeholder="Joinning Date" formControlName="join_date"/>
											<mat-datepicker-toggle matSuffix [for]="join_date"></mat-datepicker-toggle>
											<mat-datepicker #join_date></mat-datepicker>
											<mat-error>Joinning Date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Phone" formControlName="phone" autocomplete="off" maxlength="50"/>
											<mat-error>Phone is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Select Department" [formControl]="viewDepartmentResult" [matAutocomplete]="departmentAuto" (keyup)="_onKeyup($event, 'department')"
											>
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
											<mat-autocomplete #departmentAuto="matAutocomplete">
												<mat-option *ngFor="let item of departmentListFiltered" value="{{item.department_name | titlecase}}" (click)="_setFormValue(item, 'department')" >
													{{item.department_name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Select Division" [formControl]="viewDivisionResult" [matAutocomplete]="divisionAuto" (keyup)="_onKeyup($event, 'division')"
											>
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
											<mat-autocomplete #divisionAuto="matAutocomplete">
												<mat-option *ngFor="let item of divisionListFiltered" value="{{item.division_name | titlecase}}" (click)="_setFormValue(item, 'division')" >
													{{item.division_name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
									<!-- this supposed to be location -->
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Select Location" [formControl]="viewLocationResult" [matAutocomplete]="locationAuto" (keyup)="_onKeyup($event, 'location')"
											>
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
											<mat-autocomplete #locationAuto="matAutocomplete">
												<mat-option *ngFor="let item of locationListFiltered" value="{{item.name | titlecase}}" (click)="_setFormValue(item, 'location')" >
													{{item.name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<!-- this supposed to be shift -->
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Select Default Shift" [formControl]="viewShiftResult" [matAutocomplete]="shiftAuto" (keyup)="_onKeyup($event, 'shift')"
											>
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
											<mat-autocomplete #shiftAuto="matAutocomplete">
												<mat-option *ngFor="let item of shiftListFiltered" value="{{item.name | titlecase}}" (click)="_setFormValue(item, 'shift')" >
													{{item.name | titlecase }} ({{item.start_schedule}} - {{item.end_schedule}})
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-10-mobile margin_h_20">
										<div class="preview__container">
											<div class="preview__container-images">
												<div *ngFor="let image of documents" class="preview__frame">
													<a href={{documents[0].url}} target="_blank" *ngIf="documents.length > 0">
														<img src={{documents[0].url}}>
													</a>
										
													<!-- <button class="preview__frame-stack" (click)="removeSelectedDocument(image)">
														<span>Remove Document</span>
													</button> -->
												</div>
											</div>
										</div>
										<!-- <div class="form-file form-file__container kt-margin-l-10 kt-margin-bottom-20-mobile kt-margin-top-20-mobile">
											<label [ngClass]="{'btn btn-primary': true, 'btn-disabled': documents.length >= 1 }" *ngIf="documents.length === 0">
												<i class="fa fa-upload"></i> Upload Foto
												<input class="form-file__input" type="file" #documentInput (change)="selectDocument($event)" accept="image/*"
													[disabled]="documents.length === 1" >
											</label>
										</div> -->
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

