<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/contract-management/contract/ownership']" class="btn btn-secondary kt-margin-r-10"
				mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Tenant Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div>
						<form [formGroup]="ownersForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try
								submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-12 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Tenant" formControlName="cstmr" #cst (selectionChange)="
													getSingleCustomer(cst.value)
												">
												<mat-option *ngFor="
														let item of customerResult
													" [value]="item._id">
													{{ item.cstrmrnm }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Tenant Name" formControlName="contact_name" />
											<mat-error>Tenant name is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Address" formControlName="contact_address" />
											<mat-error>Address is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Regency" formControlName="contact_city" />
											<mat-error>Regency is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Phone Number" formControlName="contact_phone" />
											<mat-error>Phone Number is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Email " formControlName="contact_email" />
											<mat-error>Email is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Zip Code" formControlName="contact_zip">
												<mat-option *ngFor="
														let item of postalcodeResult
													" [value]="item.kelurahan">
													{{ item.kodepos }} -
													{{ item.kelurahan }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Id Card No. (NIK/KITAS)" formControlName="ktp" />
											<mat-error>Id Card No. (NIK/KITAS) is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Tax Number (NPWP)" formControlName="npwp" />
											<mat-error>Tax Number (NPWP) is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-file-contract"></i>
					Contract Info
				</ng-template>
				<ng-template matTabContent>
					<form [formGroup]="ownersForm" class="kt-form kt-form--group-seperator-dashed">
						<div class="form-group kt-form__group row">
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Select Block Id" formControlName="blockId" #block (selectionChange)="
											blkChange(block.value)
										">
										<mat-option *ngFor="let item of blockResult" [value]="item._id">
											{{ item.cdblk | uppercase }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Select Floor Id" formControlName="floorId" #floor (selectionChange)="
											flrChange(floor.value)
										">
										<mat-option *ngFor="let item of floorResult" [value]="item._id">
											{{ item.nmflr | uppercase }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Select Unit" formControlName="unit" #unit (selectionChange)="
											getContactNumber(unit.value)
										">
										<mat-option *ngFor="let item of unitResult" [value]="item._id">
											{{ item.cdunt | uppercase }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group kt-form__group row">
							<div class="col-lg-6 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Contract No." formControlName="contract_number2" />
									<mat-error>Contract no. is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-checkbox formControlName="isPP">Lease</mat-checkbox>
							</div>
						</div>
						<div class="form-group kt-form__group row">
							<div class="col-lg-6 kt-margin-bottom-20-mobile">
								<mat-form-field>
									<input matInput [matDatepicker]="condate" placeholder="Contract Date"
										formControlName="contract_date" />
									<mat-datepicker-toggle matSuffix [for]="condate"></mat-datepicker-toggle>
									<mat-datepicker #condate></mat-datepicker>
									<mat-error>Contract date is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-lg-6 kt-margin-bottom-20-mobile">
								<mat-form-field>
									<input matInput [matDatepicker]="conexp" placeholder="Contract Due Date"
										formControlName="expiry_date" />
									<mat-datepicker-toggle matSuffix [for]="conexp"></mat-datepicker-toggle>
									<mat-datepicker #conexp></mat-datepicker>
									<mat-error>Contract due date is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="form-group kt-form__group row">
							<div class="col-lg-6 kt-margin-bottom-20-mobile">
								<label for="typeToken">Electricity Type</label>
								<div class="d-flex">
									<div class="d-flex align-items-center">
										<input type="radio" id="Abonemen" name="fav_language" value="Abonemen" disabled [ngClass]="
												contentEditable ? 'd-none' : ''
											" [checked]="!contentEditable" />
										<label for="Abonemen" class="m-0 pl-2" [ngClass]="
												contentEditable ? 'd-none' : ''
											">Abonemen</label><br />
									</div>
									<div class="mx-3 d-flex align-items-center">
										<input type="radio" id="token" name="fav_language" value="token" [checked]="contentEditable"
											[ngClass]="
												contentEditable ? '' : 'd-none'
											" disabled />
										<label for="token" class="m-0 pl-2" [ngClass]="
												contentEditable ? '' : 'd-none'
											">Token</label><br />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group kt-form__group row">
							<div class="col-lg-6 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Start Electricity Meter" type="number"
										formControlName="start_electricity_stand" onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
									<mat-error>Electricity Meter is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-lg-6 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Start Water Meter" type="number" formControlName="start_water_stand"
										onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
									<mat-error>Water Meter is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</form>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-money-bill"></i>
					Payment Info
				</ng-template>
				<ng-template matTabContent>
					<form [formGroup]="ownersForm" class="kt-form kt-form--group-seperator-dashed">
						<div class="form-group kt-form__group row">
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Select Payment Type" formControlName="paymentType">
										<mat-option value="yearly">Yearly</mat-option>
										<mat-option value="monthly">Monthly</mat-option>
										<mat-option value="daily">Daily</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Due Date" type="number" formControlName="paymentTerm" onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
									<mat-error>Due Date is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Virtual Account No." formControlName="virtualAccount" type="number"
									onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
									<mat-error>Virtual Account no. is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div> -->
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Bank Account No." formControlName="norek" type="number" onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
									<mat-error>Virtual Account no. is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-lg-3 mt-3">
								<!-- <p class="font-weight-custom-va m-0">- va_ipl : {{virtualAccountIPL}} (✓)
								</p> -->
								<div class="boxVA" [ngClass]="
										cekInputAndParagraftVAIPL
											? 'd-none'
											: ''
									">
									<p class="font-weight-custom-va" [ngClass]="
											cekInputAndParagraftVAIPL
												? 'd-none'
												: ''
										">
										VA IPL : {{ valueIPL }}
									</p>
								</div>
								<div class="boxVA" [ngClass]="
										cekInputAndParagraftVAWater
											? 'd-none'
											: ''
									">
									<p class="font-weight-custom-va" [ngClass]="
											cekInputAndParagraftVAWater
												? 'd-none'
												: ''
										">
										VA Water : {{ valueWater }}
									</p>
								</div>
								<div class="boxVA" [ngClass]="
										cekInputAndParagraftVAPower
											? 'd-none'
											: ''
									">
									<p class="font-weight-custom-va" [ngClass]="
											cekInputAndParagraftVAPower
												? 'd-none'
												: ''
										">
										VA Power : {{ valuePower }}
									</p>
								</div>
								<div class="boxVA" [ngClass]="
										cekInputAndParagraftVAUtility
											? 'd-none'
											: ''
									">
									<p class="font-weight-custom-va" [ngClass]="
											cekInputAndParagraftVAUtility
												? 'd-none'
												: ''
										">
										VA Utility : {{ valueUtility }}
									</p>
								</div>
								<div class="boxVA" [ngClass]="
										cekInputAndParagraftVAGas
											? 'd-none'
											: ''
									">
									<p class="font-weight-custom-va" [ngClass]="
											cekInputAndParagraftVAGas
												? 'd-none'
												: ''
										">
										VA Gas : {{ valueGas }}
									</p>
								</div>
								<div class="boxVA" [ngClass]="
										cekInputAndParagraftVAParking
											? 'd-none'
											: ''
									">
									<p class="font-weight-custom-va" [ngClass]="
											cekInputAndParagraftVAParking
												? 'd-none'
												: ''
										">
										VA Parking : {{ valueParking }}
									</p>
								</div>
								<div class="boxVA" [ngClass]="cekInputVaIPL ? '' : 'd-none'">
									<input matInput formControlName="va_ipl" type="text" name="va_ipl" class="font-weight-custom-va"
										readonly [ngClass]="
											cekInputVaIPL ? '' : 'd-none'
										" />
								</div>
								<div class="boxVA" [ngClass]="cekInputVaWater ? '' : 'd-none'">
									<input matInput formControlName="va_water" type="text" name="va_water" class="font-weight-custom-va"
										readonly [ngClass]="
											cekInputVaWater ? '' : 'd-none'
										" />
								</div>
								<div class="boxVA" [ngClass]="cekInputVaPower ? '' : 'd-none'">
									<input matInput formControlName="va_power" type="text" name="va_power" class="font-weight-custom-va"
										readonly [ngClass]="
											cekInputVaPower ? '' : 'd-none'
										" />
								</div>
								<div class="boxVA" [ngClass]="
										cekInputVaUtility ? '' : 'd-none'
									">
									<input matInput formControlName="va_utility" type="text" name="va_utility"
										class="font-weight-custom-va" readonly [ngClass]="
											cekInputVaUtility ? '' : 'd-none'
										" />
								</div>
								<div class="boxVA" [ngClass]="cekInputVaGas ? '' : 'd-none'">
									<input matInput formControlName="va_gas" type="text" name="va_gas" class="font-weight-custom-va"
										readonly [ngClass]="
											cekInputVaGas ? '' : 'd-none'
										" />
								</div>
								<div class="boxVA" [ngClass]="
										cekInputVaParking ? '' : 'd-none'
									">
									<input matInput formControlName="va_parking" type="text" name="va_parking"
										class="font-weight-custom-va" readonly [ngClass]="
											cekInputVaParking ? '' : 'd-none'
										" />
								</div>
								<!-- <p class="font-weight-custom-va m-0">- va_ipl : 234567342 (✓)</p> -->
							</div>
						</div>
						<div class="form-group kt-form__group row">
							<div class="col-lg-4 kt-margin-bottom-20-mobile">
								<mat-checkbox [(ngModel)]="isPkp" (change)="changePKP()" formControlName="isPKP">PKP</mat-checkbox>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile" [hidden]="TaxId">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Tax Id" formControlName="tax_id" type="number" onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
									<mat-error>Tax Id is
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</form>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-money-bill"></i>
					Receipt Info
				</ng-template>
				<ng-template matTabContent>
					<form [formGroup]="ownersForm" class="kt-form kt-form--group-seperator-dashed">
						<div formGroupName="receipt">
							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="bastu">
								<mat-checkbox formControlName="bastu1">Berita Acara Serah Terima
									Unit</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="ppp">
								<mat-checkbox formControlName="ppp1">Perjanjian Pinjam Pakai</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="ba">
								<mat-checkbox formControlName="ba1">Berita Acara Listrik, Air, Kunci, Kartu
									Akses</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="bpb">
								<mat-checkbox formControlName="bpb1">Berita Pemeriksaan Bersama</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="kp">
								<mat-checkbox formControlName="kp1">Kunci di Pemilik</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="kbm">
								<mat-checkbox formControlName="kbm1">Kunci di Building Management</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="km">
								<mat-checkbox formControlName="km1">Kunci Mailbox</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="ac">
								<mat-checkbox formControlName="ac1">Access Card List ( Studio/1BR/2BR
									)</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="ap">
								<mat-checkbox formControlName="ap1">Access Card Pintu ( Studio/1BR/2BR
									)</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="sm">
								<mat-checkbox formControlName="sm1">Smart Home</mat-checkbox>
							</div>

							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="sv">
								<mat-checkbox formControlName="sv1">Souvenir</mat-checkbox>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="bph">
								<mat-checkbox formControlName="bph1">Buku Panduan Huni</mat-checkbox>
							</div>
							<div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName="ksdm">
								<mat-checkbox formControlName="ksdm1">Kwintansi Security Deposit
									Maintenance</mat-checkbox>
							</div>
						</div>
					</form>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>