<kt-portlet>
	<kt-portlet-header [title]="'Log Purchase Request List'" [class]="'kt-portlet__head--lg'"
		[viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTools>
			<button (click)="export()" mat-raised-button color="primary" class="ml-2">Export</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search" #searchInput placeholder="Search">
							<mat-hint align="start">
								<strong>Search</strong> in Unit No.
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				matSortActive="id" matSortDirection="asc" matSortDisableClear>


				<ng-container matColumnDef="purchase_request_no">
					<mat-header-cell *matHeaderCellDef>Purchase Request No.</mat-header-cell>
					<mat-cell *matCellDef="let logFinance">{{logFinance?.data?.purchase_request_no | uppercase}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
					<mat-cell *matCellDef="let logFinance">{{logFinance?.data?.type | titlecase}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="isApproved">
					<mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
					<mat-cell *matCellDef="let logFinance">{{logFinance?.data?.isApproved ? "Approved" : "unapproved"}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="created_date">
					<mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
					<mat-cell *matCellDef="let logFinance">{{logFinance?.data?.created_date | date : "d/MMM/y" }}
					</mat-cell>
				</ng-container>


				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let logFinance">
						<button mat-icon-button color="warn" matTooltip="Delete" type="button"
							(click)="deleteAccountType(logFinance)" hidden>
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50,100,500,1000,2000]"
				[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>

	</kt-portlet-body>
</kt-portlet>