<div
  class="kt-portlet"
  [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }"
>
  <div class="kt-portlet__head kt-portlet__head__custom">
    <div class="kt-portlet__head-label">
		<ng-template [ngIf]="CreateMasterUnit || DeleteMasterUnit"><h3 class="kt-portlet__head-title">{{ logaction.log_after.cdunt }}</h3></ng-template>
		<ng-template [ngIf]="CreateMasterUnitType || DeleteMasterUnitType"><h3 class="kt-portlet__head-title">{{ logaction.log_after.unttp }}</h3></ng-template>
		<ng-template [ngIf]="CreateMasterUnitRate || DeleteMasterUnitRate"><h3 class="kt-portlet__head-title">{{ logaction.log_after.unit_rate_name }}</h3></ng-template>
		<ng-template [ngIf]="CreateOwnership || DeleteOwnership"><h3 class="kt-portlet__head-title">{{ logaction.log_after.contract_number	}}</h3></ng-template>
		<ng-template [ngIf]="CreateBilling || DeleteBilling"><h3 class="kt-portlet__head-title">{{ logaction.log_number }}</h3></ng-template>
		<ng-template [ngIf]="GenerateBilling"><h3 class="kt-portlet__head-title">{{ logaction.log_number }}</h3></ng-template>
		<ng-template [ngIf]="CreateConsumptionWater || DeleteConsumptionWater"><h3 class="kt-portlet__head-title">{{ logaction.log_after.watname }}</h3></ng-template>
		<ng-template [ngIf]="CreateConsumptionPower || DeleteConsumptionPower"><h3 class="kt-portlet__head-title">{{ logaction.log_after.powname }}</h3></ng-template>

		<ng-template [ngIf]="UpdateMasterUnit"><h3 class="kt-portlet__head-title">{{ logaction.log_before.cdunt }} > {{ logaction.log_after.cdunt }}</h3></ng-template>
		<ng-template [ngIf]="UpdateMasterUnitType"><h3 class="kt-portlet__head-title">{{ logaction.log_before.unttp }} > {{ logaction.log_after.unttp }}</h3></ng-template>
		<ng-template [ngIf]="UpdateMasterUnitRate"><h3 class="kt-portlet__head-title">{{ logaction.log_before.unit_rate_name }} > {{ logaction.log_after.unit_rate_name }}</h3></ng-template>
		<ng-template [ngIf]="UpdateOwnership"><h3 class="kt-portlet__head-title">{{ logaction.log_before.contract_number }} > {{ logaction.log_after.contract_number }}</h3></ng-template>
		<ng-template [ngIf]="PaidBillingFullPayment"><h3 class="kt-portlet__head-title">{{ logaction.log_after.billing_number }}</h3></ng-template>
		<ng-template [ngIf]="UpdateConsumptionWater"><h3 class="kt-portlet__head-title">{{ logaction.log_before.watname }} > {{ logaction.log_after.watname }}</h3></ng-template>
		<ng-template [ngIf]="UpdateConsumptionPower"><h3 class="kt-portlet__head-title">{{ logaction.log_before.powname }} > {{ logaction.log_after.powname }}</h3></ng-template>
		<ng-template [ngIf]="CreateTicket || DeleteTicket"><h3 class="kt-portlet__head-title"><span class="chip">{{ logaction.log_number }}</span></h3></ng-template>

    </div>
  </div>

  <div class="kt-portlet__body">

    <div class="kt-portlet__body-progress">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>

	<ng-template [ngIf]="CreateMasterUnit || DeleteMasterUnit">
			<table class="table table-borderless">
				<tr class="border-bottom">
					<th>Unit Name</th>
					<td>{{ logaction.log_after.nmunt }}</td>
				</tr>
				<tr class="border-bottom">
					<th>Unit Size</th>
					<td>{{ logaction.log_after.untsqr }}</td>
				</tr>
				<tr class="border-bottom">
					<th>Service Rate</th>
					<td>{{ logaction.log_after.srvcrate }}</td>
				</tr>
				<tr class="border-bottom">
					<th>Sinking Funds</th>
					<td>{{ logaction.log_after.sinkingfund }}</td>
				</tr>
			</table>
	</ng-template>

	<ng-template [ngIf]="CreateMasterUnitType || DeleteMasterUnitType">
		<table class="table table-borderless">
			<tr class="border-bottom">
				<th>Unit Size (M<sup>2</sup>)</th>
				<td>{{ logaction.log_after.untsqr }}</td>
			</tr>

		</table>
	</ng-template>

	<ng-template [ngIf]="CreateMasterUnitRate || DeleteMasterUnitRate">
		<table class="table table-borderless">
			<tr class="border-bottom">
				<th>Service Rate</th>
				<td>{{ logaction.log_after.service_rate }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Sinking Fund</th>
				<td>{{ logaction.log_after.sinking_fund }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Over Stay</th>
				<td>{{ logaction.log_after.overstay_rate }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Rent</th>
				<td>{{ logaction.log_after.isRent }}</td>
			</tr>
		</table>
	</ng-template>

	<ng-template [ngIf]="CreateOwnership || DeleteOwnership">
		<table class="table table-borderless">
			<tr class="border-bottom">
				<th>Contract No.</th>
				<td>{{ logaction.log_after.contract_number2 }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Contract Date</th>
				<td>{{ logaction.log_after.contract_date | date: 'yyyy/MM/dd' }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Expiry Date</th>
				<td>{{ logaction.log_after.expiry_date | date: 'yyyy/MM/dd' }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Contact Name</th>
				<td>{{ logaction.log_after.contact_name	}}</td>
			</tr>
			<tr class="border-bottom">
				<th>Unit Name</th>
				<td>{{ logaction.log_after.unit2 }}</td>
			</tr>
			<tr class="border-bottom">
				<th>Created Date</th>
				<td>{{ logaction.log_after.createdDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
			</tr>
		</table>
	</ng-template>

	<ng-template [ngIf]="CreateBilling || DeleteBilling">
		<table class="table table-borderless">
			<tr class="border-bottom">
				<th>No detail.</th>
				<td></td>
			</tr>
		</table>
	</ng-template>

	<ng-template [ngIf]="GenerateBilling">
		<table class="table table-borderless">
			<tr class="border-bottom">
				<th>No detail for Generate Billing.</th>
				<td></td>
			</tr>
		</table>
	</ng-template>

	<ng-template [ngIf]="CreateConsumptionWater || DeleteConsumptionWater">
		<table class="table table-borderless">
			<tr>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Meter</th>
							<td>{{ logaction.log_after.strtpos2	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>End Meter</th>
							<td>{{ logaction.log_after.endpos2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_after.billmnt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>

					</table>
				</td>
				<td class="border-left">
					<p style="color:#3d3d3d; font-size: 18px; font-weight:500;text-align:center">
						<img [hidden]="logaction.log_after.urlmeter.length == undefined" src="{{logaction.log_after.urlmeter}}" width="30%" height="30%">
					</p>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="CreateConsumptionPower || DeleteConsumptionPower">
		<table class="table table-borderless">
			<tr>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Meter</th>
							<td>{{ logaction.log_after.strtpos2	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>End Meter</th>
							<td>{{ logaction.log_after.endpos2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_after.billmnt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>

					</table>
				</td>
				<td class="border-left">
					<p style="color:#3d3d3d; font-size: 18px; font-weight:500;text-align:center">
						<img [hidden]="logaction.log_after.urlmeter.length == undefined" src="{{logaction.log_after.urlmeter}}" width="30%" height="30%">
					</p>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateMasterUnit">
		<table class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit Name</th>
							<td>{{ logaction.log_before.nmunt }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit Size</th>
							<td>{{ logaction.log_before.untsqr }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Service Rate</th>
							<td>{{ logaction.log_before.srvcrate }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sinking Funds</th>
							<td>{{ logaction.log_before.sinkingfund }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit Name</th>
							<td>{{ logaction.log_after.nmunt }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit Size</th>
							<td>{{ logaction.log_after.untsqr }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Service Rate</th>
							<td>{{ logaction.log_after.srvcrate }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sinking Funds</th>
							<td>{{ logaction.log_after.sinkingfund }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateMasterUnitType">
		<table class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit Size</th>
							<td>{{ logaction.log_before.untsqr }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit Size</th>
							<td>{{ logaction.log_after.untsqr }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateMasterUnitRate">
		<table class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Service Rate</th>
							<td>{{ logaction.log_before.service_rate }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sinking Fund</th>
							<td>{{ logaction.log_before.sinking_fund }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Over Stay</th>
							<td>{{ logaction.log_before.overstay_rate }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Rent</th>
							<td>{{ logaction.log_before.isRent }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Service Rate</th>
							<td>{{ logaction.log_after.service_rate }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sinking Fund</th>
							<td>{{ logaction.log_after.sinking_fund }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Over Stay</th>
							<td>{{ logaction.log_after.overstay_rate }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Rent</th>
							<td>{{ logaction.log_after.isRent }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateOwnership">
		<table class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Contract No.</th>
							<td>{{ logaction.log_before.contract_number2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contract Date</th>
							<td>{{ logaction.log_before.contract_date | date: 'yyyy/MM/dd' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Expiry Date</th>
							<td>{{ logaction.log_before.expiry_date | date: 'yyyy/MM/dd' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Name</th>
							<td>{{ logaction.log_before.contact_name	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Address</th>
							<td>{{ logaction.log_before.contact_address	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Phone</th>
							<td>{{ logaction.log_before.contact_phone	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Email</th>
							<td>{{ logaction.log_before.contact_email	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact City</th>
							<td>{{ logaction.log_before.contact_city	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Zip</th>
							<td>{{ logaction.log_before.contact_zip	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit Name</th>
							<td>{{ logaction.log_before.unit2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment Type</th>
							<td>{{ logaction.log_before.paymentType }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment Term</th>
							<td>{{ logaction.log_before.paymentTerm }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Electricity Stand</th>
							<td>{{ logaction.log_before.start_electricity_stand }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Water Stand</th>
							<td>{{ logaction.log_before.start_water_stand }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Virtual Account</th>
							<td>{{ logaction.log_before.virtualAccount }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Tax ID</th>
							<td>{{ logaction.log_before.tax_id }}</td>
						</tr>
						<tr class="border-bottom">
							<th>KTP</th>
							<td>{{ logaction.log_before.ktp }}</td>
						</tr>
						<tr class="border-bottom">
							<th>NPWP</th>
							<td>{{ logaction.log_before.npwp }}</td>
						</tr>
						<tr class="border-bottom">
							<th>No. Rek</th>
							<td>{{ logaction.log_before.norek }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Regency</th>
							<td>{{ logaction.log_before.regency }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Created Date</th>
							<td>{{ logaction.log_before.createdDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Contract No.</th>
							<td>{{ logaction.log_after.contract_number2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contract Date</th>
							<td>{{ logaction.log_after.contract_date | date: 'yyyy/MM/dd' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Expiry Date</th>
							<td>{{ logaction.log_after.expiry_date | date: 'yyyy/MM/dd' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Name</th>
							<td>{{ logaction.log_after.contact_name	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Address</th>
							<td>{{ logaction.log_after.contact_address	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Phone</th>
							<td>{{ logaction.log_after.contact_phone	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Email</th>
							<td>{{ logaction.log_after.contact_email	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact City</th>
							<td>{{ logaction.log_after.contact_city	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Contact Zip</th>
							<td>{{ logaction.log_after.contact_zip	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit Name</th>
							<td>{{ logaction.log_after.unit2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment Type</th>
							<td>{{ logaction.log_after.paymentType }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment Term</th>
							<td>{{ logaction.log_after.paymentTerm }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Electricity Stand</th>
							<td>{{ logaction.log_after.start_electricity_stand }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Water Stand</th>
							<td>{{ logaction.log_after.start_water_stand }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Virtual Account</th>
							<td>{{ logaction.log_after.virtualAccount }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Tax ID</th>
							<td>{{ logaction.log_after.tax_id }}</td>
						</tr>
						<tr class="border-bottom">
							<th>KTP</th>
							<td>{{ logaction.log_after.ktp }}</td>
						</tr>
						<tr class="border-bottom">
							<th>NPWP</th>
							<td>{{ logaction.log_after.npwp }}</td>
						</tr>
						<tr class="border-bottom">
							<th>No. Rek</th>
							<td>{{ logaction.log_after.norek }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Regency</th>
							<td>{{ logaction.log_after.regency }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Created Date</th>
							<td>{{ logaction.log_after.createdDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="PaidBillingFullPayment">
		<table class="table table-borderless">
			<tr>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_after.billing_date  | date: 'yyyy/MM/dd' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Total Billing</th>
							<td>{{ logaction.log_after.totalBilling	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment Method</th>
							<td>{{ logaction.log_after.paymentType	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment To</th>
							<td>{{ datanya.data.acctName }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>&nbsp;</th>
							<td>&nbsp;</td>
						</tr>
						<tr class="border-bottom">
							<th>Paid Date</th>
							<td>{{ logaction.log_after.paidDate  | date: 'yyyy/MM/dd HH:mm:ss'	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>Total Payment</th>
							<td>{{ logaction.log_after.totalNominal }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Total Bill Left</th>
							<td>{{ logaction.log_after.totalBillLeft }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Payment Type</th>
							<td>{{ logaction.log_after.paymentSelection }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateConsumptionWater">
		<table class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_before.unit }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Meter</th>
							<td>{{ logaction.log_before.strtpos2	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>End Meter</th>
							<td>{{ logaction.log_before.endpos2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_before.billmnt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Meter</th>
							<td>{{ logaction.log_after.strtpos2	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>End Meter</th>
							<td>{{ logaction.log_after.endpos2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_after.billmnt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table class="table table-borderless">
						<tr>
							<th>&nbsp;</th>
							<td><p style="color:#3d3d3d; font-size: 18px; font-weight:500;text-align:center">
								<img [hidden]="logaction.log_before.urlmeter == undefined" src="{{logaction.log_before.urlmeter}}" width="30%" height="30%">
							</p></td>
						</tr>
					</table>
				</td>
				<td><table class="table table-borderless">
					<tr>
						<th>&nbsp;</th>
						<td><p style="color:#3d3d3d; font-size: 18px; font-weight:500;text-align:center">
							<img [hidden]="logaction.log_after.urlmeter.length == undefined" src="{{logaction.log_after.urlmeter}}" width="30%" height="30%">
						</p></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateConsumptionPower">
		<table class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_before.unit }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Meter</th>
							<td>{{ logaction.log_before.strtpos2	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>End Meter</th>
							<td>{{ logaction.log_before.endpos2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_before.billmnt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
					</table>
				</td>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Start Meter</th>
							<td>{{ logaction.log_after.strtpos2	}}</td>
						</tr>
						<tr class="border-bottom">
							<th>End Meter</th>
							<td>{{ logaction.log_after.endpos2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Billing Date</th>
							<td>{{ logaction.log_after.billmnt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table class="table table-borderless">
						<tr>
							<th>&nbsp;</th>
							<td><p style="color:#3d3d3d; font-size: 18px; font-weight:500;text-align:center">
								<img [hidden]="logaction.log_before.urlmeter == undefined" src="{{logaction.log_before.urlmeter}}" width="30%" height="30%">
							</p></td>
						</tr>
					</table>
				</td>
				<td><table class="table table-borderless">
					<tr>
						<th>&nbsp;</th>
						<td><p style="color:#3d3d3d; font-size: 18px; font-weight:500;text-align:center">
							<img [hidden]="logaction.log_after.urlmeter.length == undefined" src="{{logaction.log_after.urlmeter}}" width="30%" height="30%">
						</p></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>

	</ng-template>

	<ng-template [ngIf]="UpdateTicket">
		<table *ngIf="subDefectDetail" class="table table-borderless">
			<tr>
				<td class="border-right"><h5>
					Before :</h5>
				</td>
				<td><h5>
					After :</h5>
				</td>
			</tr>
			<tr>
				<td class="border-right">
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Ticket Id.</th>
							<td>{{ logaction.log_before.ticketId }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_before.unit2 | titlecase }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Tenant Name</th>
							<td>{{ logaction.log_before.contract2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Creator Status</th>
							<td>{{ logaction.log_before.statusCreator }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Creator Name</th>
							<td>{{ logaction.log_before.nameInput }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Subject</th>
							<td>{{ logaction.log_before.subject }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sub Defect</th>
							<td>{{ subDefectDetail.defect.defect_name }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Priority</th>
							<td>{{ logaction.log_before.priority }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Status</th>
							<td>
								<span class="chip" [ngClass]="logaction.log_before?.handledBy === 'tro' ? 'chip--tro': logaction.log_before?.handledBy === 'spv' ?
									'chip--spv' : logaction.log_before?.handledBy === 'mgr' ? 'chip--mgr' : 'chip--mob' ">
									{{ moduleTicketing.changeStatus(logaction.log_before.status) }}
								</span>
							</td>
						</tr>
						<tr class="border-bottom">
							<th>Created Date</th>
							<td>{{ logaction.log_before.createdDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Created On</th>
							<td>{{ logaction.log_before.createdOn }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Updated Date</th>
							<td>{{ logaction.log_before.updatedDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Updated By</th>
							<td>{{ user?.before?.username }}</td>
						</tr>
					</table>
				</td>
				<td >
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Ticket Id.</th>
							<td>{{ logaction.log_after.ticketId }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit2 | titlecase }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Tenant Name</th>
							<td>{{ logaction.log_after.contract2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Creator Status</th>
							<td>{{ logaction.log_after.statusCreator }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Creator Name</th>
							<td>{{ logaction.log_after.nameInput }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Subject</th>
							<td>{{ logaction.log_after.subject }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sub Defect</th>
							<td>{{ subDefectDetail.defect.defect_name }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Priority</th>
							<td><div class="chip">{{ logaction.log_after.priority }}</div></td>
						</tr>
						<tr class="border-bottom">
							<th>Status</th>
							<td>
								<span class="chip" >
									{{ moduleTicketing.changeStatus(logaction.log_after.status) }}
								</span>
							</td>
						</tr>
						
						<tr class="border-bottom">
							<th>Created Date</th>
							<td>{{ logaction.log_after.createdDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Created On</th>
							<td>{{ logaction.log_after.createdOn }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Updated Date</th>
							<td>{{ logaction.log_after.updatedDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Updated By</th>
							<td>{{ user?.after?.username }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>
	<ng-template [ngIf]="CreateTicket || DeleteTicket">
		<table *ngIf="subDefectDetail" class="table table-borderless">
			<tr>
				<td>
					<table class="table table-borderless">
						<tr class="border-bottom">
							<th>Ticket Id.</th>
							<td>{{ logaction.log_after.ticketId }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Unit</th>
							<td>{{ logaction.log_after.unit2 | titlecase }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Tenant Name</th>
							<td>{{ logaction.log_after.contract2 }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Creator Status</th>
							<td>{{ logaction.log_after.statusCreator }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Creator Name</th>
							<td>{{ logaction.log_after.nameInput }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Subject</th>
							<td>{{ logaction.log_after.subject }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Sub Defect</th>
							<td>{{ subDefectDetail.defect.defect_name }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Priority</th>
							<td><div class="chip">{{ logaction.log_after.priority }}</div></td>
						</tr>
						<tr class="border-bottom">
							<th>Status</th>
							<td>
								<span class="chip" >
									{{ moduleTicketing.changeStatus(logaction.log_after.status) }}
								</span>
							</td>
						</tr>
						
						<tr class="border-bottom">
							<th>Created Date</th>
							<td>{{ logaction.log_after.createdDate  | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>Created On</th>
							<td>{{ logaction.log_after.createdOn }}</td>
						</tr>
						<tr *ngIf="DeleteTicket" class="border-bottom">
							<th>Delete Date</th>
							<td>{{ logaction.log_date | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
						</tr>
						<tr class="border-bottom">
							<th>{{ DeleteTicket ? 'Deleted By' : CreateTicket ? 'Created By' : '' }}</th>
							<td>{{ logaction.updated_by.username }}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</ng-template>
  </div>

  <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
    <div class="kt-form__actions kt-form__actions--solid">
      <div class="row text-right">
        <div class="col-lg-12 p-4">
          <button type="button" mat-raised-button color="primary" mat-dialog-close cdkFocusInitial [disabled]="viewLoading" matTooltip="Close Detail">
            Tutup
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
