<section>
	<nav id="navbar-example2" class="navbar shadow-sm">
		<div class="container-fluid">
			<div class="logo ml-3">
				<a routerLink="/">
					<!-- <img src="../../../../../assets/media/logos/logo-light-removebg-preview.png" alt="logo-pos" width="115"> -->
					<img src="../../../../../assets/media/pos/logo-pos.png" alt="logo-pos" width="125">
				</a>
			</div>
			<div class="logo ml-3">
				<div class="timer d-flex">
					<span>Payment History - {{newDateTime}}</span> &nbsp;
					<span>{{hr}}: </span>
					<span>{{min}}: </span>
					<span>{{sec}} </span>
				</div>
			</div>
			<div class="logout d-flex align-items-center mr-3">
				<p class=" m-0 p-0">Welcome, {{nameCashier | titlecase}}</p>
				<button class="btn-logout" (click)="logout()">
					<img src="../../../../../assets/media/pos/logout.png" alt="logout" width="25" class="ml-3">
				</button>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="d-flex justify-content-between">
			<div></div>
			<a [routerLink]="['/pos/cashier']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</div>
		<div class="searching">
			<form *ngIf="posForm" [formGroup]="posForm">
				<!-- Start -->
				<div class="form-group kt-form__group row">
					<div class="col-lg-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<label for="unit" class="fnt-inpt">No Unit</label>
							<input type="text" matInput [formControl]="viewBlockResult" [matAutocomplete]="csmrAuto"
								(keyup)="_onKeyup($event, 'noUnit')">
							<mat-error>Fill input by selecting the given items</mat-error>
							<div *ngIf="loadingData.unit" class="form-loader">
								<mat-spinner [diameter]="10"></mat-spinner>
							</div>
							<mat-autocomplete #csmrAuto="matAutocomplete">
								<mat-option *ngFor="let item of UnitResultFiltered" value="{{item.cdunt | uppercase}}"
									(click)="_setBlockValue(item, 'unit')">
									{{item.cdunt | uppercase }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
					</div>
					<div class="col-lg-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<label for="unit" class="fnt-inpt">Category</label>
							<mat-select class="dp-down" formControlName="category">
								<mat-option *ngFor="let item of selectCategory" [value]="item.value"
									(click)="selectFormChange(item.value)">
									{{ item.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

				</div>
				<!-- End -->
			</form>
		</div>
		<div style="margin-top: -20px; margin-left: 10px;">
			<!-- Date Start -->
			<div class="kt-form__filtration d-flex align-items-center" style="width:100%">
				<!-- Date filter -->
				<div style="width: 23.5%" class="datePos">
					<p class="title-date">From Date</p>
					<mat-form-field class="inpt-date">
						<input matInput [formControl]="date.start.control" [matDatepicker]="startDate" (focus)="startDate.open()"
							(dateChange)="addDate('start', $event)" readonly #startDate />
						<mat-datepicker-toggle class="ic-date" matSuffix [for]="startDate">
						</mat-datepicker-toggle>
						<mat-datepicker #startDate></mat-datepicker>
					</mat-form-field>
				</div>

				<span class="divider p-3" style="font-size: 16px">
					<br> - </span>

				<div style="width: 23.5%" class="datePos">
					<p class="title-date">To Date</p>
					<mat-form-field class="inpt-date">
						<input matInput [formControl]="date.end.control" [matDatepicker]="endDate" (focus)="endDate.open()"
							(dateChange)="addDate('end', $event)" readonly #endDate />
						<mat-datepicker-toggle class="ic-date" matSuffix [for]="endDate"></mat-datepicker-toggle>
						<mat-datepicker #endDate></mat-datepicker>
					</mat-form-field>
				</div>
				<div [ngClass]="isOpenSearch ? 'btn-srch' : 'btn-srch-disable'"
					class="col-lg-3  d-flex align-items-center ml-3 mt-3">
					<button (click)="isOpenSearch ? searching() : ''">
						<img src="../../../../../assets/media/pos/ic-search.png" alt="ic-search" width="20">
					</button>
				</div>
				<!-- ./Date filter -->
			</div>
			<!-- Date End -->
		</div>

		<!-- Handle Display Start -->
		<div class="preview pv-row row">
			<div class="col-lg-5">
				<div class="d-flex flex-column flex-wrap columnsList">
					<table class="tbl-ph" border="1">
						<tr>
							<th class="th-clr text-center p-3">Action</th>
							<th class="th-clr text-center p-3">Transaction ID</th>
							<th class="th-clr text-center p-3">Unit No</th>
							<th class="th-clr text-center p-3">Date</th>
							<th class="th-clr text-center p-3">Total</th>
						</tr>
						<tr *ngFor="let item of columnsList;  let i = index">
							<td class="text-center">
								<!-- <mat-checkbox [checked]="selected === i" (change)="selected = i" (click)="clickToSelect(item)">
								</mat-checkbox> -->
								<mat-radio-button class="ml-3" (change)="clickToSelect(item)"></mat-radio-button>
							</td>
							<td class="p-2 p-td">{{item?.cashierNo | uppercase}} </td>
							<td class="p-2 p-td">{{item?.unitID.cdunt | uppercase}} </td>
							<td class="p-2 p-td">{{item?.crtDate | date: "dd/MM/yyyy"}}</td>
							<td class="p-2 p-td">Rp. {{item?.totalPOS | currency:'idr':''}}</td>
						</tr>

						<tr *ngIf="columnsList.length === 0">
							<td colspan="5" class="p-5 text-center">
								<p>No Data !</p>
							</td>
						</tr>
					</table>
				</div>

			</div>
			<div class="col-lg-7">
				<div class="d-flex justify-content-between">
					<div></div>
					<button *ngIf="isPrinted" mat-flat-button class="mb-3" (click)="getPreviewSource('download')" color="primary">
						<mat-icon>cloud_download</mat-icon> Download
					</button>
				</div>
				<button *ngIf="!isPrinted" mat-flat-button class="mb-3" style="width: 100%"
					(click)="getPreviewSource('preview')" color="primary">
					<mat-icon>print</mat-icon> PREVIEW
				</button>
				<div *ngIf="!isPrinted" class="no-pdf d-flex justify-content-center align-items-center">
					<div>
						<h4>Preview PDF</h4>
						<h5 class="text-danger">( Not Found! )</h5>
					</div>
				</div>
				<div *ngIf="loading.status" class="form__btn-group__confirm-loader">
					<mat-spinner [diameter]="20"></mat-spinner>
					<span>Preparing document preview</span>
				</div>

				<!-- <div *ngIf="preview.status"> -->
				<div>
					<!-- <button mat-flat-button color="primary" [matMenuTriggerFor]="download" [disabled]="loading.status">
						<span class="icon">
							<i class="flaticon2-download"></i>
						</span>
						<span>download</span>
					</button> -->
					<mat-menu #download>
						<!-- <button mat-menu-item (click)="downloadFile('pdf')"> -->
						<button mat-menu-item>
							<img class="menu-icon" src="assets/media/icons/pdf-file.png" alt="spreadsheet">
							PDF
						</button>
						<!-- <button mat-menu-item (click)="downloadFile('spreadsheet')">
              <img class="menu-icon" src="assets/media/icons/spreadsheet.png" alt="spreadsheet">
              Excel
            </button> -->
					</mat-menu>
				</div>
				<!-- Preview -->
				<iframe *ngIf="preview.status" class="kt-embed" [src]="pdfSrc" style="width:100%; height:100%"></iframe>
				<!-- <pdf-viewer *ngIf="preview.status" [src]="pdfSrc" style="width: 100%; height:100%; " #pdfViewer></pdf-viewer> -->
			</div>
		</div>
		<!-- Handle Display End -->
	</div>
</section>