<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/gas-management/gas/transaction']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button>
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button>
				<span class="kt-hidden-mobile">Save</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-flask"></i>
					Gas Consumption Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="gasTransaction">
						<form [formGroup]="gasTransactionForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Gas Meter Name" formControlName="gas" #gasmeter (selectionChange)="changeGasMeter(gasmeter.value)">
												<mat-option *ngFor="let item of gasMeter" [value]="item._id" >
													{{item.nmmtr}} - {{ item.unt.cdunt}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Gas Rate" formControlName="rate"/>
											<mat-error>Gas Rate is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Starting Meter Position" formControlName="strtpos" (change)="changeMeterPost()" 
											type="number"
											onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
											<mat-error>Starting meter position is
												<strong>required</strong>
											</mat-error>
											<span matSuffix>/ kg</span>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Last Meter Position" formControlName="endpos" (change)="changeMeterPost()" 
											type="number"
											onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
											<mat-error>Last meter position is
												<strong>required</strong>
											</mat-error>
											<span matSuffix>/ kg</span>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field>
											<mat-label>Billing Date</mat-label>
											<input matInput [matDatepicker]="date" formControlName="billmnt" disabled>
											<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
											<mat-datepicker #date disabled="false"
															startView="multi-year"
															panelClass="example-month-picker"
											></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Billing Amount" formControlName="billamnt" type="number"/>
											<mat-error>Billing Amount is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-checkbox [(ngModel)]="checker" formControlName="checker">Posting</mat-checkbox>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>