::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}


.chip {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;
    background-color: lightblue;
    border-radius: 25px;

    &--danger {
        color: #fff;
        background-color: #fd397a;
    }

    &--success {
        color: #fff;
        background-color: #00b93a;
    }

    &--warning {
        background-color: gold;
    }
}
