::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.mat-column-no {
    flex: 0 0 5%;
}

// TAB NAVIGATE

.btn-navigate {
    background-color: #2D8BC0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.navigate {
    color: #3273AE;
    font-family: 'Poppins', sans-serif;
}

::ng-deep .mat-ink-bar {
    // background-color: var(--primary-color, $orange) !important;
    display: none !important;
    visibility: hidden !important;
    transition: none !important;
    height: 0px !important;
    width: 0px !important;
}