:root {
  --black: #3d3d3d;
  --light: #ffffff;
  --graylight: #F7F7F7;
}

nav {
  background-color: #DDF1FF;

  .logout p {
    font-size: 18px;
    font-weight: 500;
    color: #193A85;
  }
}

section {
  .content {
    margin: 60px auto;
    width: 90%;
  }

  .content .searching label {
    color: var(--black);
    font-weight: 500;
  }

  .content .searching input,
  .content .searching .dp-down {
    width: 100%;
    outline: none;
    border-radius: 5px;
    background-color: var(--light);
    padding: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    color: var(--black);
  }

  .content .searching .btn-srch button {
    background-color: #DDF1FF;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.200);
  }

  .content .searching .btn-srch-disable button {
    background-color: #eaeaea;
    color: #696969a6;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: not-allowed;
    padding: 10px 16px;
    box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.200);
  }

  .content .searching .btn-srch button:hover {
    background-color: #b3dfff;
  }

  .box-content {
    padding: 0 10px;
  }

  .box-content .btn-invoice {
    margin-top: 10px;
    background-color: #DDF1FF;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #193A85;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.222);
  }

  .box-content .btn-invoice-disable {
    margin-top: 10px;
    background-color: #eaeaea;
    color: #696969a6;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    cursor: not-allowed;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.222);
  }

  .box-content .btn-invoice:hover {
    background-color: #92d1ff;
  }

  .box-content .check-input,
  .box-content .detail-invoice,
  .box-content .pay-to {
    border-radius: 10px;
    height: 525px;
    padding: 10px;
    background-color: var(--light);
    border: 1.5px solid rgba(0, 0, 0, 0.200);
  }

  .box-content .check-input {
    height: 400px;
    // width: 100%;
    // background-color: var(--light);
    // border: 1.5px solid rgba(0, 0, 0, 0.200);
  }

  .box-content .detail-total {
    width: 100%;
    margin: 25px 0 0 0;
  }

  .box-content .detail-invoice {
    background-color: var(--light);
    border: 1.5px solid rgba(0, 0, 0, 0.200);
  }

  .box-content .check-input h5,
  .box-content .detail-invoice h5 {
    text-decoration: underline;
  }

  .box-content .pay-to {
    background-color: rgb(238, 238, 238);
  }

  .box-content table tr td p {
    font-size: 18px;
  }

  .box-content .inpt-pay {
    background-color: var(--light);
    outline: none;
    border-radius: 2px;
    border: 1.2px solid rgba(0, 0, 0, 0.2);
    padding: 8px 14px;
  }

  .box-content .td-initial {
    width: 50%;
  }

  .box-content .btn-pay {
    background-color: #A0D995;
    color: var(--light);
    font-weight: 500;
    outline: none;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 18px;
  }

  .box-content .btn-pay:hover {
    background-color: #7aae70;
  }

  .fw-style-cek {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }

  .box-desc {
    background-color: rgba(157, 157, 157, 0.120);
    border-radius: 6px;
    padding: 8px;
  }

  .timer {
    font-size: 16px;
    font-weight: 500;
  }

  .fnt-inpt {
    font-family: 'Poppins', sans-serif;
  }

  .detail-invoice.sr {
    overflow: scroll;
  }

  .btn-payhistory {
    background-color: #94B49F;
    outline: none;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.222);
    border-radius: 8px;
    padding: 14px;
    color: white;
    font-weight: 400;
    font-size: 16px;
  }

  .btn-payhistory:hover {
    background-color: #8eddaa;
  }

  .btn-logout {
    outline: none;
    border: none;
    background-color: transparent;
  }

  .columnsList {
    height: 380px
  }

  .h-full {
    height: 100%;
  }

  .p-no {
    background-color: rgba(255, 123, 0, 0.2);
    color: rgb(255, 123, 0);
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .clr-grn {
    color: rgb(0, 100, 0);
    font-weight: 500
  }

  .clr-red {
    color: rgb(175, 0, 0);
    font-weight: 500
  }
}