<section>
	<nav id="navbar-example2" class="navbar shadow-sm">
		<div class="container-fluid">
			<div class="logo ml-3">
				<a routerLink="/">
					<!-- <img src="../../../../../assets/media/logos/logo-light-removebg-preview.png" alt="logo-pos" width="115"> -->
					<img src="../../../../../assets/media/pos/logo-pos.png" alt="logo-pos" width="125">
				</a>
			</div>
			<div class="logo ml-3">
				<!-- <a routerLink="/"> -->
				<!-- <img src="../../../../../assets/media/pos/logo-pos.png" alt="logo-pos" width="125"> -->
				<!-- </a> -->

				<!-- Timer Start -->
				<div class="timer d-flex">
					<span>{{newDateTime}}</span> &nbsp;
					<span>{{hr}}: </span>
					<span>{{min}}: </span>
					<span>{{sec}} </span>
				</div>
				<!-- Timer End -->

				<!-- <button (click)="start()">start</button> -->
			</div>
			<div class="logout d-flex align-items-center mr-3">
				<p class=" m-0 p-0">Welcome, {{nameCashier | titlecase}}</p>
				<button class="btn-logout" (click)="logout()">
					<img src="../../../../../assets/media/pos/logout.png" alt="logout" width="25" class="ml-3">
				</button>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="searching">
			<form *ngIf="posForm" [formGroup]="posForm">
				<div class="row ">
					<!-- <div class="col-md-3">
						<label for="unit">No Unit</label>
						<br>
						<input type="text" placeholder="Choose unit number...">
					</div> -->
					<!-- <div class="col-sm-3 btn-srch d-flex align-items-end">
						<button>
							<img src="../../../../../assets/media/pos/ic-search.png" alt="ic-search" width="20">
						</button>
					</div> -->
				</div>
				<!-- Start -->
				<div class="form-group kt-form__group row">
					<div class="col-lg-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<label for="unit" class="fnt-inpt">No Unit</label>
							<input type="text" matInput [formControl]="viewBlockResult" [matAutocomplete]="csmrAuto"
								(keyup)="_onKeyup($event, 'noUnit')">
							<mat-error>Fill input by selecting the given items</mat-error>
							<div *ngIf="loadingData.unit" class="form-loader">
								<mat-spinner [diameter]="10"></mat-spinner>
							</div>
							<mat-autocomplete #csmrAuto="matAutocomplete">
								<mat-option *ngFor="let item of UnitResultFiltered" value="{{item.cdunt | uppercase}}"
									(click)="_setBlockValue(item, 'unit')">
									{{item.cdunt | uppercase }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
					</div>
					<div class="col-lg-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<label for="unit" class="fnt-inpt">Category</label>
							<mat-select p class="dp-down" formControlName="category">
								<mat-option *ngFor="let item of selectCategory" [value]="item.value"
									(click)="selectFormChange(item.value)">
									{{ item.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div [ngClass]="isOpenSearch ? 'btn-srch' : 'btn-srch-disable'"
						class="col-lg-2 d-flex align-items-center mt-2">
						<button (click)="isOpenSearch ? searching() : ''">
							<img src="../../../../../assets/media/pos/ic-search.png" alt="ic-search" width="20">
						</button>
					</div>
					<div class="col-lg-3 ml-5 d-flex justify-content-between">
						<div></div>
						<div>
							<button class="btn-payhistory d-flex align-items-center" (click)="payHistoryLink()">
								<mat-icon style="line-height: 1.4;">history</mat-icon>
								Payment History
							</button>
							<p class="mt-3">Transaction ID : {{codePOS}}</p>
						</div>
					</div>
				</div>

				<!-- End -->
			</form>
		</div>
		<div class="box-content mt-3 row ">
			<div class="check-input col-lg-7 mr-5" style="overflow: scroll;">
				<h5>{{wordingChecked}}</h5>
				<!-- <div class="d-flex flex-column flex-wrap mb-3 p-4 border border-secondary">
					<p class="font-italic">Choose Column</p> -->
				<div *ngIf="conditionBill" class="h-full d-flex  justify-content-center align-items-center">
					<span class="p-no"> No Data!</span>
				</div>
				<div *ngIf="loadingBillUnit" class="h-full d-flex  justify-content-center align-items-center">
					<span class="p-no">Loading Billing...</span>
				</div>
				<div class="d-flex flex-column  columnsList">
					<!-- <div class="d-flex flex-column  columnsList"> -->
					<!-- <mat-checkbox class="w-25 p-2 font-weight-bold fw-style-cek" (change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()">
						All
					</mat-checkbox> -->
					<mat-checkbox class="w-25 p-2 fw-style-cek" *ngFor="let list of columnsList; let id = index"
						(click)="$event.stopPropagation()" (change)="$event ? toggleBilling($event, list) : null"
						[checked]="selection.isSelected(list)">
						{{ categoryChooseTitle === "invoice" ? (list.billing_number | uppercase) :
						categoryChooseTitle === "galon" ? list.tgl :
						categoryChooseTitle === "ticket" ? list.ticketId : (list.billingNo | uppercase)}}
					</mat-checkbox>

					<!-- </div> -->
				</div>

			</div>
			<div class="check-input col-lg-4">
				<h5>Detail Billing</h5>
				<div class="d-flex flex-column flex-wrap">
					<!-- <mat-checkbox class="w-25 p-2 fw-style-cek" *ngFor="let list of detailList; let id = index"
						(click)="$event.stopPropagation()" (change)="$event ? selection.toggle(list) : null"
						[checked]="selection.isSelected(list)">
						{{ list }}
					</mat-checkbox> -->
					<table>
						<tr *ngFor="let list of detailList">
							<td>
								<p class="fw-style-cek m-0">{{list?.name}} {{list?.brand | titlecase}} </p>
							</td>
							<td><input type="text" class="inpt-pay"
									[value]="categoryChooseTitle === 'galon' ? ('Rp. ' + (amountTotalGalon(list?.value, 'view') | currency:'idr':'')) : ('Rp.' +(list.price | currency:'idr' :'') ) "
									readonly></td>
						</tr>
					</table>
					<!-- <p class="fw-style-cek " *ngFor="let list of detailList"> {{ list }}</p> -->
				</div>
			</div>
			<div class="detail-total row ">
				<div class="col-lg-7 mr-5 p-0">
					<div class="detail-invoice sr">
						<h5>Description</h5>
						<!-- For Billing START -->
						<div class="box-desc mt-3" *ngFor="let item of descDetail">
							<h6>{{item.billing_number}}</h6>
							<p>1. IPL : Rp. {{item.ipl.allIplAfterTax ? (item.ipl.allIplAfterTax | currency:"idr" : "") :(
								item.ipl.allIpl | currency:"idr" : "")}}</p>
							<p>2. Water Consumption : Rp. {{item.water.allWaterAmountAfterFeeAndTax ?
								(item.water.allWaterAmountAfterFeeAndTax | currency:"idr" : "") : (item.water.allWaterAmount
								|currency:"idr" : "")}}</p>
							<p>3. Electricity Consumption : Rp. {{item.power.allPowerAmountAfterFeeAndTax ?
								( item.power.allPowerAmountAfterFeeAndTax | currency:"idr" : "") :
								(item.power.allPowerAmount|currency:"idr" : "")}}</p>
							<p>4. Parking : Rp. {{item.parking ? (item.parking| currency:"idr" : "") : "0,00"}}</p>
							<p>5. Rental : Rp. {{item.rental ? (item.rental | currency:"idr" : "") : "0,00"}}</p>
							<p>6. Pinalty : Rp. {{item.pinalty ? (item.pinalty| currency:"idr" : "") : "0,00"}}</p>
						</div>
						<!-- For Billing END -->
						<!-- For Galon START -->
						<div class="box-desc mt-3" *ngFor="let item of descDetailGalon">
							<h6>{{item.tgl}}</h6>
							<p class="pb-2" *ngFor="let itemD of item.detail; let i = index">&nbsp; {{i+1}}. {{itemD.brand |
								titlecase}} : Rp.
								{{itemD.price|currency:"idr" : ""}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp; Price : Rp. {{itemD.price |currency:"idr" : ""}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp; Quantity : {{itemD.qty}}
								<br>&nbsp;&nbsp;&nbsp;&nbsp; Total : Rp. {{itemD.totalTr |currency:"idr" : ""}}
							</p>
						</div>
						<!-- For Galon END -->
						<!-- For Ticket START -->
						<div class="box-desc mt-3" *ngFor="let item of descDetailTicket">
							<h6>{{item.ticketId}}</h6>
							<p *ngFor="let item of item.itemReq; let i = index">{{i+1}}. {{item.item | titlecase}} : Rp. {{item.cost |
								currency:"idr" : ""}}
							</p>
						</div>
						<!-- For Ticket END -->
						<!-- For Parking START -->
						<div class="box-desc mt-3" *ngFor="let item of descDetailParking">
							<h6>{{item.billingNo | uppercase}} - {{item.periode}}</h6>
							<p>&nbsp; - Block Code : {{item.parking.codeAddParkLot}}</p>
							<p>&nbsp; - Tipe Kendaraan : {{item.parking.vehicle.nmvhtp | titlecase}}</p>
							<p>&nbsp; - Nomor Kendaraan : {{item.parking.vehicleNum | uppercase}}</p>
							<p>&nbsp; - Nominal Parkir : Rp. {{item.parking.parkingRate | currency:"idr":""}}</p>
						</div>
						<!-- For Parking END -->
					</div>
					<!-- <button [ngClass]="isPrintedActive ? 'btn-invoice' : 'btn-invoice-disable'"><img
							src="../../../../../assets/media/pos/ic-print.png" alt="ic-print" width="20">
						Print Receive</button> -->
				</div>

				<form *ngIf="posForm" [formGroup]="posForm" class="pay-to col-lg-4">
					<table>
						<tr>
							<td class="td-initial">
								<p class="m-0">Subtotal (Rp.)</p>
							</td>
							<td><input type="text" class="inpt-pay" formControlName="subTotalPOS" readonly></td>
						</tr>
						<tr>
							<td class="td-initial">
								<p class="m-0">Printed Fee (Rp.)</p>
							</td>
							<td><input type="text" class="inpt-pay" formControlName="printedFee" readonly></td>
						</tr>
						<tr>
							<td class="td-initial">
								<p class="m-0 font-weight-bold">Total (Rp.)</p>
							</td>
							<td><input type="text" class="inpt-pay" formControlName="totalPOS" readonly></td>
						</tr>
					</table>
					<hr>
					<table>
						<tr>
							<td class="td-initial">
								<p class="m-0">Select Payment</p>
							</td>
							<td>
								<mat-form-field class="mat-form-field-fluid">
									<input class="inpt-pay" type="text" matInput [formControl]="slctPaymentBlockResult"
										[matAutocomplete]="slctMtd" (keyup)="_onKeyup($event, 'slctPayment')">
									<mat-error>Fill input by selecting the given items</mat-error>
									<div *ngIf="loadingData.unit" class="form-loader">
										<mat-spinner [diameter]="10"></mat-spinner>
									</div>
									<mat-autocomplete #slctMtd="matAutocomplete">
										<mat-option *ngFor="let item of SlctPaymentResultFiltered" value="{{item.name | uppercase}}"
											(click)="_setBlockValue(item, '')">
											{{item.name | uppercase }}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
								<!-- <input type="text" class="inpt-pay"> -->
							</td>
						</tr>
						<tr [hidden]="isCash || isCredDebCard">
							<td class="td-initial" [hidden]="!isEmoney">
								<p class="m-0">Bank</p>
							</td>
							<td [hidden]="!isEmoney">
								<mat-form-field class="mat-form-field-fluid">
									<input class="inpt-pay" type="text" matInput [formControl]="bankMtdResult" [matAutocomplete]="bankMtd"
										(keyup)="_onKeyup($event, 'bankMtd')">
									<mat-error>Fill input by selecting the given items</mat-error>
									<div *ngIf="loadingData.unit" class="form-loader">
										<mat-spinner [diameter]="10"></mat-spinner>
									</div>
									<mat-autocomplete #bankMtd="matAutocomplete">
										<mat-option *ngFor="let item of BankMtdResultFiltered" value="{{item.bank  | uppercase}}"
											(click)="_setBlockValue(item, '')">
											{{item.bank | uppercase }}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
								<!-- <input type="text" class="inpt-pay"> -->
							</td>
						</tr>
						<tr [hidden]="isCash">
							<td class="td-initial" [hidden]="isEmoney">
								<p class="m-0">E-Money Name</p>
							</td>
							<td [hidden]="isEmoney">
								<mat-form-field class="mat-form-field-fluid">
									<input class="inpt-pay" type="text" matInput [formControl]="moneyNameMtdResult"
										[matAutocomplete]="moneyName" (keyup)="_onKeyup($event, 'moneyName')">
									<mat-error>Fill input by selecting the given items</mat-error>
									<div *ngIf="loadingData.unit" class="form-loader">
										<mat-spinner [diameter]="10"></mat-spinner>
									</div>
									<mat-autocomplete #moneyName="matAutocomplete">
										<mat-option *ngFor="let item of emoneyResultFiltered" value="{{item.name  | uppercase}}"
											(click)="_setBlockValue(item, '')">
											{{item.name | uppercase }}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
								<!-- <input type="text" class="inpt-pay"> -->
							</td>
						</tr>
						<tr [hidden]="isCash || isCredDebCard">
							<td class="td-initial" [hidden]="!isEmoney">
								<p class="m-0">Card Number</p>
							</td>
							<td [hidden]="!isEmoney"><input type="number" class="inpt-pay" min="0"
									onKeyPress="if(this.value.length==16) return false;" oninput="this.value = 
								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined" formControlName="cardNo">
							</td>
						</tr>
						<tr [hidden]="!isCheckTotal">
							<td class="td-initial">
								<p class="m-0">Amount (Rp.)</p>
							</td>
							<td><input type="text" class="inpt-pay" (input)="changeAmount($event, 1)" formControlName="amount"></td>
						</tr>
						<tr>
							<td class="td-initial">
								<p class="m-0 font-weight-bold">Change (Rp.)</p>
							</td>
							<td><input [ngClass]="isChangeColor ?  'clr-red' : 'clr-grn'" type="text" class="inpt-pay"
									formControlName="change" readonly></td>
						</tr>
					</table>
					<hr>
					<button class="btn-pay" (click)="openPay()">
						<img src="../../../../../assets/media/pos/wallet.png" alt="wallet" width="20">
						Pay
					</button>
				</form>
			</div>
		</div>
	</div>
</section>