<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/debitnote']" class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button>
				<!-- <i class="la la-arrow-left"></i> -->
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button
				[disabled]="loading.submit">
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Journal Debit Note Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="debitNote">
						<form [formGroup]="debitNoteForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try
								submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="crtdt" placeholder="Date" formControlName="date"
												(click)="crtdt.open()" autocomplete="off" />
											<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
											<mat-datepicker #crtdt></mat-datepicker>
											<mat-error>Date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Deposit To" [formControl]="viewDebitNoteResult"
												[matAutocomplete]="arAuto" (keyup)="_onKeyup($event)" />
											<mat-error>Fill input by selecting the
												given items</mat-error>
											<mat-autocomplete #arAuto="matAutocomplete">
												<mat-option *ngIf="loading.deposit">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner>
													</div>
												</mat-option>
												<mat-option *ngIf="
														!loading.deposit &&
														!debitNoteListResultFiltered.length
													">Item is empty</mat-option>
												<mat-option *ngFor="
														let item of debitNoteListResultFiltered
													" value="{{
														item.acctNo | titlecase
													}} - {{
														item.acctName
															| titlecase
													}}" (click)="_setDebitNoteValue(item)">
													{{
													item.acctNo | titlecase
													}}
													-
													{{
													item.acctName
													| titlecase
													}}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div> -->
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Select Voucher Bill" [matAutocomplete]="GlAuto"
												formControlName="nameARID" (keyup)="_onKeyupVoucherBill($event)" />
											<mat-error>Fill input by selecting the
												given items</mat-error>
											<mat-autocomplete #GlAuto="matAutocomplete">
												<mat-option *ngIf="loading.voucherBill">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner>
													</div>
												</mat-option>
												<mat-option *ngIf="
												!loading.voucherBill &&
												!voucherBillFiltered.length
											">Item is empty
												</mat-option>
												<mat-option *ngFor="
												let item of voucherBillResult
											" value=" {{item.voucherno | titlecase}} - {{item.memo | titlecase}}" (click)="
												_setVoucherBill(item)
											">
													{{item.voucherno | titlecase}} - {{item.memo | titlecase}}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Voucher No" formControlName="voucherno" />
											<mat-error>Voucher No is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description Title" formControlName="payFrom" />
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Currency" formControlName="rate" />
										</mat-form-field>
									</div>
								</div>

								<!-- Multi GL Account START-->
								<div class="kt-form" formGroupName="multiGLAccount">
									<!-- GL Account 1 START -->
									<div class="mat-table__wrapper">

										<mat-table class="lmat-elevation-z8" mat-table #myTable [dataSource]="ccList" matSort
											#sort1="matSort" matSortDirection="asc" matSortDisabledClear>

											<ng-container matColumnDef="no">
												<mat-cell *matCellDef="let cc; let id = index">{{id + 1}}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="gl">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input type="text" matInput placeholder="GL Account" name="{{id + 1}}"
																formControlName="{{'glAcc' + (id + 1)}}" [matAutocomplete]="GlAuto"
																(keyup)="_onKeyupGL($event)" />
															<mat-error>Fill input by selecting the
																given items</mat-error>
															<mat-autocomplete #GlAuto="matAutocomplete">
																<mat-option *ngIf="loading.glaccount">
																	<div class="opt-loader">
																		<mat-spinner [diameter]="15"></mat-spinner>
																	</div>
																</mat-option>
																<mat-option *ngIf="
																!loading.glaccount &&
																!gLListResultFiltered.length
															">Item is empty
																</mat-option>
																<mat-option *ngFor="
																let item of gLListResultFiltered
															" value="{{
																item.acctNo | titlecase
															}} - {{
																item.acctName
																	| titlecase
															}}" (click)="
																_setGLAccount(item, ('target' + (id + 1)))
															">
																	{{
																	item.acctNo | titlecase
																	}}
																	-
																	{{
																	item.acctName
																	| titlecase
																	}}
																</mat-option>
															</mat-autocomplete>
														</mat-form-field>
													</div>

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="amount">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Amount" name="{{id + 1}}" autocomplete="off"
																(input)="changeAmount($event, (id + 1))" formControlName="{{'amount' + (id + 1)}}"
																(keydown)="
															inputKeydownHandler($event)
														" maxlength="30" />
															<span matPrefix>Rp &nbsp;</span>
															<mat-error>Amount is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>

												</mat-cell>
											</ng-container>


											<ng-container matColumnDef="desc">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<!-- <input matInput placeholder="Description" (change)="valueAmount($event)" name="{{id + 1}}" formControlName="memo" /> -->
															<!-- <input matInput placeholder="Description" (change)="valueDescription($event)" -->
															<input matInput placeholder="Description" formControlName="{{'memo' + (id + 1)}}"
																name="{{id + 1}}" />
															<mat-error>Description is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="isdebit">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 d-flex flex-row align-items-center kt-margin-bottom-20-mobile">
														<div class="d-flex">
															<div class="d-flex align-items-center">
																<input type="radio" id="{{'Debit' + (id + 1)}}" name="{{(id + 1)}}" value="true"
																	[checked]="valueChecked(('deb' + (id + 1)), (id + 1))" (change)="valueIsDebit($event)"
																	(click)="clickToggle($event)" [disabled]="true" />
																<label for="{{'Debit' + (id + 1)}}" class="m-0 pl-2">Debit</label><br />
															</div>
															<div class="mx-3 d-flex align-items-center">
																<input type="radio" id="{{'Credit' + (id + 1) }}" name="{{(id + 1)}}" value="false"
																	[checked]="valueChecked(('cred' + (id + 1)), (id + 1))"
																	(change)="valueIsDebit($event)" (click)="clickToggle($event)" [disabled]="true" />
																<label for="{{'Credit' + (id + 1) }}" class="m-0 pl-2">Credit</label><br />
															</div>
														</div>
													</div>

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="action">
												<mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
												<mat-cell *matCellDef="let cc; let id = index">
													<!-- <button mat-icon-button color="primary" matTooltip="Add Field" type="button"
														[ngClass]="'hideMaksField' + (id + 1)" [disabled]="totalField != (id + 1) ? true : false"
														(click)="addCC((id + 1))">
														<mat-icon>add</mat-icon>
													</button>
													<button mat-icon-button color="warn" matTooltip="Delete Field" type="button"
														[disabled]="totalField != (id + 1) ? true : false" (click)="removeCC(id)">
														<mat-icon>delete</mat-icon>
													</button> -->
												</mat-cell>
											</ng-container>

											<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
										</mat-table>

										<!-- Message for empty data -->
										<div class="mat-table__message" *ngIf="!ccList.length">
											<button mat-icon-button color="primary" matTooltip="Add GL" type="button"
												(click)="addCCEmpty(ccList)">
												<mat-icon>add</mat-icon>
												Add GL Account
											</button>
										</div>
									</div>
									<!-- GL Account 1 END -->

									<!-- GL Account 2 START -->
									<div class="mat-table__wrapper">

										<mat-table class="lmat-elevation-z8" mat-table #myTable2 [dataSource]="ccList2" matSort
											#sort1="matSort" matSortDirection="asc" matSortDisabledClear>

											<ng-container matColumnDef="no2">
												<mat-cell *matCellDef="let cc; let id = index">{{id + 2}}</mat-cell>
											</ng-container>

											<ng-container matColumnDef="gl2">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input type="text" matInput placeholder="GL Account" name="{{id + 2}}"
																formControlName="{{'glAcc' + (id + 2)}}" [matAutocomplete]="GlAuto"
																(keyup)="_onKeyupGL2($event)" />
															<mat-error>Fill input by selecting the
																given items</mat-error>
															<mat-autocomplete #GlAuto="matAutocomplete">
																<mat-option *ngIf="loading.glaccount2">
																	<div class="opt-loader">
																		<mat-spinner [diameter]="15"></mat-spinner>
																	</div>
																</mat-option>
																<mat-option *ngIf="
																!loading.glaccount2 &&
																!gLListResultFiltered2.length
															">Item is empty
																</mat-option>
																<mat-option *ngFor="
																let item of gLListResultFiltered2
															" value="{{
																item.acctNo | titlecase
															}} - {{
																item.acctName
																	| titlecase
															}}" (click)="
																_setGLAccount(item, ('target' + (id + 2)))
															">
																	{{
																	item.acctNo | titlecase
																	}}
																	-
																	{{
																	item.acctName
																	| titlecase
																	}}
																</mat-option>
															</mat-autocomplete>
														</mat-form-field>
													</div>

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="amount2">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Amount" name="{{id + 2}}" autocomplete="off"
																(input)="changeAmount($event, (id + 2))" formControlName="{{'amount' + (id + 2)}}"
																(keydown)="
															inputKeydownHandler($event)
														" maxlength="30" />
															<span matPrefix>Rp &nbsp;</span>
															<mat-error>Amount is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>

												</mat-cell>
											</ng-container>


											<ng-container matColumnDef="desc2">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<!-- <input matInput placeholder="Description" (change)="valueAmount($event)" name="{{id + 2}}" formControlName="memo" /> -->
															<!-- <input matInput placeholder="Description" (change)="valueDescription($event)" -->
															<input matInput placeholder="Description" formControlName="{{'memo' + (id + 2)}}"
																name="{{id + 2}}" />
															<mat-error>Description is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="isdebit2">
												<mat-cell *matCellDef="let cc; let id = index">
													<div class="col-md-12 d-flex flex-row align-items-center kt-margin-bottom-20-mobile">
														<div class="d-flex">
															<div class="d-flex align-items-center">
																<input type="radio" id="{{'Debit' + (id + 2)}}" name="{{(id + 2)}}" value="true"
																	[checked]="valueChecked(('deb' + (id + 2)), (id + 2))" (change)="valueIsDebit($event)"
																	(click)="clickToggle($event)" [disabled]="true"/>
																<label for="{{'Debit' + (id + 2)}}" class="m-0 pl-2">Debit</label><br />
															</div>
															<div class="mx-3 d-flex align-items-center">
																<input type="radio" id="{{'Credit' + (id + 2) }}" name="{{(id + 2)}}" value="false"
																	[checked]="valueChecked(('cred' + (id + 2)), (id + 2))"
																	(change)="valueIsDebit($event)" (click)="clickToggle($event)" [disabled]="true"/>
																<label for="{{'Credit' + (id + 2) }}" class="m-0 pl-2">Credit</label><br />
															</div>
														</div>
													</div>

												</mat-cell>
											</ng-container>

											<ng-container matColumnDef="action2">
												<mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
												<mat-cell *matCellDef="let cc; let id = index">
													<!-- <button mat-icon-button color="primary" matTooltip="Add Field" type="button"
														[ngClass]="'hideMaksField' + (id + 2)" [disabled]="totalField != (id + 2) ? true : false"
														(click)="addCC((id + 2))">
														<mat-icon>add</mat-icon>
													</button>
													<button mat-icon-button color="warn" matTooltip="Delete Field" type="button"
														[disabled]="totalField != (id + 2) ? true : false" (click)="removeCC(id)">
														<mat-icon>delete</mat-icon>
													</button> -->
												</mat-cell>
											</ng-container>

											<mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
										</mat-table>

										<!-- Message for empty data -->
										<div class="mat-table__message" *ngIf="!ccList.length">
											<button mat-icon-button color="primary" matTooltip="Add GL" type="button"
												(click)="addCCEmpty(ccList)">
												<mat-icon>add</mat-icon>
												Add GL Account
											</button>
										</div>
									</div>
									<!-- GL Account 2 END -->
								</div>


								<!-- Multi GL Account END -->

								<div class="form-group kt-form__group row">
									<!-- <div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-checkbox [(ngModel)]="isStatus" (change)="changeStatus()" formControlName="status">Paid
										</mat-checkbox>
									</div> -->
									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="memo" />
											<mat-error>Description is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->
									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Print Size" formControlName="printSize">
												<mat-option *ngFor="let list of printOptions" [value]="list.value">{{ list.name }}</mat-option>
											</mat-select>
											<mat-error>
												Print Size is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div> -->
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>