.form-group {
  &__with-toggler {
    margin-left: 15px;
    &.with-field {
      flex: 1;
      margin-left: 20px;
    }
  }

  .mat-checkbox-disabled {
    cursor: not-allowed;
  }
}

.opt-loader {
    display: inline-flex;
    align-items: center;
    mat-spinner {
      margin-right: 5px;
    }
}

::ng-deep section.billingNotif .section {
  color: #3d3d3d;
  font-family: 'Poppins', sans-serif;

  //  Style Form Date
  .form-input-date .mat-form-field-infix {
      font-family: 'Poppins', sans-serif;
      background-color: rgb(255, 255, 255);
      width: 100%;
      padding: 5px;
      border: 1.5px solid rgba(0, 0, 0, 0.257);
      border-radius: 3px;
  }

  .form-input-date .ic-date {
      position: absolute;
      right: 0;
      bottom: 0;
  }

  .form-input-date .label-custom {
      font-weight: 600;
  }


  //  Style Form Input
  .form-input .label-custom {
      font-weight: 600;
  }

  .form-input .label-actual-cons {
      font-weight: 600;
      color: green;
  }

  .form-input .mat-form-field-infix {
      font-family: 'Poppins', sans-serif;
      background-color: rgb(255, 255, 255);
      border: 1.5px solid rgba(0, 0, 0, 0.257);
      border-radius: 3px;
      padding: 5px;
  }

  .inpt-custom {
      font-family: 'Poppins', sans-serif;
  }

  .fnt-disabled {
      color: #3d3d3d74;
  }
}