:root {
  --black: #3d3d3d;
  --light: #ffffff;
  --graylight: #F7F7F7;
}

// body {
//   background-color: var(--light);
// }

.container.pos.login {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  width: 100vh;
  height: 100vh;
  background-color: transparent;
}

.container.pos.login .box {
  background-color: var(--light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.150);
  width: 100%;
  border-radius: 12px;
}

.container.pos.login .box .image {
  width: 100%;
  background-color: #EFEFEF;
  color: #193A85;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 13px;
}

.container.pos.login .box .form-input {
  flex-wrap: wrap;
}

.container.pos.login .box .form-input label {
  font-weight: 500;
  margin-right: 10px;
}

.container.pos.login .box .form-input input {
  background-color: var(--graylight);
  width: 70%;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.23);
  outline: none;
  padding: 8px;
}

.container.pos.login .box .form-input textarea {
  background-color: var(--graylight);
  width: 70%;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.23);
  outline: none;
  width: 100%;
  height: 85px;
  padding: 5px;
  resize: none;
}

.container.pos.login .box .send {
  margin: 10px 0 25px 0;
}

.container.pos.login .box .send-btn button {
  background-color: #C1E5FE;
  color: #193A85;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  transition: .2s;
}

.container.pos.login .box .send-btn button:hover {
  background-color: #92d1ff;
}

.container.pos.login .input-cash .fm {
  padding: 6.5px;
  border-top: 1.8px solid rgba(0, 0, 0, 0.190);
  border-bottom: 1.8px solid rgba(0, 0, 0, 0.190);
  border-right: 0.9px solid rgba(0, 0, 0, 0.190);
}

.container.pos.login .input-cash .cn {
  padding: 6.5px;
  border-bottom: 1.8px solid rgba(0, 0, 0, 0.190);
  border-top: 1.8px solid rgba(0, 0, 0, 0.190);
  border-left: 0.9px solid rgba(0, 0, 0, 0.190);
}

.container.pos.login .input-cash .fn-inp label {
  font-weight: 500;
}

.container.pos.login .input-cash .fn-inp input {
  background-color: var(--light);
  outline: none;
  border: 1.5px solid rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  width: 65px;
  padding: 5px;
}