<section>
	<form [formGroup]="posForm" class="container pos login d-flex justify-content-center align-items-center">
		<div class="box">
			<div class="image d-flex justify-content-center align-items-center">
				<h3>Opening Cash</h3>
			</div>
			<div class="p-4">
				<div class="form-input mt-1 d-flex justify-content-between align-items-center">
					<label for="name">
						Cash Amount (Rp.)
					</label>
					<!-- <input matInput (input)="changeAmount($event, 1)" formControlName="cashAmount"> -->
					<input matInput name="cost" (input)="changeAmount($event, 1)" formControlName="cashAmount" />
				</div>
				<div class="input-cash mt-4">
					<div class="row">
						<div class="col-md-6 fm">

							<mat-checkbox class="example-margin" (change)="toggleOpenCash($event, 'fm')"><u>Fiduciary Money</u>
							</mat-checkbox>
							<div class="fn-inp d-flex mt-3 align-items-center" formGroupName="fiduMoney">
								<table [hidden]="isCash">
									<tr>
										<td><label class="mr-2 pt-3">100,000</label></td>
										<td><input type="number" class="mt-2" formControlName="100rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">75,000</label></td>
										<td><input type="number" class="mt-2" formControlName="75rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">50,000</label></td>
										<td><input type="number" class="mt-2" formControlName="50rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">20,000</label></td>
										<td><input type="number" class="mt-2" formControlName="20rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">10,000</label></td>
										<td><input type="number" class="mt-2" formControlName="10rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">5,000</label></td>
										<td><input type="number" class="mt-2" formControlName="5rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">2,000</label></td>
										<td><input type="number" class="mt-2" formControlName="2rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">1,000</label></td>
										<td><input type="number" class="mt-2" formControlName="1rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-md-6 cn">

							<mat-checkbox class="example-margin" (change)="toggleOpenCash($event, 'cn')"><u>Coin</u></mat-checkbox>

							<div class="fn-inp d-flex mt-3 align-items-center" formGroupName="coinMoney">
								<table [hidden]="isCoin">
									<tr>
										<td><label class="mr-2 pt-3">1,000</label></td>
										<td><input type="number" class="mt-2" formControlName="1rb" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">500</label></td>
										<td><input type="number" class="mt-2" formControlName="5rts" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">200</label></td>
										<td><input type="number" class="mt-2" formControlName="2rts" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
									<tr>
										<td><label class="mr-2 pt-3">100</label></td>
										<td><input type="number" class="mt-2" formControlName="1rts" min="0" oninput="this.value = 
 								!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="form-input note mt-3">
					<label for="note">
						Note
					</label>
					<textarea name="note" id="note" cols="30" rows="10" placeholder="pecahan dua puluh ribu ada 10 item..."
						formControlName="noteOpening"></textarea>
				</div>
				<div class="send-btn mt-2">
					<button (click)="onSubmit()">Submit</button>
				</div>
			</div>
		</div>
	</form>
</section>