::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

table{
    width: 100%;
}

.chip {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;
    background-color: lightblue;
    border-radius: 25px;

    &--danger {
        color: #fff;
        background-color: #fd397a;
    }

    &--success {
        color: #fff;
        background-color: #00b93a;
    }

    &--warning {
        background-color: gold;
    }
}

.mark {
    background: none !important;
    font-size: 12px;

    &__title {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600
    }

    &__item {
        display: flex;
        align-items: center;

        &-color {
            height: 10px;
            width: 10px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
            background-color: lightblue;

            &--success {
                background-color: #00b93a;
            }
            &--warning {
                background-color: gold;
            }
            &--danger {
                background-color: #fd397a;
            }
        }
    }

    &.mt-xs-2 {
        @media screen and (max-width: 411px) {
            margin-top: 2em;
        }
    }
}

// Set width of mat-table
.mat-table__wrapper .mat-table {
    @media screen and (min-width: 412px) {
        min-width: 100%;
    }
}

// Set on width on first cols table 
mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: .35;
}