<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/comUnit']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Commercial Unit Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="comUnit">
						<form [formGroup]="comUnitForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Select Tenant" [formControl]="viewCustomerResult" [matAutocomplete]="csmrAuto" (keyup)="_onKeyup($event)" 
												>
												<mat-error>Fill input by selecting the given items</mat-error>
												<div *ngIf="loading.block" class="form-loader">
													<mat-spinner [diameter]="20"></mat-spinner> 
												</div>
												<mat-autocomplete #csmrAuto="matAutocomplete">
													<mat-option *ngFor="let item of customerResultFiltered" value="{{item.namaToko | titlecase}}" (click)="_setCustomerValue(item)" >
														{{item.namaToko | titlecase }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Select Unit Type" [formControl]="viewTypeResult" [matAutocomplete]="unitAuto" (keyup)="_onKeyup($event)" 
												>
												<mat-error>Fill input by selecting the given items</mat-error>
												<div *ngIf="loading.block" class="form-loader">
													<mat-spinner [diameter]="20"></mat-spinner> 
												</div>
												<mat-autocomplete #unitAuto="matAutocomplete">
													<mat-option *ngFor="let item of typeResultFiltered" value="{{item.unitTypeMaster | titlecase}} - {{item.unitType | titlecase}}" (click)="_setBlockValue(item)" >
														{{item.unitTypeMaster | titlecase }} - {{item.unitType | titlecase}}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Unit Code" formControlName="cdunt" autocomplete="off" maxlength="50"/>
												<mat-error>Unit Code is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Unit Name" formControlName="nmunt" autocomplete="off" maxlength="50"/>
												<mat-error>Unit Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Price" formControlName="price" autocomplete="off" maxlength="50"/>
											</mat-form-field>
										</div>
										<div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input 
												matInput placeholder="Unit Size" 
												formControlName="untsqr" 
												autocomplete="off" 
												maxlength="50"
												matInput
												(keydown)="inputKeydownSize($event)"
												/>
												<mat-error>Unit Size is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="form-group kt-form__group row">
										<div class="col-lg-12 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Description" formControlName="description" autocomplete="off" maxlength="50"/>
												<mat-error>Description is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
								</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

