<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/pwbill']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Power Billing Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="powbill">
						<form [formGroup]="powbillForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Billing No" formControlName="billingno"/>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="crtdt" placeholder="Created Date" formControlName="createdDate"/>
											<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
											<mat-datepicker #crtdt></mat-datepicker>
											<mat-error>Created Date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Unit" formControlName="owner" #unt (selectionChange)="getOwner(unt.value)">
												<mat-option *ngFor="let item of ownResult" [value]="item._id">
													{{item.unit.cdunt | uppercase}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Tenant Name" formControlName="tenantName" />
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Electricity Rate Name" formControlName="rate" />
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Electricity Rate Name" formControlName="powerrate">
												<mat-option *ngFor="let item of rateResult" [value]="item._id" >
													{{item.nmrtepow | uppercase }} - Rp. {{ item.rte }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Fee" formControlName="fee" 
											onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
											<span matPrefix>Rp&nbsp;</span>
												<mat-error>Water Rate is
													<strong>required</strong>
												</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="notes" />
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Account No" formControlName="customerBankNo" 
											onkeydown="javascript: return event.keyCode === 8 ||
											event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
											<mat-error>Account No is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Bank Name" formControlName="customerBank" />
											<mat-error>Payment From is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Payment Type" formControlName="paymentType">
												<mat-option value="Transfer">Transfer</mat-option>
												<mat-option value="Debit BCA">Debit BCA</mat-option>
												<mat-option value="Other Debit">Other Debit</mat-option>
												<mat-option value="Debit Credit Card">Debit Credit Card</mat-option>
										</mat-select>
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Paid To" formControlName="bank">
												<mat-option *ngFor="let item of bankResult" [value]="item._id" >
												{{item.acctName | uppercase}} - {{item.acctNum}}
												</mat-option>
											</mat-select>
											<mat-error>Account Bank is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Description" formControlName="desc" />
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

