.opt-loader {
  display: inline-flex;
  align-items: center;

  mat-spinner {
    margin-right: 5px;
  }
}

.mat-form-field-fluid.with-loader {
  position: relative;

  mat-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
  }
}

.mat-column-no {
  flex: 0 0 3%;
}

.mat-column-gl {
  flex: 0 0 25%;
}

.mat-column-desc {
  flex: 0 0 30%;
}


.chip {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  background-color: #21E15726;
  color: #21E157;
  border-radius: 25px;

  &--danger {
    color: #5C5C5C;
    background-color: #D3D3D3;
  }

  &--success {
    color: #518BFB;
    background-color: #518BFB26;
  }

  &--warning {
    background-color: #FBB75126;
    color: #FBB751;
  }

  &--paid {
    background-color: #3021E126;
    color: #3021E1;
  }

  &--primary {
    background-color: #5d78ff;
    color: white;
  }

  &--parsial-kurang-so {
    background-color: #B8BC0526;
    color: #B8BC05;
  }

  &--parsial-lebih-so {
    background-color: #005AAC26;
    color: #005AAC;
  }

  &--full-payment-so {
    background-color: #007E9A26;
    color: #007E9A;
  }

  // wo
  &--parsial-kurang-wo {
    background-color: #B84D0026;
    color: #B84D00;
  }

  &--parsial-lebih-wo {
    background-color: #5D00A626;
    color: #5D00A6;
  }

  &--full-payment-wo {
    background-color: #00B4B426;
    color: #00B4B4;
  }
}

::ng-deep .hidden-history .mat-tab-labels>.mat-tab-label:nth-child(2) {
  display: none;
}

.mat-table__wrapper .mat-table .mat-row {
  padding-top: 10px;
}

.slctinput {
  margin-top: -10px;
}