//  Time Picker
.hr-example-cstm input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.127);
    color: #3d3d3d;
    width: 50%;
  }

  .sty-default {
    font-family: 'Poppins', sans-serif;
  }