<kt-portlet>
  
  <!-- Portlet Header -->
  <kt-portlet-header title="General Ledger" class="kt-portlet__head--lg">
  </kt-portlet-header>
  
	<kt-portlet-body>
    <div class="kt-form">
      <mat-form-field>
        <mat-label>Month/Year</mat-label>
        <input matInput 
          [matDatepicker]="monthPicker" 
          [formControl]="monthDate" 
          placeholder="Month"
        >
        <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
        <mat-datepicker 
          #monthPicker
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, monthPicker)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      
      <!-- <span class="divider"> - </span>
      
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="endDate"
          placeholder="End date"
          (focus)="endDate.open()"
          (dateInput)="addDate('end', $event)"
          (dateChange)="addDate('end', $event)"
          #endDate
        >
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field> -->
      
      <div class="kt-form">
        <mat-form-field class="mat-form-field example-chips">
          <input type="text" matInput placeholder="Search COA" [matAutocomplete]="acctAuto" (keyup)="_onKeyupacctCoa($event)" >
          <mat-error>Fill input by selecting the given items</mat-error>
          <mat-autocomplete #acctAuto>
          <div *ngIf="loadingData.coa" class="form-loader">
            <mat-spinner [diameter]="10"></mat-spinner>
            </div>
            <mat-option *ngFor="let list of coaResult; let id = index" value="{{ list.acctNo }} - {{list.acctName}}" (click)="onSelect(list)">{{ list.acctNo }} - {{ list.acctName}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-chip-list #chipList aria-label="coa selection">
          <mat-chip *ngFor="let list of selectedCoa; let last = last"
            (removed)="deleteList(list._id, 'coa', list)" color="primary" selected>
            {{list.acctNo}} - {{list.acctName}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div> 

      <div class="d-flex flex-column flex-wrap mb-3 p-4 border border-secondary">
        <p class="font-italic">Choose Column</p>
        <div class="d-flex flex-wrap">
          <mat-checkbox class="w-25 p-2 font-weight-bold" 
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
            All
          </mat-checkbox>
          <mat-checkbox class="w-25 p-2" 
            *ngFor="let list of columnsList; let id = index" 
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(list) : null"
            [checked]="selection.isSelected(list)" 
          >
            {{ list }}
          </mat-checkbox>
        </div>
      </div>

      <div class="form__btn-group">
        <div class="form__btn-group__confirm">
          <button mat-flat-button class="mr-3" (click)="getPreviewSource()" color="primary" [disabled]="!valid || loading.status">
            Export PDF
          </button>
          <button mat-flat-button (click)="export()" color="primary" [disabled]="!valid || loading.status" >Export Excel</button>
        </div>
          <div *ngIf="loading.status" class="form__btn-group__confirm-loader">
            <mat-spinner [diameter]="20"></mat-spinner>
            <span>Preparing document preview</span>
          </div>
    
        <div *ngIf="preview.status">
          <button mat-flat-button color="primary" [matMenuTriggerFor]="download" [disabled]="loading.status">
            <span class="icon">
              <i class="flaticon2-download"></i>
            </span>
            <span>download</span>
          </button>
          <mat-menu #download>
            <button mat-menu-item (click)="downloadFile('pdf')">
              <img class="menu-icon" src="assets/media/icons/pdf-file.png" alt="spreadsheet">
              PDF
            </button>
            <!-- <button mat-menu-item (click)="downloadFile('spreadsheet')">
              <img class="menu-icon" src="assets/media/icons/spreadsheet.png" alt="spreadsheet">
              Excel
            </button> -->
          </mat-menu>
        </div>
      </div>
    </div>

    <iframe *ngIf="preview.status" class="kt-embed" [src]="preview.src"></iframe>
  </kt-portlet-body>
  
</kt-portlet>