::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.cmr-4 {
    margin-right: 4em;
}

.divider {
    margin-left: 1em;
    margin-right: 1em;
}

.chip {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;
    background-color: #21E15726;
    color: #21E157;
    border-radius: 25px;

    &--danger {
        color: #5C5C5C;
        background-color: #D3D3D3;
    }

    &--success {
        color: #518BFB;
        background-color: #518BFB26;
    }

    &--warning {
        background-color: #FBB75126;
        color: #FBB751;
    }

    &--primary {
        background-color: #5d78ff;
        color: white;
    }
}

.mark {
    background: none !important;
    font-size: 12px;

    &__title {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600
    }

    &__item {
        display: flex;
        align-items: center;

        &-color {
            height: 10px;
            width: 10px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
            background-color: lightblue;

            &--success {
                background-color: #00b93a;
            }

            &--warning {
                background-color: gold;
            }

            &--danger {
                background-color: #fd397a;
            }

            &--primary {
                background-color: #5d78ff;
            }
        }
    }

    &.mt-xs-2 {
        @media screen and (max-width: 411px) {
            margin-top: 2em;
        }
    }
}