<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/paymentPo']" class="btn btn-secondary kt-margin-r-10" mat-raised-button >
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)"  mat-raised-button >
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Edit PO Payment
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="paymentPo">
						<form [formGroup]="paymentPoForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="date" placeholder="Date" formControlName="date" (dateChange)="receivedHandler($event)"/>
											<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
											<mat-datepicker #date></mat-datepicker>
											<mat-error>Date is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Type PO" formControlName="typePO" #typepo (selectionChange)="typePOChange(typepo.value)">
												<mat-option *ngIf="loadingTypePO">
													<div class="opt-loader">
														<mat-spinner [diameter]="15"></mat-spinner>
													</div>
													</mat-option>
													<mat-option *ngIf="!loadingTypePO && !typePOList.length">Item is empty</mat-option>
													<mat-option *ngFor="let item of typePOList" [value]="item.type_value" >
													{{item.type_label}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div> -->
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid" >
											<input type="text" matInput placeholder="Search PO Receipts" formControlName="po_receipt_no" [matAutocomplete]="porAuto" (keyup)="filterPOR($event)">
											<mat-autocomplete #porAuto="matAutocomplete">
												<mat-option *ngFor="let item of PORResultFiltered" value="{{item.receipt_number | uppercase }}" (click)="poronChange(item)">
													{{item.receipt_number | uppercase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
										<ng-container>
											<mat-chip-list aria-label="POR selection">
												<mat-chip *ngFor="let item of selectedPOR" color="primary">
													<small>{{item.receipt_number | uppercase}}</small>
													<!-- <mat-icon matChipRemove (click)="deleteSelectedPOR(item)">cancel</mat-icon> -->
												</mat-chip>
											</mat-chip-list>
										</ng-container>
									</div>
								</div>
								<div class="form-group kt-form__group">
									<div class="kt-margin-top-20-mobile">
										<mat-label class="fw-bold">General Info</mat-label>
									</div>
									<div class="container border rounded">
										<div class="row kt-margin-top-20-mobile">
											<div class="col-lg-6 kt-margin-bottom-20-mobile">
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Purchase Invoice Number" formControlName="purchase_invoice_no" autocomplete="off" maxlength="50"/>
														<mat-error>Purchase Invoice Number is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Purchase Order Number" formControlName="po_no" autocomplete="off" maxlength="50"/>
														<mat-error>Purchase Order Number. is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="PO Receipts Number" formControlName="por_no" autocomplete="off" maxlength="50"/>
														<mat-error>PO Receipts Number is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Vendor" formControlName="vendor_name" autocomplete="off" maxlength="50"/>
														<mat-error>Vendor is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<!-- <div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Tax" formControlName="tax" autocomplete="off" maxlength="50"/>
														<mat-error>Tax is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div> -->
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput [matDatepicker]="date" placeholder="Date" formControlName="date" />
														<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
														<mat-datepicker #date></mat-datepicker>
														<mat-error>Date is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="row kt-margin-top-20-mobile">
													<div class="col-lg-6 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Term Payment" formControlName="term" autocomplete="off" maxlength="50"/>
															<mat-error>Term Payment is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-lg-6 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Term Period" formControlName="termPeriod" autocomplete="off" maxlength="50"/>
															<mat-error>Term Period is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="row kt-margin-top-20-mobile">
													<div class="col-lg-6 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Discount" formControlName="discountValue" autocomplete="off" maxlength="50"/>
															<mat-error>Term Payment is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-lg-6 kt-margin-bottom-20-mobile">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Discount Type" formControlName="discountType" autocomplete="off" maxlength="50"/>
															<mat-error>Term Period is
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput [matDatepicker]="planned_payment_date" placeholder="Planned Payment Date" formControlName="planned_payment_date" />
														<mat-datepicker-toggle matSuffix [for]="planned_payment_date"></mat-datepicker-toggle>
														<mat-datepicker #planned_payment_date></mat-datepicker>
														<mat-error>Planned Payment Date is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="kt-margin-bottom-20-mobile">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Notes" formControlName="notes" autocomplete="off" maxlength="50"/>
														<mat-error>Notes is
															<strong>required</strong>
														</mat-error>
													</mat-form-field>
												</div>
												
											</div>
											<div class="col-lg-6 kt-margin-bottom-20-mobile">
												<div class="amount_container">
													<div>
														<h2 class="md-title">Amounts PO</h2>
														<mat-divider></mat-divider>
													</div>
													<div class="container_amount">
														<div class="row kt-margin-bottom-20-mobile">
															<div class="label_amount">
																<h6 class="md-subhead">Sub Total</h6>
															</div>
															<div class="separator_amount">
																<h6 class="md-subhead">:</h6>
															</div>
															<div class="value_amount">
																<h6 class="md-subhead">Rp. {{paymentPoForm.get('subTotal').value | currency: "IDR": ""}}</h6>
															</div>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<div class="label_amount">
																<h6 class="md-subhead">Discount</h6>
															</div>
															<div class="separator_amount">
																<h6 class="md-subhead">:</h6>
															</div>
															<div class="value_amount">
																<h6 class="md-subhead">Rp. {{paymentPoForm.get('discountValue').value | currency: "IDR": ""}}</h6>
															</div>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<div class="label_amount">
																<h6 class="md-subhead">PPN</h6>
															</div>
															<div class="separator_amount">
																<h6 class="md-subhead">:</h6>
															</div>
															<div class="value_amount">
																<h6 class="md-subhead">Rp. {{paymentPoForm.get('ppn').value| currency: "IDR": ""}}</h6>
															</div>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<div class="label_amount">
																<h6 class="md-subhead">PPH</h6>
															</div>
															<div class="separator_amount">
																<h6 class="md-subhead">:</h6>
															</div>
															<div class="value_amount">
																<h6 class="md-subhead">Rp. {{paymentPoForm.get('pph').value | currency: "IDR": ""}}</h6>
															</div>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<div class="label_amount">
																<h6 class="md-subhead">Shipping Cost</h6>
															</div>
															<div class="separator_amount">
																<h6 class="md-subhead">:</h6>
															</div>
															<div class="value_amount">
																<h6 class="md-subhead">Rp. {{paymentPoForm.get('shippingCost').value | currency: "IDR": ""}}</h6>
															</div>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<div class="label_amount">
																<h6 class="md-subhead">Grand Total</h6>
															</div>
															<div class="separator_amount">
																<h6 class="md-subhead">:</h6>
															</div>
															<div class="value_amount">
																<h6 class="md-subhead">Rp. {{paymentPoForm.get('grandTotal').value | currency: "IDR": ""}}</h6>
															</div>
														</div>
													</div>
												</div>
												<div class="amount_container">
													<div>
														<h2 class="md-title">Amounts PO Receipt</h2>
														<mat-divider></mat-divider>
													</div>
													<div class="container_amount">
														<div class="row kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput formControlName="subTotalPOR" placeholder="Sub Total (Rp)">
															</mat-form-field>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput formControlName="discountValuePOR" placeholder="Discount (Rp)" (keyup)="onChangePORAmount($event, 'discount')">
															</mat-form-field>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput formControlName="ppnPOR" placeholder="PPN (Rp)" (keyup)="onChangePORAmount($event, 'ppn')">
															</mat-form-field>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput formControlName="pphPOR" placeholder="PPH (Rp)" (keyup)="onChangePORAmount($event, 'pph')">
															</mat-form-field>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput formControlName="shippingCostPOR" placeholder="Shipping Cost (Rp)" (keyup)="onChangePORAmount($event, 'shippingCost')">
															</mat-form-field>
														</div>
														<div class="row kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput formControlName="grandTotalPOR" placeholder="Grand Total (Rp)">
															</mat-form-field>
															<button ngxClipboard mat-icon-button color="primary" matTooltip="Copy" (cbOnSuccess)="copiedToClipboard($event)" [cbContent]="toRupiahNominal(paymentPoForm.get('grandTotalPOR').value)">
																<mat-icon>content_copy</mat-icon>
															</button>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<div class="form-group kt-form__group">
									<div class="kt-margin-top-20-mobile">
										<mat-label class="fw-bold">Payment Item</mat-label>
									</div>
									<div class="container border rounded">
										<div class="mat-table__wrapper">
											<ng-container formArrayName="products">
												<mat-table class="lmat-elevation-z8" mat-table #myTable [dataSource]="productList">
													<ng-container matColumnDef="product_code">
														<mat-header-cell *matHeaderCellDef>Product Code</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<!-- <div class="column">
																<input type="text" formControlName="productCode" matInput placeholder="Product Code" [matAutocomplete]="productAuto" (keyup)="filterProduct($event)" [readonly]="true">
																</mat-error>
															</div> -->
															{{element.value.productCode}}
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="product_brand">
														<mat-header-cell *matHeaderCellDef>Product Brand</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<!-- <div class="column">
																<input type="text" formControlName="productName" matInput placeholder="Search Product Brand" [matAutocomplete]="productAuto" (keyup)="filterProduct($event)" [readonly]="true">
																<mat-autocomplete #productAuto="matAutocomplete">
																	<mat-option *ngFor="let item of ProductResultFiltered" value="{{item.brand_name | uppercase }}" (click)="onChangeProduct(item, id, 'product')">
																		{{item.brand_name | uppercase }}
																	</mat-option>
																</mat-autocomplete>
																<mat-error *ngIf="productList[id].value?.isNotAvailable"> *Product Not Available
																</mat-error>
															</div> -->
															{{element.value.productName | uppercase}}
														</mat-cell>
													</ng-container>

													<ng-container matColumnDef="qty">
														<mat-header-cell *matHeaderCellDef>Qty</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<!-- <div class="column">
																<input formControlName="qty" type="number" placeholder="QTY" (input)="onChangeProduct($event, id, 'qty')" [readonly]="true">
															</div> -->
															{{element.value.qty}}
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="in_qty">
														<mat-header-cell *matHeaderCellDef>In Qty</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<!-- <div class="column">
																<input formControlName="in_qty" type="number" placeholder="in qty" (input)="onChangeProduct($event, id, 'qty')" [readonly]="true">
															</div> -->
															{{element.value.in_qty}}
														</mat-cell>
													</ng-container>
													<ng-container matColumnDef="uom">
														<mat-header-cell *matHeaderCellDef>Uom</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<div class="column">
																<!-- <input formControlName="uomName" type="text" matInput placeholder="Search UOM" [matAutocomplete]="uomAuto" (keyup)="filterUom($event)" [readonly]="true">
																<mat-autocomplete #uomAuto="matAutocomplete">
																	<mat-option *ngFor="let item of uomFiltered" value="{{item.uom | uppercase }}" (click)="onChangeProduct(item, id, 'uom')">
																		{{item.uom | uppercase }}
																	</mat-option>
																</mat-autocomplete> -->
																{{element.value.uomName}}
															</div>
														</mat-cell>
													</ng-container>
													
													<ng-container matColumnDef="price">
														<mat-header-cell *matHeaderCellDef>Price (Rp)</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<!-- <div class="column">
																<input formControlName="price" type="number" placeholder="Price" (input)="onChangeProduct($event, id, 'subTotal')" [readonly]="true">
															</div> -->
															{{element.value.price | currency: "IDR": ""}}
														</mat-cell>
													</ng-container>

													<ng-container matColumnDef="total">
														<mat-header-cell *matHeaderCellDef>Total (Rp)</mat-header-cell>
														<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
															<!-- <div class="column">
																<input formControlName="subTotal" type="number" placeholder="Total Price" (input)="onChangeProduct($event, id, 'subTotal')" [readonly]="true">
															</div> -->
															{{element.value.in_price | currency: "IDR": ""}}
														</mat-cell>
													</ng-container>

													<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
													<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
												</mat-table>
											</ng-container>
										</div>
										<!-- <div class="mat-table__bottom">
											<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
											<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50,100,500,1000,2000]"
												[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
										</div> -->
									</div>
								</div>
							</div>
						</form>
					</div>
					<div *ngIf="ap">
						<form [formGroup]="apForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try
								submitting again.
							</kt-alert>
							<div class="kt-margin-top-20-mobile">
								<mat-label class="fw-bold">Payment</mat-label>
							</div>
							<div class="container border rounded">
								<div class="kt-form__section kt-form__section--first">
									<div class="form-group kt-form__group row">
										
										<!-- <div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="crtdt" placeholder="Date" formControlName="date"
													(click)="crtdt.open()" autocomplete="off" />
												<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
												<mat-datepicker #crtdt></mat-datepicker>
												<mat-error>Date is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Deposit To" [formControl]="viewApResult"
													[matAutocomplete]="arAuto" (keyup)="_onKeyup($event)" />
												<mat-error>Fill input by selecting the
													given items</mat-error>
												<mat-autocomplete #arAuto="matAutocomplete">
													<mat-option *ngIf="loading.deposit">
														<div class="opt-loader">
															<mat-spinner [diameter]="15"></mat-spinner>
														</div>
													</mat-option>
													<mat-option *ngIf="
															!loading.deposit &&
															!apListResultFiltered.length
														">Item is empty</mat-option>
													<mat-option *ngFor="
															let item of apListResultFiltered
														" value="{{
															item.acctNo | titlecase
														}} - {{
															item.acctName
																| titlecase
														}}" (click)="_setApValue(item)">
														{{
														item.acctNo | titlecase
														}}
														-
														{{
														item.acctName
														| titlecase
														}}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Voucher No" formControlName="voucherno" />
												<mat-error>Voucher No is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div> -->
				
										<!-- Start Paid Form -->
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Paid Form" [formControl]="
														viewPaidFormResult
													" [matAutocomplete]="paidFormAuto" (keyup)="
														_onKeyupPaidForm($event)
													" />
												<mat-error>Fill input by selecting the
													given items</mat-error>
												<div *ngIf="loadingData" class="form-loader">
													<mat-spinner [diameter]="10"></mat-spinner>
												</div>
												<mat-autocomplete #paidFormAuto="matAutocomplete">
													<mat-option *ngFor="
															let item of PaidFormResultFiltered
														" value="{{
															item.acctNo
														}} - {{ item.acctName }}" (click)="_setPaidForm(item)">
														{{ item.acctNo }} -
														{{ item.acctName }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<!-- End Paid Form -->
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Voucher No" formControlName="voucherno" maxlength="30" />
												<mat-error>Voucher No is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Currency" formControlName="rate" />
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="crtdt" placeholder="Date" formControlName="date" (click)="crtdt.open()"
													autocomplete="off" />
												<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
												<mat-datepicker #crtdt></mat-datepicker>
												<mat-error>Date is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
				
									<div class="form-group kt-form__group row">
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Pay To" formControlName="payTo" />
												<mat-error>Pay To is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Payee" formControlName="payee" />
												<mat-error>Payee is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select matInput placeholder="Void chequeNo" formControlName="status">
													<mat-option value="active">Active</mat-option>
													<mat-option value="inactive">Inactive</mat-option>
												</mat-select>
												<mat-error>Void chequeNo is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div> -->
									</div>
				
				
									<!-- <div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Description Title" formControlName="payFrom" />
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Currency" formControlName="rate" />
											</mat-form-field>
										</div>
									</div> -->
				
									<div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="No Account" formControlName="noAccount" autocomplete="off" (keydown)="
														inputKeydownHandler($event)
													" maxlength="20" />
												<mat-error>No Account is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Bank" formControlName="bank">
													<mat-option *ngFor="
															let item of bankResult
														" [value]="item._id">
														{{ item.bank | uppercase }}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
				
				
									<!-- Multi GL Account START-->
									<div class="kt-form" formGroupName="multiGLAccount">
										<div class="mat-table__wrapper">
				
											<mat-table class="lmat-elevation-z8" mat-table #apTable [dataSource]="ccList" matSort #sort1="matSort"
												matSortDirection="asc" matSortDisabledClear>
				
												<ng-container matColumnDef="no">
													<mat-cell *matCellDef="let cc; let id = index">{{id + 1}}</mat-cell>
												</ng-container>
				
												<ng-container matColumnDef="gl">
													<mat-cell *matCellDef="let cc; let id = index">
														<div class="col-md-12 kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input type="text" matInput placeholder="GL Account" name="{{id + 1}}"
																formControlName="{{'glAcc' + (id + 1)}}" [matAutocomplete]="GlAuto" (keyup)="_onKeyupGL($event)" />
																<mat-error>Fill input by selecting the
																	given items</mat-error>
																<mat-autocomplete #GlAuto="matAutocomplete">
																	<mat-option *ngIf="loading.glaccount">
																		<div class="opt-loader">
																			<mat-spinner [diameter]="15"></mat-spinner>
																		</div>
																	</mat-option>
																	<mat-option *ngIf="
																	!loading.glaccount &&
																	!gLListResultFiltered.length
																">Item is empty
																	</mat-option>
																	<mat-option *ngFor="
																	let item of gLListResultFiltered
																" value="{{
																	item.acctNo | titlecase
																}} - {{
																	item.acctName
																		| titlecase
																}}" (click)="
																	_setGLAccount(item, ('target' + (id + 1)))
																">
																		{{
																		item.acctNo | titlecase
																		}}
																		-
																		{{
																		item.acctName
																		| titlecase
																		}}
																	</mat-option>
																</mat-autocomplete>
															</mat-form-field>
														</div>
				
													</mat-cell>
												</ng-container>
												<ng-container matColumnDef="amount">

													<mat-cell *matCellDef="let cc; let id = index">
														<div class="col-md-12 kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
																<input matInput placeholder="Amount" name="{{id + 1}}" (input)="changeAmount($event, (id + 1))"
																	formControlName="{{'amount' + (id + 1)}}" />
																<span matPrefix>Rp &nbsp;</span>
																<mat-error>Amount is
																	<strong>required</strong>
																</mat-error>
															</mat-form-field>
														</div>
				
													</mat-cell>
												</ng-container>
				
				
												<ng-container matColumnDef="desc">
													<mat-cell *matCellDef="let cc; let id = index">
														<div class="col-md-12 kt-margin-bottom-20-mobile">
															<mat-form-field class="mat-form-field-fluid">
															
																<input matInput placeholder="Description" name="{{id + 1}}"
																	formControlName="{{'memo' + (id + 1)}}" />
																<mat-error>Description is
																	<strong>required</strong>
																</mat-error>
															</mat-form-field>
														</div>
				
													</mat-cell>
												</ng-container>
				
												<ng-container matColumnDef="isdebit">
													<mat-cell *matCellDef="let cc; let id = index">
														<div class="col-md-12 d-flex flex-row align-items-center kt-margin-bottom-20-mobile">
															<div class="d-flex">
																<div class="d-flex align-items-center">
																	<input type="radio" id="{{'Debit' + (id + 1)}}" name="{{(id + 1)}}" value="true"
																	[checked]="valueChecked(('deb' + (id + 1)))" 
																	(change)="valueIsDebit($event)"
																	(click)="clickToggle($event)" />
																	<label for="{{'Debit' + (id + 1)}}" class="m-0 pl-2">Debit</label><br />
																</div>
																<div class="mx-3 d-flex align-items-center">
																	<input type="radio" id="{{'Credit' + (id + 1) }}" name="{{(id + 1)}}" value="false"
																	[checked]="valueChecked(('cred' + (id + 1)))"
																	(change)="valueIsDebit($event)"
																	(click)="clickToggle($event)"  />
																	<label for="{{'Credit' + (id + 1) }}" class="m-0 pl-2">Credit</label><br />
																</div>
															</div>
														</div>
				
													</mat-cell>
												</ng-container>
				
												<ng-container matColumnDef="action">
													<th mat-header-cell *matHeaderCellDef>actions</th>
													<mat-cell *matCellDef="let cc; let id = index">
														<button mat-icon-button color="primary" matTooltip="Add Field" type="button"
															[ngClass]="'hideMaksField' + (id + 1)" [disabled]="totalField != (id + 1) ? true : false"
															(click)="addCC((id + 1))">
															<mat-icon>add</mat-icon>
														</button>
														<button mat-icon-button color="warn" matTooltip="Delete Field" type="button"
															[disabled]="totalField != (id + 1) ? true : false" (click)="removeCC(id)">
															<mat-icon>delete</mat-icon>
														</button>
													</mat-cell>
												</ng-container>
				
												<mat-row *matRowDef="let row; columns: displayedColumnsAp"></mat-row>
											</mat-table>
				
											<div class="mat-table__message" *ngIf="!ccList.length">
												<button mat-icon-button color="primary" matTooltip="Add GL" type="button" (click)="addCCEmpty(ccList)">
													<mat-icon>add</mat-icon>
													Add GL Account
												</button>
											</div>
										</div>
									</div>
				
				
									<!-- Multi GL Account END -->
				
				
									<!-- <div class="form-group kt-form__group row">
										<div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-checkbox [(ngModel)]="isStatus" (change)="changeStatus()" formControlName="status">Paid
											</mat-checkbox>
										</div> -->
									<!-- <div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Print Size" formControlName="printSize">
													<mat-option *ngFor="let list of printOptions" [value]="list.value">{{ list.name }}</mat-option>
												</mat-select>
												<mat-error>
													Print Size is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div> -->
				
									<!-- </div> -->
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

