<div
  class="kt-portlet"
  [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }"
>
  <div class="kt-portlet__head kt-portlet__head__custom">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">Add Account List</h3>
    </div>
  </div>
  
  <div class="kt-portlet__body">
    <kt-alert *ngIf="errorMessage" type="warn" [duration]="300000" [showCloseButton]="true" (close)="onAlertClose($event)">
      {{ errorMessage ? errorMessage : 'Oh snap! Change a few things up and try submitting again.' }}
    </kt-alert>

    <div class="kt-form">
			<!-- start:FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search Account name or number" #searchInput placeholder="Search" (keyup)="_onKeyup($event)">
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end:FILTERS -->
		</div>

    <!-- start::TABLES & PAGINATION -->
    <div class="mat-table__wrapper">
      <mat-table class="lmat-elevation-z8"
        #table
        [dataSource]="accountList"
        matSort
        #sort1="matSort"
        matSortDirection="asc"
        matSortDisabledClear
      >

      <ng-container matColumnDef="check">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox class="w-25 p-2 font-weight-bold" 
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let account">
          <mat-checkbox class="w-25 p-2" 
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(account) : null"
            [checked]="selection.isSelected(account)" 
            *ngIf="account.depth === 0"
          ></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acctNo">
        <mat-header-cell *matHeaderCellDef>Account No.</mat-header-cell>
        <mat-cell *matCellDef="let account">
          <span [ngStyle]="{
            'margin-left': (10 * account.depth).toLocaleString().concat('px'),
            'font-weight': !account.isChild && '900' 
          }">
            {{	account.acctNo | titlecase 	}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acctName">
        <mat-header-cell *matHeaderCellDef>Account Name</mat-header-cell>
        <mat-cell *matCellDef="let account">
          <span [ngStyle]="{
            'margin-left': (10 * account.depth).toLocaleString().concat('px'),
            'font-weight': !account.isChild && '900' 
          }">
            {{	account.acctName | titlecase 	}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accType">
        <mat-header-cell *matHeaderCellDef>Account Type</mat-header-cell>
        <mat-cell *matCellDef="let account">{{	account.AccType?.acctype | titlecase }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
        <mat-cell *matCellDef="let account">{{ account.balance ? (account.balance | currency: 'IDR':'') : '0'	}}</mat-cell>
      </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data -->
			<div class="mat-table__message" *ngIf="accountList && !accountList.length">No records found</div>
      <div class="list_loader" *ngIf="dataLoading">
        <mat-spinner [diameter]="20"></mat-spinner>
        <span>Please wait....</span>
      </div>
    </div>
  </div>

  <div class="kt-portlet__foot p-0">
    <div class="kt-portlet__body">
      <div class="row text-right">
        <div class="col-lg-12">
          <button [disabled]="viewLoading" class="mr-2" type="button" mat-raised-button mat-dialog-close cdkFocusInitial matTooltip="Close">
            Close
          </button>
          <button (click)="onSubmit()" [disabled]="viewLoading || !selection.selected.length" color="primary" type="button" mat-raised-button cdkFocusInitial matTooltip="Add">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>