::ng-deep .hidden-electricity .mat-tab-labels>.mat-tab-label:nth-child(2) {
  display: none;
}

.bill-styling {
  font-family: 'Poppins', sans-serif;
  color: #3d3d3d;
}

.hide-scroll {
  overflow: hidden;
}

.line-border {
  margin: 35px 0;
  width: 100%;
  height: 2px;
  background-color: #E5E5E5;
}