<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/absensi']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!-- <button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading">
				<span class="kt-hidden-mobile">Save</span>
			</button> -->
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Clockin Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="absensi">
						<form [formGroup]="absensiForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="User" formControlName="user" autocomplete="off" maxlength="50"/>
											<mat-error>User is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="date" placeholder="Date" formControlName="date"/>
											<mat-error>Email is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Time Clockin" formControlName="clockIn" autocomplete="off" maxlength="50"/>
											<mat-error>Phone is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Location Clockin" formControlName="location_in"
											>
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Schedule" formControlName="shift"
											>
											<!-- <span>{{absensiForm.get("shift").value.start_schedule}} - {{absensiForm.get("shift").value.end_schedule}}</span> -->
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
										</mat-form-field>
									</div>
									<!-- this supposed to be location -->
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Type" formControlName="type" [matAutocomplete]="locationAuto" (keyup)="_onKeyup($event, 'location')"
											>
											<mat-error>Fill input by selecting the given items</mat-error>
											<!-- <div *ngIf="loading.block" class="form-loader">
												<mat-spinner [diameter]="20"></mat-spinner>
											</div> -->
											<mat-autocomplete #locationAuto="matAutocomplete">
												<mat-option *ngFor="let item of locationListFiltered" value="{{item.name | titlecase}}" (click)="_setFormValue(item, 'location')" >
													{{item.name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-12 kt-margin-bottom-10-mobile margin_h_20">
										<mat-label>Attachment</mat-label>
										<div class="preview__container">
											<div class="preview__container-images">
												<div class="preview__frame">
													<a href={{attachments[0]}} target="_blank" *ngIf="attachments.length > 0">
														<img src={{attachments[0]}}>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Clockout Info
				</ng-template>
				<ng-template matTabContent>
					<div *ngIf="absensi">
						<form [formGroup]="absensiForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="User" formControlName="user" autocomplete="off" maxlength="50"/>
											
										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="date" placeholder="Date" formControlName="date"/>

										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Time Clockout" formControlName="clockOut" autocomplete="off" maxlength="50"/>

										</mat-form-field>
									</div>
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Location Clockout" formControlName="location_out"
											>
											
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Schedule" formControlName="shift"
											>

										</mat-form-field>
									</div>
									<!-- this supposed to be location -->
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="text" matInput placeholder="Type" formControlName="type" [matAutocomplete]="locationAuto" (keyup)="_onKeyup($event, 'location')"
											>
											<mat-autocomplete #locationAuto="matAutocomplete">
												<mat-option *ngFor="let item of locationListFiltered" value="{{item.name | titlecase}}" (click)="_setFormValue(item, 'location')" >
													{{item.name | titlecase }}
												</mat-option>
											</mat-autocomplete>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-12 kt-margin-bottom-10-mobile margin_h_20">
										<mat-label>Attachment</mat-label>
										<div class="preview__container">
											<div class="preview__container-images">
												<div class="preview__frame">
													<a href={{attachments[1]}} target="_blank" *ngIf="attachments.length > 1">
														<img src={{attachments[1]}}>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

