<kt-portlet>
	<kt-portlet-header
		[title]="getComponentTitle()"
		[class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$"
	>
		<ng-container ktPortletTools>
			<a
				[routerLink]="['/taskManagementMaster']"
				class="btn btn-secondary kt-margin-r-10"
				mat-raised-button
			>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading">
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div>
			<form
				[formGroup]="taskManagementMasterForm"
				class="kt-form kt-form--group-seperator-dashed"
			>
				<kt-alert
					*ngIf="hasFormErrors"
					type="warn"
					[showCloseButton]="true"
					[duration]="10000"
					(close)="onAlertClose($event)"
				>
					Oh snap! Change a few things up and try submitting again.
				</kt-alert>
				<div class="kt-form__section kt-form__section--first">
					<div class="form-group kt-form__group row">
						<div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input
									type="text" 
									matInput
									placeholder="Department"
									[formControl]="viewDepartmentResult"
									[matAutocomplete]="departmentAuto"
									(keyup)="_onKeyup($event, 'department')"
								/>
								<mat-autocomplete #departmentAuto="matAutocomplete">
									<mat-option *ngFor="let item of departmentListFiltered" value="{{item.department_name | titlecase}}" (click)="_setFormValue(item, 'department')" >
										{{item.department_name | titlecase }}
									</mat-option>
								</mat-autocomplete>
								<mat-error
									>Department is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input
									matInput
									placeholder="Division"
									[formControl]="viewDivisionResult"
									[matAutocomplete]="divisionAuto"
									(keyup)="_onKeyup($event, 'division')"
								/>
								<mat-autocomplete #divisionAuto="matAutocomplete">
									<mat-option *ngFor="let item of divisionListFiltered" value="{{item.division_name | titlecase}}" (click)="_setFormValue(item, 'division')" >
										{{item.division_name | titlecase }}
									</mat-option>
								</mat-autocomplete>
								<mat-error
									>Division is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="form-group kt-form__group row">
						<div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input
									matInput
									placeholder="User"
									[formControl]="viewUserResult"
									[matAutocomplete]="userAuto"
									(keyup)="_onKeyup($event, 'user')"
								/>
								<mat-autocomplete #userAuto="matAutocomplete">
									<mat-option *ngFor="let item of userListFiltered" value="{{item.name | titlecase}}" (click)="_setFormValue(item, 'user')" >
										{{item.name | titlecase }}
									</mat-option>
								</mat-autocomplete>
								<mat-error
									>User is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input
									matInput
									placeholder="Checkpoint"
									[formControl]="viewCheckpointResult"
									[matAutocomplete]="checkpointAuto"
									(keyup)="_onKeyup($event, 'checkpoint')"
								/>
								<mat-autocomplete #checkpointAuto="matAutocomplete">
									<mat-option *ngFor="let item of checkpointListFiltered" value="{{item.name | titlecase}}" (click)="_setFormValue(item, 'checkpoint')" >
										{{item.name | titlecase }}
									</mat-option>
								</mat-autocomplete>
								<mat-error
									>Checkpoint is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="form-group kt-form__group row">
						<div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-label>Start Date</mat-label>
								<input matInput [matDatepicker]="dp" formControlName="start_date">
								<mat-hint>MM/DD/YYYY</mat-hint>
								<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
								<mat-datepicker #dp >
								</mat-datepicker>
								<mat-error
									>Time is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-3 kt-margin-bottom-20-mobile">
							<mat-label>Start Time</mat-label>
							<div class="hr-example-cstm sty-default">
								<input placeholder="Start Time" aria-label="Waktu Mulai" [ngxTimepicker]="startTime"
									[format]="24" readonly formControlName="start_time">
								<ngx-material-timepicker (timeSet)="setFormTime($event, 'start_time')" #startTime>
								</ngx-material-timepicker>
							</div>
						</div>
						<div class="col-lg-3 kt-margin-bottom-20-mobile">
							<mat-label>End Time</mat-label>
							<div class="hr-example-cstm sty-default">
								<input placeholder="End Time" aria-label="Waktu Selesai" [ngxTimepicker]="endTime"
									[format]="24" readonly formControlName="end_time">
								<ngx-material-timepicker (timeSet)="setFormTime($event, 'end_time')" #endTime>
								</ngx-material-timepicker>
							</div>
						</div>
					</div>
					<div class="form-group kt-form__group row">
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Select Repetition" formControlName="repeat">
									<mat-option *ngFor="let item of repeatOptions" [value]="item">
										{{item.label | titlecase}}
									</mat-option>
								</mat-select>
								<mat-error>Repeat is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-6 kt-margin-bottom-20-mobile" *ngIf="taskManagementMasterForm.controls.repeat.value?.value !== 0">
							<p class="font-italic">Choose Days</p>
							<div class="row">
								<mat-checkbox class="w-25 p-2" 
								*ngFor="let list of daysList; let id = index" 
								(click)="$event.stopPropagation()"
								(change)="$event ? selection.toggle(list) : null"
								[checked]="selection.isSelected(list)" 
							  >
								{{ list.label }}
							  </mat-checkbox>
							</div>
						</div>
					</div>
					<div class="form-group kt-form__group row">
						<div class="col-lg-6 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<textarea
									matInput
									placeholder="Deskripsi"
									formControlName="task_desc"
									rows="4"
								></textarea>
								<mat-error
									>deskripsi is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-lg-4 kt-margin-bottom-20-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input
									matInput
									placeholder="Survey Template"
									[matAutocomplete]="surveyTemplateAuto"
									(keyup)="_onKeyup($event, 'surveyTemplate')"
								/>
								<mat-autocomplete #surveyTemplateAuto="matAutocomplete">
									<mat-option *ngFor="let item of surveyTemplateListFiltered" value="{{item.name | titlecase}}" (click)="generateSurvey(item)" >
										{{item.name | titlecase }}
									</mat-option>
								</mat-autocomplete>
								<mat-error
									>survey template is
									<strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="mat-table__wrapper">
						<ng-container formArrayName="remark">
							<mat-table class="lmat-elevation-z8" mat-table #myTable [dataSource]="listRemark">
								<ng-container matColumnDef="question">
									<mat-cell *matCellDef="let element; let id = index" [formGroup]="element">
										<div class="col-lg-6 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<mat-label>Question {{id + 1}}</mat-label>
												<input matInput placeholder="Question" formControlName="question"/>
											</mat-form-field>
										</div>
									</mat-cell>
								</ng-container>
								<ng-container matColumnDef="actions">
									<mat-cell *matCellDef="let element; let id = index">
										<button mat-icon-button color="primary" matTooltip="Add Field" type="button" (click)="addQuestionToList(id)">
											<mat-icon>add</mat-icon>
										</button>
										<button mat-icon-button color="warn" matTooltip="Delete Field" type="button"
											[disabled]="id === 0" (click)="removeQuestionFromList(id)">
											<mat-icon>delete</mat-icon>
										</button>
									</mat-cell>
								</ng-container>

								<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
							</mat-table>
						</ng-container>
					</div>
				</div>
			</form>
		</div>
	</kt-portlet-body>
</kt-portlet>
