::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.cmr-4 {
    margin-right: 4em;
}
.divider {
    margin-left: 1em;
    margin-right: 1em;
}