<div class="auth">
	<div class="auth--section-bg-bms">
		<div class="auth--be-management">
			<h1>Apartatech</h1>
			<h4>Tenant and Property Management System</h4>
			<br>
			<p>
				Apartatech merupakan aplikasi yang berfokus pada tata pengelolaan operasional hunian.
				Apartatech mampu mentransformasi hunian anda menjadi hunian yang ideal dan nyaman.
				Dengan tersediannya aplikasi yang dapat diakses oleh semua pihak dihunian anda menjadikan Apartatech menjadi
				aplikasi yang terintegrasi untuk segala kebutuhan operasional hunian.
			</p>
			<br>
			<a href="https://mgindotech.com/" class="auth--custom-black" target="_blank">Read More</a>
			<br> <br>
			<p>Telah Tersedia Di</p>
			<a href="https://play.google.com/store/apps/details?id=com.mgindotech.bm&pli=1" target="_blank">
				<img src="assets/media/illustrations/playstore.png" alt="playstore" width="150">
			</a>
			<br>
			<a href="https://apps.apple.com/us/app/be-management/id1594535554" target="_blank">
				<img src="assets/media/illustrations/appstore.png" alt="apstore" width="150">
			</a>
		</div>
		<img src="assets/media/illustrations/waves-top.svg" alt="waves" class="auth--waves-top">
		<img src="assets/media/illustrations/waves-bot.svg" alt="waves" class="auth--waves-bot">
		<img src="assets/media/illustrations/build-bms.png" alt="build-bms" class="auth--build-bms">

		<p class="auth--cp-bms">
			© 2023 Apartatech
		</p>
	</div>
	<div class="auth--section-form-bms">
		<div class="auth__wrapper">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>