// ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
//     opacity: 0.54 !important;
//     transform: translateY(0px) !important;
// }

.btn-export {
    background-color: #00b93a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

// table {
//     width: 100%;
// }

// kt-portlet-body {
//     display: flex;
//     flex-direction: column;
//     padding: 10px 25px 10px 25px !important;
//     border-radius: 4px;
// }

// .chip {
//     display: inline-block;
//     padding: 4px 14px;
//     font-size: 11px;
//     font-weight: 600;
//     text-transform: lowercase;
//     background-color: lightblue;
//     border-radius: 25px;

//     &--danger {
//         color: #fff;
//         background-color: #fd397a;
//     }

//     &--success {
//         color: #fff;
//         background-color: #00b93a;
//     }

//     &--warning {
//         background-color: gold;
//     }

//     &--primary {
//         background-color: #5d78ff;
//         color: white;
//     }

//     &--outstanding {
//         color: #5C5C5C;
//         background-color: #D3D3D3;
//     }

//     &--full-payment {
//         color: #518BFB;
//         background-color: #518BFB26;
//     }

//     &--parsial-kurang {
//         background-color: #FBB75126;
//         color: #FBB751;
//     }

//     &--parsial-lebih {
//         background-color: #21E15726;
//         color: #21E157;
//     }

//     &--paid {
//         background-color: #3021E126;
//         color: #3021E1;
//     }
// }

// .mark {
//     background: none !important;
//     font-size: 11px;

//     &__title {
//         margin-bottom: 5px;
//         font-size: 14px;
//         font-weight: 600
//     }

//     &__item {
//         display: flex;
//         align-items: center;

//         &-color {
//             height: 10px;
//             width: 10px;
//             display: inline-block;
//             border-radius: 50%;
//             margin-right: 5px;
//             background-color: lightblue;

//             &--success {
//                 background-color: #00b93a;
//             }

//             &--warning {
//                 background-color: gold;
//             }

//             &--danger {
//                 background-color: #fd397a;
//             }

//             &--primary {
//                 background-color: #5d78ff;
//             }

//             &--outstanding {
//                 background-color: #5C5C5C;
//             }

//             &--full-payment {
//                 background-color: #518BFB;
//             }

//             &--parsial-kurang {
//                 background-color: #FBB751;
//             }

//             &--parsial-lebih {
//                 background-color: #21E157;
//             }

//             &--paid {
//                 background-color: #3021E1;
//             }
//         }
//     }

//     &.mt-xs-2 {
//         @media screen and (max-width: 411px) {
//             margin-top: 2em;
//         }
//     }
// }

// // Set width of mat-table
// .mat-table__wrapper .mat-table {
//     @media screen and (min-width: 412px) {
//         min-width: 100%;
//     }
// }

// // Set on width on first cols table
// mat-cell:nth-child(1),
// mat-header-cell:nth-child(1) {
//     flex: .35;
// }

// .mat-icon-button {
//     // padding: 10 0 10 0 !important;
//     max-width: 30px !important;
// }

// .mat-column-totalBilling,
// .mat-column-payCond {
//     flex: 0 0 12%;
// }

// .clr-red {
//     color: red;
// }

// .mat-column-isPaid {
//     flex: 0 0 8%;
// }

// .mat-column-isPost {
//     flex: 0 0 8%;
// }

// .mat-column-paymentStatus {
//     flex: 0 0 8%;
// }

// .mat-column-print_invoice {
//     flex: 0 0 5%;
// }

// .mat-column-print_receipt {
//     flex: 0 0 5%;
// }

// // Pop Up Process Generate
// .process-generate {
//     h3 {
//         color: #3d3d3d
//     }

//     .warn-alert {
//         font-size: 16px;
//         color: #fff;
//         background-color: #C2C200
//     }

//     .success-alert {
//         font-size: 12px;
//         color: #fff;
//         background-color: #C2C200
//     }

//     .load-process {
//         font-size: 16px;
//         font-weight: 500;
//         color: #3d3d3d
//     }
// }

.chip {
    display: inline-block;
    padding: 4px 14px;
    font-size: 11px;
    font-weight: 600;
    text-transform: lowercase;
    background-color: lightblue;
    border-radius: 25px;

    &--danger {
        color: #fff;
        background-color: #fd397a;
    }

    &--success {
        color: #fff;
        background-color: #00b93a;
    }

    &--warning {
        background-color: gold;
    }

    &--primary {
        background-color: #5d78ff;
        color: white;
    }

    &--outstanding {
        color: #5C5C5C;
        background-color: #D3D3D3;
    }

    &--full-payment {
        color: #518BFB;
        background-color: #518BFB26;
    }

    &--parsial-kurang {
        background-color: #FBB75126;
        color: #FBB751;
    }

    &--parsial-lebih {
        background-color: #21E15726;
        color: #21E157;
    }

    &--paid {
        background-color: #3021E126;
        color: #3021E1;
    }
}