.opt-loader {
  display: inline-flex;
  align-items: center;

  mat-spinner {
    margin-right: 5px;
  }
}

.mat-form-field-fluid.with-loader {
  position: relative;

  mat-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
  }
}

.mat-column-no {
  flex: 0 0 3%;
}

.mat-column-gl {
  flex: 0 0 25%;
}

.mat-column-desc {
  flex: 0 0 30%;
}

.hideMaksField10 {
  display: none;
}

.mat-table__wrapper .mat-table .mat-row {
  padding-top: 10px;
}