<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/invoice']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" [disabled]="loading" mat-raised-button>
				<span class="kt-hidden-mobile">Save</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Invoice Info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<ng-template [ngIf]="!loadingForm" [ngIfElse]="onLoadingForm">
					<div>
						<form [formGroup]="invoiceForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Invoice No." formControlName="invoiceno"/>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="crtdt" placeholder="Invoice In Date" formControlName="invoicedte"/>
											<mat-datepicker-toggle matSuffix [for]="crtdt"></mat-datepicker-toggle>
											<mat-datepicker #crtdt></mat-datepicker>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput [matDatepicker]="Period" placeholder="Invoice Period" formControlName="invoicedteout"/>
											<mat-datepicker-toggle matSuffix [for]="Period"></mat-datepicker-toggle>
											<mat-datepicker #Period></mat-datepicker>
											<mat-error>Invoice Date Period is
												<strong>required</strong>
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Request Deposit" formControlName="request" #requestInvoice (selectionChange)="getRequestInvoice(requestInvoice.value)">
												<mat-option *ngFor="let item of requestResult" [value]="item._id" >
													{{item.request_no | uppercase}}
												</mat-option>
											</mat-select> 
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Unit" formControlName="unit" #unt (selectionChange)="getSingleCustomer(unt.value)">
												<mat-option *ngFor="let item of ownResult" [value]="item._id" >
													{{item.cdunt | uppercase}}
												</mat-option>
											</mat-select> 
										</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Tenant Name" formControlName="custname"/>
												<mat-error>Tenant Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
									</div>
									<div class="col-lg-3 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<mat-select placeholder="Select Deposit Type" formControlName="deposittype" (selectionChange)="getdps()">
													<mat-option value="security deposit">Security Deposit</mat-option>
													<mat-option value="fitting out deposit">Fitting Out Deposit</mat-option>
													<mat-option value="pinjam pakai deposit">Pinjam Pakai Deposit</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group kt-form__group row">
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Amount Deposit" formControlName="amount"
												type="number"
												onkeydown="javascript: return event.keyCode === 8 ||
												event.keyCode === 46 ? true : !isNaN(Number(event.key))" (change)="changeValue()"/>
												
												<span matPrefix>Rp&nbsp;</span>
												<mat-error>Tenant Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile"  [hidden]="isAdmin">
											<mat-form-field class="mat-form-field-fluid">
												<mat-select placeholder="Select Admin Type" formControlName="typerate" (change)="changeValue()">
														<mat-option value="pr">Persen Rate</mat-option>
														<mat-option value="fr">Fixed Rate</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile"  [hidden]="isAdmin">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Admin ( Rp. / % )" formControlName="admin"  (change)="changeValue()"
												type="number"
												onkeydown="javascript: return event.keyCode === 8 ||
												event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
												
												<mat-error>Tenant Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-lg-3 kt-margin-bottom-20-mobile">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Total Amount" formControlName="total"
												
												onkeydown="javascript: return event.keyCode === 8 ||
												event.keyCode === 46 ? true : !isNaN(Number(event.key))"/>
												<span matPrefix>Rp&nbsp;</span>
												<mat-error>Tenant Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
								</div>
								<div class="form-group kt-form__group row">
									<div class="col-lg-6 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<textarea matInput placeholder="Description" rows="3" formControlName="desc"></textarea>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					</ng-template>

					<ng-template #onLoadingForm>
						<div class="text-center pt-4 pb-4">
							<div class="d-inline-block mx-auto">
								<mat-spinner [diameter]="20"></mat-spinner>
							</div>
							<div>
								<span>Loading Form</span>
							</div>
						</div>
					</ng-template>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
